<h2>Development components</h2>

<div class="component">
  <!-- Audio recorder -->
  <h3>Recorder</h3>

  <div class="table">
    <div>
      <app-audio-recorder codeRepresent [audioSrc]=""></app-audio-recorder>
    </div>
  </div>

  <!-- Location -->

  <h3>Location</h3>

  <app-location></app-location>

  <!-- Banners -->
  <h3>Button</h3>
  <div class="table">
    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'primary'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'primary'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'primary'" [noPadding]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'primary'" [bigPadding]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'primary-2'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'primary-2'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'secondary'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'secondary'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'reject'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'reject'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'outlined'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'outlined'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'danger'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'danger'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'destructive-outline'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'destructive-outline'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'link'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'link'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'link-2'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'link-2'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'link-3'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'link-3'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'select-option'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'select-option'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'tertiary'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'tertiary'" [disabled]="true">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'tertiary-2'">Text</app-button>
    </div>

    <div>
      <app-button codeRepresent [mode]="'v2'" [variant]="'tertiary-2'" [disabled]="true">Text</app-button>
    </div>
    <div>
      <app-radio>Text</app-radio>
    </div>
  </div>

  <!-- Banners -->
  <h3>Banner</h3>
  <div class="table">
    <div>
      <loop-banner codeRepresent [prefixIcon]="LoopIcon.Name.Info" [bannerTheme]="BannerTheme.INFO" [text]="'Text'"></loop-banner>
    </div>

    <div>
      <loop-banner codeRepresent [prefixIcon]="LoopIcon.Name.Info" [bannerTheme]="BannerTheme.SUCCESS" [text]="'Text'"></loop-banner>
    </div>

    <div>
      <loop-banner codeRepresent [prefixIcon]="LoopIcon.Name.Info" [bannerTheme]="BannerTheme.WARNING" [text]="'Text'"></loop-banner>
    </div>

    <div>
      <loop-banner codeRepresent [prefixIcon]="LoopIcon.Name.Info" [bannerTheme]="BannerTheme.ERROR" [text]="'Text'"></loop-banner>
    </div>

    <div>
      <loop-banner codeRepresent [bannerTheme]="BannerTheme.ERROR" [text]="'Text'"></loop-banner>
    </div>
  </div>

  <!-- Icons -->
  <h3>Icons</h3>
  <div class="table">
    <div>
      <loop-icon
        codeRepresent
        [name]="LoopIcon.Name.AudioPlayerDelete"
        [theme]="LoopIcon.Theme.Danger"
        [isThemeReverted]="true"
        [isButton]="true"
      ></loop-icon>
    </div>

    <div>
      <loop-icon
        codeRepresent
        [name]="LoopIcon.Name.AudioPlayerDelete"
        [theme]="LoopIcon.Theme.Alert"
        [isThemeReverted]="true"
        [isButton]="true"
      ></loop-icon>
    </div>

    <div>
      <loop-icon
        codeRepresent
        [name]="LoopIcon.Name.AudioPlayerDelete"
        [theme]="LoopIcon.Theme.Neutral"
        [isThemeReverted]="true"
        [isButton]="true"
      ></loop-icon>
    </div>

    <div>
      <loop-icon codeRepresent [name]="LoopIcon.Name.AudioPlayerPlay" [theme]="LoopIcon.Theme.Action" [isButton]="true"></loop-icon>
    </div>

    <div>
      <loop-icon codeRepresent [name]="LoopIcon.Name.AudioPlayerReplay" [theme]="LoopIcon.Theme.Primary" [isButton]="true"></loop-icon>
    </div>

    <div>
      <loop-icon codeRepresent [name]="LoopIcon.Name.AudioPlayerPause" [theme]="LoopIcon.Theme.Emphasis" [isButton]="true"></loop-icon>
    </div>

    <div>
      <loop-icon codeRepresent [name]="LoopIcon.Name.AudioPlayerPause" [theme]="LoopIcon.Theme.Neutral" [isButton]="true"></loop-icon>
    </div>

    <div>
      <loop-icon codeRepresent [name]="LoopIcon.Name.AudioPlayerPause" [theme]="LoopIcon.Theme.Alert" [isButton]="true"></loop-icon>
    </div>

    <div>
      <loop-icon codeRepresent [name]="LoopIcon.Name.AudioPlayerPause" [theme]="LoopIcon.Theme.Emphasis" [isButton]="true"></loop-icon>
    </div>

    <div>
      <loop-icon codeRepresent [name]="LoopIcon.Name.AudioPlayerPause" [theme]="LoopIcon.Theme.Neutral" [isButton]="true"></loop-icon>
    </div>

    <div>
      <loop-icon codeRepresent [name]="LoopIcon.Name.AudioPlayerPause" [theme]="LoopIcon.Theme.Alert" [isButton]="true"></loop-icon>
    </div>
  </div>

  <!-- Audio player -->
  <h3>Player</h3>

  <div class="table">
    <div>
      <app-audio-player
        codeRepresent
        [audioSrc]="
          'https://ia801609.us.archive.org/16/items/nusratcollection_20170414_0953/Man%20Atkiya%20Beparwah%20De%20Naal%20Nusrat%20Fateh%20Ali%20Khan.mp3'
        "
        [isEscapeButtonEnable]="true"
      ></app-audio-player>
    </div>

    <div>
      <app-audio-player
        codeRepresent
        [audioSrc]="
          'https://ia801504.us.archive.org/3/items/EdSheeranPerfectOfficialMusicVideoListenVid.com/Ed_Sheeran_-_Perfect_Official_Music_Video%5BListenVid.com%5D.mp3'
        "
      ></app-audio-player>
    </div>
  </div>

  <!-- SIMPLE TAGS -->
  <h3>Simple tags</h3>

  <!-- Loop theme -->
  <div class="table">
    <div>
      <loop-simple-tag codeRepresent [text]="'Tag'" [tagSize]="TagSize.EXTRA_SMALL" [tagTheme]="SimpleTagTheme.LOOP"></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag codeRepresent [text]="'Tag'" [tagSize]="TagSize.SMALL" [tagTheme]="SimpleTagTheme.LOOP"></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag codeRepresent [text]="'Tag'" [tagSize]="TagSize.MEDIUM" [tagTheme]="SimpleTagTheme.LOOP"></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag codeRepresent [text]="'Tag'" [tagSize]="TagSize.LARGE" [tagTheme]="SimpleTagTheme.LOOP"></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag
        codeRepresent
        [text]="'Tag'"
        [tagSize]="TagSize.LARGE"
        [tagTheme]="SimpleTagTheme.LOOP"
        [disable]="true"
      ></loop-simple-tag>
    </div>
  </div>

  <!-- Action theme -->
  <div class="table">
    <div>
      <loop-simple-tag
        codeRepresent
        [text]="'Tag'"
        [tagSize]="TagSize.EXTRA_SMALL"
        [tagTheme]="SimpleTagTheme.ACTION"
        [closeButton]="true"
      ></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag
        codeRepresent
        [text]="'Tag'"
        [tagSize]="TagSize.SMALL"
        [tagTheme]="SimpleTagTheme.ACTION"
        [closeButton]="true"
      ></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag
        codeRepresent
        [text]="'Tag'"
        [tagSize]="TagSize.MEDIUM"
        [tagTheme]="SimpleTagTheme.ACTION"
        [closeButton]="true"
      ></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag
        codeRepresent
        [text]="'Tag'"
        [tagSize]="TagSize.LARGE"
        [tagTheme]="SimpleTagTheme.ACTION"
        [closeButton]="true"
      ></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag
        codeRepresent
        [text]="'Tag'"
        [tagSize]="TagSize.LARGE"
        [tagTheme]="SimpleTagTheme.ACTION"
        [closeButton]="true"
        [disable]="true"
      ></loop-simple-tag>
    </div>
  </div>

  <!-- Neutral theme -->
  <div class="table">
    <div>
      <loop-simple-tag
        codeRepresent
        [text]="'Tag'"
        [tagSize]="TagSize.EXTRA_SMALL"
        [tagTheme]="SimpleTagTheme.NEUTRAL"
        [closeButton]="true"
      ></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag
        codeRepresent
        [text]="'Tag'"
        [tagSize]="TagSize.SMALL"
        [tagTheme]="SimpleTagTheme.NEUTRAL"
        [closeButton]="true"
      ></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag codeRepresent [text]="'Tag'" [tagSize]="TagSize.MEDIUM" [tagTheme]="SimpleTagTheme.NEUTRAL"></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag codeRepresent [text]="'Tag'" [tagSize]="TagSize.LARGE" [tagTheme]="SimpleTagTheme.NEUTRAL"></loop-simple-tag>
    </div>
    <div>
      <loop-simple-tag
        codeRepresent
        [text]="'Tag'"
        [tagSize]="TagSize.LARGE"
        [tagTheme]="SimpleTagTheme.NEUTRAL"
        [disable]="true"
      ></loop-simple-tag>
    </div>
  </div>

  <!-- Story tag -->
  <h3>Feedback tags</h3>

  <div class="table">
    <div>
      <loop-story-tag codeRepresent [category]="StoryCategory.CONCERN" [tagSize]="TagSize.EXTRA_SMALL"></loop-story-tag>
    </div>
    <div>
      <loop-story-tag codeRepresent [category]="StoryCategory.SUGGESTION_OPINION" [tagSize]="TagSize.SMALL"></loop-story-tag>
    </div>
    <div>
      <loop-story-tag codeRepresent [category]="StoryCategory.QUESTION" [tagSize]="TagSize.MEDIUM"></loop-story-tag>
    </div>
    <div>
      <loop-story-tag codeRepresent [category]="StoryCategory.REQUEST" [tagSize]="TagSize.LARGE"></loop-story-tag>
    </div>
    <div>
      <loop-story-tag codeRepresent [category]="StoryCategory.THANKS" [tagSize]="TagSize.LARGE"></loop-story-tag>
    </div>
    <div>
      <loop-story-tag codeRepresent [category]="StoryCategory.SENSITIVE" [tagSize]="TagSize.MEDIUM"></loop-story-tag>
    </div>
  </div>

  <!-- Required tag -->
  <h3>Required tags</h3>

  <div class="table">
    <div>
      <loop-required-tag codeRepresent [state]="RequiredTagState.NEUTRAL" [tagSize]="TagSize.EXTRA_SMALL"></loop-required-tag>
    </div>
    <div>
      <loop-required-tag codeRepresent [state]="RequiredTagState.NEUTRAL" [tagSize]="TagSize.SMALL"></loop-required-tag>
    </div>
    <div>
      <loop-required-tag codeRepresent [state]="RequiredTagState.ERROR" [tagSize]="TagSize.EXTRA_SMALL"></loop-required-tag>
    </div>
    <div>
      <loop-required-tag codeRepresent [state]="RequiredTagState.ERROR" [tagSize]="TagSize.SMALL"></loop-required-tag>
    </div>
    <div>
      <loop-required-tag codeRepresent [state]="RequiredTagState.SUCCESS" [tagSize]="TagSize.EXTRA_SMALL"></loop-required-tag>
    </div>
    <div>
      <loop-required-tag codeRepresent [state]="RequiredTagState.SUCCESS" [tagSize]="TagSize.SMALL"></loop-required-tag>
    </div>
  </div>
</div>
