@import 'mixins';
@import 'loop-design-system/helpers';

:host {
  display: block;
  padding: 2.5rem;

  @include mobile-only {
    padding: 0;
  }

  h3 {
    flex: 100%;
    margin: pxToRem(25) 0;
  }

  div.component {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .table {
      display: flex;
      flex-wrap: wrap;

      div {
        align-items: flex-start;
        background: #d6d0df;
        display: flex;
        flex-direction: column;
        flex: 0 0 48%;
        justify-content: flex-start;
        margin-top: 0.625rem;
        padding: 1.25rem;
        @include margin-right(0.625rem);

        @include mobile-only {
          flex: 0 0 100%;
          padding: 0.625rem;
        }
        ::ng-deep pre {
          align-items: center;
          background: lightblue;
          display: inline-flex;
          justify-content: center;
          margin-top: 1rem;
          padding: 0.125rem;

          @include mobile-only {
            display: none;
          }
          code {
            font-size: 0.75rem;
            line-height: 1rem;
            white-space: break-spaces;
            word-break: break-word;
          }
        }
      }
    }
  }
}

app-audio-recorder,
app-audio-player {
  min-width: 250px;
  @media screen and (min-width: 600px) {
    min-width: 572px;
  }
}
