@import 'variables';

@mixin flex-gap($gap, $global: false) {
  margin-top: (-$gap);
  @include margin-left((-$gap), $global);

  > * {
    margin-top: $gap;
    @include margin-left($gap, $global);
  }
}

@mixin base-container($content-width) {
  $desktop-padding: 2rem;
  max-width: calc(#{$content-width} + (#{$desktop-padding}));

  @media screen and (min-width: 42rem) {
    @include padding-left($desktop-padding, true);
    @include padding-right($desktop-padding, true);
  }
}

@mixin centerAbsoluteElement {
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

@mixin only-ltr-global {
  html:not([dir='rtl']) & {
    @content;
  }
}

@mixin only-rtl-global {
  html[dir='rtl'] & {
    @content;
  }
}

@mixin only-ltr {
  :host-context(html:not([dir='rtl'])) & {
    @content;
  }
}

@mixin only-rtl {
  :host-context(html[dir='rtl']) & {
    @content;
  }
}

@mixin rtl-value($property, $ltr-value, $rtl-value, $global: false) {
  @if $global == true {
    @include only-ltr-global {
      #{$property}: $ltr-value;
    }

    @include only-rtl-global {
      #{$property}: $rtl-value;
    }
  } @else {
    @include only-ltr {
      #{$property}: $ltr-value;
    }

    @include only-rtl {
      #{$property}: $rtl-value;
    }
  }
}

@mixin rtl-property($ltr-property, $rtl-property, $value, $global: false) {
  @if $global == true {
    @include only-ltr-global {
      #{$ltr-property}: $value;
    }

    @include only-rtl-global {
      #{$rtl-property}: $value;
    }
  } @else {
    @include only-ltr {
      #{$ltr-property}: $value;
    }

    @include only-rtl {
      #{$rtl-property}: $value;
    }
  }
}

@mixin margin-left($margin, $global: false) {
  @include rtl-property(margin-left, margin-right, $margin, $global);
}

@mixin margin-right($margin, $global: false) {
  @include rtl-property(margin-right, margin-left, $margin, $global);
}

@mixin padding($paddingTop, $paddingRight, $paddingBottom, $paddingLeft, $global: false) {
  padding-top: $paddingTop;
  @include rtl-property(padding-right, padding-left, $paddingRight, $global);
  padding-bottom: $paddingTop;
  @include rtl-property(padding-left, padding-right, $paddingLeft, $global);
}

@mixin padding-left($padding, $global: false) {
  @include rtl-property(padding-left, padding-right, $padding, $global);
}

@mixin padding-right($padding, $global: false) {
  @include rtl-property(padding-right, padding-left, $padding, $global);
}

@mixin text-align-left($global: false) {
  @include rtl-value(text-align, left, right, $global);
}

@mixin left($value, $global: false) {
  @include rtl-property(left, right, $value, $global);
}

@mixin right($value, $global: false) {
  @include rtl-property(right, left, $value, $global);
}

@mixin translateXY($valueX, $valueY, $global: false) {
  @include rtl-value(transform, translate($valueX, $valueY), translate(-$valueX, $valueY), $global);
}

@mixin border-left($value, $global: false) {
  @include rtl-property(border-left, border-right, $value, $global);
}

@mixin border-right($value, $global: false) {
  @include rtl-property(border-right, border-left, $value, $global);
}

@mixin border-bottom-right-radius($value, $global: false) {
  @include rtl-property(border-bottom-right-radius, border-bottom-left-radius, $value, $global);
}

@mixin border-top-right-radius($value, $global: false) {
  @include rtl-property(border-top-right-radius, border-top-left-radius, $value, $global);
}

@mixin border-bottom-left-radius($value, $global: false) {
  @include rtl-property(border-bottom-left-radius, border-bottom-right-radius, $value, $global);
}

@mixin border-top-left-radius($value, $global: false) {
  @include rtl-property(border-top-left-radius, border-top-right-radius, $value, $global);
}

@mixin float-left($global: false) {
  @include rtl-value(float, left, right, $global: false);
}

@mixin float-right {
  @include rtl-value(float, right, left, $global: false);
}

@mixin small-desktop-only {
  @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl - 0.1px) {
    @content;
  }
}

@mixin mobile-and-tablet-only {
  @media (max-width: $breakpoint-lg - 0.1px) {
    @content;
  }
}

@mixin small-mobile-only {
  @media (max-width: $breakpoint-s - 0.1px) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: $breakpoint-md - 0.1px) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
    @content;
  }
}

@mixin mobile-up {
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin disable-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
