@use 'sass:map';
@import 'loop-design-system-v2/colors';
@import 'loop-design-system/helpers';
@import 'mixins';

.story-header-container {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0 0 pxToRem(20);

  @include mobile-up {
    padding: 0 0 pxToRem(32);
  }

  .story-author {
    color: map.get($neutrals, '800');
    font-size: pxToRem(20);
    font-style: normal;
    font-weight: 700;
    line-height: pxToRem(24);

    @include mobile-only {
      font-size: pxToRem(18);
    }
  }

  .story-date-and-place {
    color: $neutral-500;
    font-size: pxToRem(16);
    font-style: normal;
    font-weight: 400;
    line-height: pxToRem(24);
    margin-top: pxToRem(8);
    display: grid;
    grid-template-columns: auto auto 1fr;

    @include mobile-only {
      font-size: pxToRem(12);
      line-height: pxToRem(20);
    }

    .dot {
      font-size: 19px;
      border-radius: 50%;
      margin: 0 12px;
      color: $neutral-400;
    }
  }

  .story-recipients {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: pxToRem(8);

    .story-to {
      color: map.get($neutrals, '500');
      font-size: pxToRem(16);
      font-style: normal;
      font-weight: 400;
      line-height: pxToRem(24);
      @include margin-right(pxToRem(5));
    }

    loop-simple-tag {
      margin: pxToRem(5);
    }
  }
}
