<app-inline-loading
  *ngIf="ui.routeLoading || ui.globalLoading"
  [isActive]="ui.routeLoading || ui.globalLoading"
  [diameter]="50"
  class="overlay"
></app-inline-loading>
<div class="app-wrapper" [class.app-wrapper--magic-link]="isMagicLinkUrl" [class.relative]="isNewStoryUrl">
  <app-header></app-header>
  <div
    class="location-prompt-overlay"
    *ngIf="ui.locationOverlayShown"
    (click)="ui.hideLocationOverlay()"
    [title]="'global.cancel' | translate"
  >
    <img src="assets/location-pointer.png" />
    <p>{{ 'newStoryV2.locationPromptText' | translate }}</p>
  </div>
  <router-outlet id="top-router"></router-outlet>
</div>
<ng-container *ngIf="!isMagicLinkUrl">
  <app-aside></app-aside>
  <app-mobile-navigation></app-mobile-navigation>
</ng-container>
