@import 'mixins';
@import 'variables';

:host {
  font-size: 1rem;

  @include mobile-up {
    font-size: 1.25rem;
  }

  * {
    line-height: normal;
  }

  span {
    display: flex;
  }

  p {
    font-size: 1.25rem;
  }

  p:not(.no-padding) {
    padding-bottom: 1.875rem;

    @include mobile-up {
      padding-bottom: 2.5rem;
    }
  }

  span:not(.title) {
    padding-bottom: 0.938rem;
  }

  ::ng-deep {
    .link {
      color: $loop-interactive-01 !important;
      text-decoration: underline;
    }
  }
}

.title {
  font-size: 1.5rem;
  padding-bottom: 1.25rem;

  @include mobile-up {
    font-size: 2.188rem;
  }
}
