<a
  class="login-status"
  cy="login-status-link"
  [class.show-text-on-mobiles]="showTextOnMobiles"
  *ngIf="loggedIn; else loginRef"
  [routerLink]="profileLink"
  routerLinkActive="login-status--active"
>
  <app-open-reg-alt-icon class="login-status__icon"></app-open-reg-alt-icon>
  <span class="login-status__text">{{ 'navbar.authStatus.hi' | translate : { nickname: nickname } }} </span>
</a>
<ng-template #loginRef>
  <a
    class="login-status"
    cy="login-status-link"
    [class.show-text-on-mobiles]="showTextOnMobiles"
    [routerLink]="magicLinkLoginLink"
    routerLinkActive="login-status--active"
  >
    <app-account-circle-icon class="login-status__icon"></app-account-circle-icon
    ><span class="login-status__text">
      <span>{{ 'navbar.authStatus.logIn' | translate }}</span>
    </span>
  </a>
</ng-template>
