<span class="pin-to-story" data-testid="pinStory">
  <ng-container *ngIf="isStoryPinned; else isNotPinned">
    <loop-pin-icon></loop-pin-icon>
    <span class="pin-to-story--not-hovered" data-testid="isPinned">{{ 'pin-to-story.pinned' | translate }}</span>
    <span class="pin-to-story--hover">{{ 'pin-to-story.unpin' | translate }}</span>
  </ng-container>
  <ng-template #isNotPinned>
    <loop-pin-icon-unfilled></loop-pin-icon-unfilled>
    <span class="pin-to-story--not-hovered" data-testid="isNotPinned">{{ 'pin-to-story.pin' | translate }}</span>
    <span class="pin-to-story--hover">{{ 'pin-to-story.pin' | translate }}</span>
  </ng-template>
</span>
