@import 'variables';
@import 'mixins';

$two-columns-bp: 820px;

.categories-wrapper {
  &.disabled {
    pointer-events: none;
  }

  .categories-controls {
    display: flex;
    flex-wrap: wrap;
    @include flex-gap(0.5rem);

    &__square {
      height: 100%;
      flex: 0 0 calc(33% - 0.5rem);

      @media (max-width: 435px) {
        flex: 0 0 calc(50% - 0.5rem);
      }

      &.placeholder {
        height: 0;
      }
    }
  }

  .subsection {
    margin-bottom: 1.25rem;
    color: $grey;
  }
}
