@import 'mixins';

.bold {
  font-weight: 600;
}

.fw-600 {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.f-column {
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.d-flex-space-between {
  display: flex;
  justify-content: space-between;

  &-center {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  &-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.flex-right-center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.flex-right-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.inline-flex-center-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.align-items-center {
  align-items: center !important;
}

.align-items-start {
  align-items: start !important;
}

.inline-flex-center-left {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin inline-flex-center-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.p-box {
  padding: 1rem;
}

.container-inner {
  padding-top: 1rem;
}

.selection-options {
  display: block;

  a {
    color: $link-02;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1.5rem;

    &:hover {
      text-decoration: underline;
    }

    &.mod-gray {
      color: $state-disabled-02;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.cl-disabled-02 {
  color: $state-disabled-02;
}

.nop {
  padding: 0 !important;
}

.nopl {
  @include padding-left(0 !important, true);
}

.nomb {
  margin-bottom: 0 !important;
}

.nom-l-r {
  @include margin-left(0 !important, true);
  @include margin-right(0 !important, true);
}

.pb-s {
  padding-bottom: 0.375rem;
}

.pb-0h {
  padding-bottom: 0.5rem !important;
}

.pb-125 {
  padding-bottom: 1.25rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.mb-0h {
  margin-bottom: 0.5rem;
}

.mt-0h {
  margin-top: 0.5rem;
}

.mb-0625 {
  margin-bottom: 0.625rem;
}

.mb-075 {
  margin-bottom: 0.75rem;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-0938 {
  margin-bottom: 0.938rem;
}

.mb-0313 {
  margin-bottom: 0.313rem;
}

.mb-125 {
  margin-bottom: 1.25rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1438 {
  margin-bottom: 1.438rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-s {
  @include margin-left(0.375rem, true);
}

.icon-xxs {
  width: 10px;
  height: 10px;
}

.d-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden;
}

.btn-clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  &.btn-disabled {
    cursor: default;
    pointer-events: none;
    :hover {
      background: transparent;
    }
  }
}

.preview-deeplink {
  text-decoration: none;
}

.stdp-wrapper {
  padding-top: 3rem;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.no-transform {
  text-transform: none;
}

.w-100 {
  width: 100% !important;
  max-width: 100%;
}

.w-50 {
  width: 50% !important;
  max-width: 50%;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.opacity-transition {
  transition: opacity 150ms ease-in;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

.br-word {
  word-break: break-word;
}

.additional-info--abs {
  position: absolute;
  @include right(0, true);
  top: 0;
  display: flex;
  align-items: center;

  svg {
    @include padding-right(4px, true);
  }
}

.cont-regular {
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: white;
  margin-bottom: 2px;
}

.border-p01 {
  border-bottom: 1px solid #1c0f3021;
}

.state-disabled {
  color: $state-disabled-02;

  .bx--label {
    color: $state-disabled-02;
  }
}

.text-right {
  text-align: right;
}

.mb-md {
  margin-bottom: 1.5rem;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-m1h {
  margin-top: -0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-125 {
  margin-top: 1.25rem;
}

.mt--125 {
  margin-top: -1.25rem;
}

.mt-1125 {
  margin-top: 1.125rem;
}

.mt-1875 {
  margin-top: 1.875rem;
}

.mt-1h {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-25 {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-3125 {
  margin-top: 3.125rem;
}

.ml-0 {
  @include margin-left(0 !important, true);
}

.mr-0h {
  @include margin-right(0.5rem, true);
}

.ml-0h {
  @include margin-left(0.5rem, true);
}

.ml-0-125 {
  @include margin-left(0.125rem !important, true);
}

.ml-0-375 {
  @include margin-left(0.375rem);
}

.ml-0625 {
  @include margin-left(0.625rem, true);
}

.pr-0h {
  @include padding-right(0.5rem, true);
}

.pr-1h {
  @include padding-right(1.5rem, true);
}

.pl-2 {
  @include padding-left(2rem, true);
}

.mr-1 {
  @include margin-right(1rem, true);
}

.mr-0625 {
  @include margin-right(0.625rem, true);
}

.mr-0813 {
  @include margin-right(0.813rem, true);
}

.mr-0938 {
  @include margin-right(0.938rem, true);
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.std-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.b-l {
  @include border-left(1px solid $entity-border-color, true);
}

.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}

.pt-375 {
  padding-top: 3.75rem;
}

.pt-125 {
  padding-top: 1.25rem;
}

.nop-l-r {
  @include padding-left(0 !important, true);
  @include padding-right(0 !important, true);
}

.font-bold {
  font-weight: bold;
}

.font-big {
  font-size: 1.25rem;
}

.font-1125 {
  font-size: 1.125rem;
}

.font-1875 {
  font-size: 1.875rem;
}

.content-link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.warm-20-bg {
  background-color: $warm-gray-20-color !important;
}

.warm-20-bg-deep > div {
  background-color: $warm-gray-20-color !important;
}

.dashboard-clear {
  min-height: 55vh;
  background-color: white;

  h2 {
    line-height: 1.6rem;
  }

  p {
    width: 270px;
    color: #393939;
    line-height: 1.25rem;
    font-size: 0.875rem;
  }
}

.y-scroll {
  overflow-y: scroll;
}

.floating-button {
  position: fixed;
  min-width: 3rem !important;
  height: 3.5rem;
  bottom: 5%;
  margin: 0;
  @include right(5%, true);
  box-shadow: 0 0 7px 1px #4e4e4e80;

  &.labelled {
    width: auto;
    border-radius: 100px !important;
    padding: 1.188rem 1.25rem !important;
  }

  &:not(.labelled) {
    width: 3.5rem;
    border-radius: 50% !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: $breakpoint-md - 0.1px) {
  .m--1-mobile {
    @include margin-left(-1rem, true);
    @include margin-right(-1rem, true);
  }

  .m--2-mobile {
    @include margin-left(-2rem, true);
    @include margin-right(-2rem, true);
  }

  .entity-bt-mobile {
    border-top: 1px solid $entity-border-color;
  }

  .entity-admin-bb-mobile {
    border-bottom: 1rem solid $ui-background-l;
  }

  .mb-1-mobile {
    margin-bottom: 1rem;
  }

  .nop-l-r-mobile {
    @include padding-left(0 !important, true);
    @include padding-right(0 !important, true);
  }
}

.p-0 {
  padding: 0 !important;
}

.p-125 {
  padding: 1.25rem;
}

.p-3125 {
  padding: 3.125rem;
}

.pbt-2 {
  padding: 2rem 0;
}

.pb-375 {
  padding-bottom: 3.75rem;
}

.p-rel {
  position: relative;
}

.b-none {
  border: none;
}

.entity-border {
  border-bottom: 1px solid #1c0f3021;
}

.left-line {
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  @include left(-10px, true);
  @include border-left(1px solid $entity-border-color, true);
}

.line-top {
  position: absolute;
  height: 50%;
  width: 10px;
  top: 0;
  @include left(-10px, true);
  @include border-left(1px solid $entity-border-color, true);
  border-bottom: 1px solid #1c0f3021;
}

.line-bottom {
  position: absolute;
  height: calc(50% + 1px);
  width: 10px;
  top: 50%;
  @include left(-10px, true);
  @include border-left(1px solid $entity-border-color, true);
}

.sub-entity {
  position: relative;
}

.hidden-md {
  @media screen and (max-width: $breakpoint-lg - 0.1px) {
    display: none;
  }
}

.visible-md {
  @media screen and (min-width: $breakpoint-lg) {
    display: none;
  }
}

.ml-auto {
  @include margin-left(auto, true);
}

.reset-children-plr > * {
  @include padding-left(0, true);
  @include padding-right(0, true);
}

.children-pl-125 > *:not(:first-child) {
  @include padding-left(1.25rem, true);
}

.pevents-none {
  pointer-events: none !important;
}

.pevents-visible {
  pointer-events: visible;
}

.border-radius-100 {
  border-radius: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
}

.overflow-hidden {
  overflow: hidden;
}

.flex-grow-1 {
  flex-grow: 1;
}

.ws-nowrap {
  white-space: nowrap;
}

.width-fit {
  width: fit-content;
}
