<div cy="sort-picker" class="sort-picker-container" (appClickOutside)="handleOutsideClick()">
  <div #sortPicker class="sort-picker">
    <app-button variant="secondary" mode="v3" (clicked)="handleSelectorOpenClick()" [appStopEvent]="'click'">
      <div class="flex-center font-1125 font-bold text">
        {{ itemsPerPage }}
        <app-expand-more-icon [class.expand-rotated]="dropDownOpen ? 180 : 0"></app-expand-more-icon>
      </div>
    </app-button>
  </div>

  <loop-select
    *ngIf="dropDownOpen"
    [fullWidth]="true"
    [showHeader]="false"
    [showSuffix]="false"
    [sourceEl]="sortPicker"
    [sourceWidth]="sortPicker.clientWidth"
    appDropdown
  >
    <loop-select-option *ngFor="let value of itemsPerPageValues; trackBy: trackByFn" (clicked)="handleOptionClick(value)">
      {{ value }}
    </loop-select-option>
  </loop-select>
</div>
