@import 'variables';
@import 'mixins';
@import 'loop-design-system/colors';

:host {
  max-height: 24px;
  min-width: 81px; //TODO: figure out why popper.js not working correctly

  &:hover {
    .text {
      text-decoration: underline;
    }
  }
}

.sort-picker {
  align-items: center;
  display: flex;
  width: 46px;

  &__prefix-text {
    color: $dark-grey;
    font-size: 1.125rem;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 0.875rem 0.625rem 0.938rem 0;
    text-align: left;
  }
}

loop-select {
  position: relative;
  top: -275px;
}

:host ::ng-deep {
  .select__header {
    padding: 0 0 0.063rem;
  }

  .select-option {
    padding: 1.25rem 0.313rem;
  }
}
