@import 'variables';
@import 'mixins';

.aside {
  $self: &;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: calc(#{$modal-zindex} - 1);
  padding: 1.25rem;
  overflow-y: auto;

  &.left {
    justify-content: flex-start;
  }

  &.right {
    justify-content: flex-end;
  }

  &__modal {
    width: 100%;
    max-width: 50rem;
    z-index: $modal-zindex;
    height: fit-content;

    padding: 1.875rem 2.813rem 4rem;
    border-radius: 16px;
    background-color: $light-grey-6;
    overflow-y: visible;
  }

  @include mobile-only {
    padding: 0;

    &__modal {
      border-radius: 0;
    }
  }
}
