<loop-modal [title]="'newStoryV2.modals.name.title' | translate" class="new-story-v2">
  <div *ngIf="isSensitive; else nonSensitive">
    <p class="loop-modal__paragraph">{{ 'newStoryV2.modals.name.sensitive.paragraph' | translate }}</p>
  </div>

  <ng-template #nonSensitive>
    <p class="loop-modal__paragraph">{{ 'newStoryV2.modals.name.nonSensitive.topParagraph' | translate }}</p>
    <p class="pt-125">{{ 'newStoryV2.modals.name.nonSensitive.bottomParagraph' | translate }}</p>
  </ng-template>
  <div action-buttons>
    <app-button (clicked)="onModalClose()" mode="v2" variant="primary">{{ 'newStoryV2.modals.ok' | translate }}</app-button>
  </div>
</loop-modal>
