<loop-modal [padding]="32" [fitContent]="true" [showActionButtons]="false">
  <div class="modal">
    <h3>{{ 'requestPremium.modal.header.text' | translate }}</h3>
    <div class="table">
      <div class="table__content">
        <div></div>
        <div class="table__free">
          <h4>{{ 'requestPremium.modal.table.free.title' | translate }}</h4>
          <div>{{ 'requestPremium.modal.table.free.subtitle' | translate }}</div>
        </div>
        <div class="table__premium">
          <h4>{{ 'requestPremium.modal.table.premium.title' | translate }}</h4>
          <div class="table__premium-price">
            <h5>{{ 'requestPremium.modal.table.premium.subtitle.part1' | translate }}</h5>
            &nbsp;
            <div>{{ 'requestPremium.modal.table.premium.subtitle.part2' | translate }}</div>
          </div>
        </div>
        <div class="subtext">{{ 'requestPremium.modal.table.rows.first' | translate }}</div>
        <loop-icon name="close" class="red spacing" [size]="24"></loop-icon>
        <loop-icon name="check" class="gray" [size]="14"></loop-icon>
        <div class="subtext alternate">{{ 'requestPremium.modal.table.rows.second' | translate }}</div>
        <div class="alternate">
          <loop-icon name="close" class="red spacing" [size]="24"></loop-icon>
        </div>
        <div class="alternate">
          <loop-icon name="check" class="gray" [size]="14"></loop-icon>
        </div>
        <div class="subtext">{{ 'requestPremium.modal.table.rows.third' | translate }}</div>
        <loop-icon name="check" class="gray spacing" [size]="14"></loop-icon>
        <loop-icon name="check" class="gray" [size]="14"></loop-icon>
        <div class="subtext alternate">{{ 'requestPremium.modal.table.rows.fourth' | translate }}</div>
        <div class="alternate">
          <loop-icon name="check" class="gray spacing" [size]="14"></loop-icon>
        </div>
        <div class="alternate">
          <loop-icon name="check" class="gray" [size]="14"></loop-icon>
        </div>
        <div class="subtext">{{ 'requestPremium.modal.table.rows.fifth' | translate }}</div>
        <loop-icon name="check" class="gray spacing" [size]="14"></loop-icon>
        <loop-icon name="check" class="gray" [size]="14"></loop-icon>
      </div>

      <div class="table__footer">
        <div class="text">{{ 'requestPremium.modal.table.additionalInfo.text' | translate }}</div>
        &nbsp;
        <app-button mode="v2" variant="link-5" (click)="onRequestLoopPremium(true)">{{
          'requestPremium.modal.table.additionalInfo.button.text' | translate
        }}</app-button>
      </div>
    </div>
    <div class="footer">
      <app-button mode="v2" variant="link-4" (click)="onCancel()">
        <span>{{ 'requestPremium.modal.footer.cancelButton.text' | translate }}</span>
      </app-button>
      <app-button mode="v3" variant="primary" (click)="onRequestLoopPremium(false)">{{
        'requestPremium.modal.footer.requestButton.text' | translate
      }}</app-button>
    </div>
  </div>
</loop-modal>
