<div class="form-section">
  <h3 class="form-section__title">{{ heading | translate }}<span class="form-section__astrix" *ngIf="required">*</span></h3>
  <div class="form-section__body">
    <div class="form-section__pills" *ngIf="!onlyContent">
      <app-pill
        *ngFor="let item of selectedItems; trackBy: trackFn"
        class="form-section__pill"
        (dismissed)="handleDismiss(item.id)"
        [text]="item.content | translate"
        theme="moderator-pill"
        variant="new"
        [interactive]="true"
      ></app-pill>
      <div #fabWrapper *ngIf="!singleValue || !selectedItems.length" (appClickOutside)="handleFabOutsideClick()" class="xxx">
        <app-fab-button
          [cy]="isEditing ? 'form-section-app-fab-btn-submit' : 'form-section-app-fab-btn-add'"
          [title]="(isEditing ? 'global.submit' : 'global.add') | translate"
          theme="moderator-fab"
          [rotate]="isEditing ? 90 : 45"
          [size]="fabButtonSize"
          (clicked)="handleFabClick()"
        >
        </app-fab-button>
      </div>
      <ng-container *ngIf="isEditing">
        <ng-container *ngIf="!ui.mobileView">
          <div appDropdown [offset]="[10, 10]" [sourceEl]="fabWrapper.nativeElement" [sourceWidth]="dropdownWidth" [isStatic]="isStaticDropdown" class="dropdown">
            <h3 class="dropdown__title">{{ heading | translate }}</h3>
            <ng-container *ngTemplateOutlet="content"></ng-container>
            <app-button cy="form-section-app-button-apply-btn" data-testid="form-section-app-button-apply-btn" (clicked)="onApplyClick()" class="dropdown__apply-btn" [mode]="'v2'">
              <span>{{ 'filtersV2.apply' | translate }}</span>
            </app-button>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <ng-container *ngIf="onlyContent">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </ng-container>
    <ng-content select="[slot=helptext]"></ng-content>
  </div>
</div>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<ng-template #modalContent>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</ng-template>
<ng-template #modalActionButtons>
  <app-button (clicked)="onApplyClick()" class="dropdown__apply-btn" [mode]="'v2'">
    <span>{{ 'filtersV2.apply' | translate }}</span>
  </app-button>
  <app-button (clicked)="onCancelClick()" class="dropdown__apply-btn d-flex mt-1" [mode]="'v2'" [variant]="'secondary'">
    <span>{{ 'global.cancel' | translate }}</span>
  </app-button>
</ng-template>
