@import 'variables';
@import 'loop-design-system/colors';
@import 'loop-design-system/helpers';
@import 'mixins';

.post {
  &__author {
    color: #000;
    font-family: Noto Sans;
    font-size: pxToRem(16);
    font-style: normal;
    font-weight: 600;
    line-height: pxToRem(22);
    letter-spacing: 0em;

    @include mobile-up {
      font-size: pxToRem(20);
      line-height: pxToRem(27);
    }
  }

  &__info {
    margin-top: pxToRem(6);
  }

  &__date {
    color: $text-gray;
    font-family: Noto Sans;
    font-size: pxToRem(12);
    font-style: normal;
    font-weight: 400;
    line-height: pxToRem(22);
    letter-spacing: 0em;

    @include mobile-up {
      font-size: pxToRem(16);
    }
  }

  &__place {
    color: $grey;
    font-family: Noto Sans;
    font-size: pxToRem(12);
    font-style: normal;
    font-weight: 400;
    line-height: pxToRem(24);
    letter-spacing: 0em;

    @include mobile-up {
      font-size: pxToRem(16);
    }

    &::before {
      color: $light-grey-3;
      content: '\02022';
      margin: 0 pxToRem(10);
    }
  }
}
