@import 'loop-design-system/helpers';
@import 'mixins';

.parent-container {
  display: flex;
  margin-top: 30px;
}

.story-translate__right-container {
  .translation-container {
    background: white;
    display: flex;
    flex-direction: column;
  }

  margin-left: auto;
}

.audio-container {
  background: white;
  padding: pxToRem(32) pxToRem(32) 0;

  @include mobile-only {
    padding: pxToRem(16) pxToRem(16) 0;
  }
}
