@import 'src/app/styles/mixins';

.card {
  border-radius: 0;
  box-shadow: 0 2px 2px 0 #eaeaea;
  background-color: #ffffff;
  padding: 2.5rem 2.344rem;
  transition: 0.2s linear;

  @include mobile-up {
    border-radius: 8px;
  }

  &.interactive {
    &:hover {
      box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &.flat {
    box-shadow: none;
  }
}


.pulsating-card {
  box-shadow: 0 0 10px $color-green-60;
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 10px $color-green-60;
  }

  50% {
    box-shadow: 0 0 20px lighten($color-green-60, 20%);
  }

  100% {
    box-shadow: 0 0 10px $color-green-60;
  }
}