- This is a monorepo
- It uses yarn for all javascript dependecy management
- It uses Nuxt 3 as the main app framework:
  - with packages in:
    - layers/\* - Nuxt layers
    - apps/\* - Apps, could be self hosted 3rd party app, nuxt apps, or apps using other frameworks
  - All components are auto-imported and named in PascalCase using the file path.
  - All exports in the top level of utils are imported into global scope.
  - The layer hierarchy is as follows:
    - apps/\* - Nuxt apps
      - extends: layers/ui-design, layers/shell
    - layers/ui-design - Design system
      - extends: layers/ui-base
      - depends on:
        - core/config
    - layers/ui-base - Base components
      - extends: layers/core
      - depends on:
        - Shadcn Vue
    - layers/core - shared core logic
    - layers/shell - Imperative shell (i.e. where the state and model are interacted with)
- It uses typescript everywhere possible with libraies in:
  - core/\* - shared core logic
  - opt/packages/\* - shared optional packages
- It uses Vitest for testing.
