COMPOSE_DEBUG=${DEV_MODE:-false}
COMPOSE_MYSQL_ROOT_PASSWORD=rootpassword
COMPOSE_MYSQL_DATABASE=appdb
COMPOSE_MYSQL_USER=appuser
COMPOSE_MYSQL_PASSWORD=apppassword
COMPOSE_APP_DESIGN_PORT=3031
COMPOSE_APP_DESIGN_ADDITIONAL_PORT=6006
COMPOSE_APP_DEMO_PORT=3330
