<loop-modal>
  <h2 class="select-language-modal__header">Select your language</h2>

  <section class="select-language-modal__content">
    <ul class="select-language-modal__list">
      <li *ngFor="let language of languages" (click)="selectLanguage(language.value)" class="select-language-modal__row">
        {{ language.label | translate }}
      </li>
    </ul>
  </section>

  <div action-buttons>
    <app-button mode="v2" variant="outlined" (click)="onModalClose()">Cancel</app-button>
  </div>
</loop-modal>
