<div class="routing-bar" *ngIf="routes">
  <div class="stats-container">
    <ul class="tab-controls-custom">
      <li
        class="nav-li"
        *ngFor="let route of routes; let first = first"
        [ngClass]="{ collapsed: !first && ui.mobileView && !isExpanded, blocked: route?.blocked }"
        (click)="toogle($event, first)"
      >
        <a [routerLink]="[route?.path]" [routerLinkActive]="'tab-active'" [routerLinkActiveOptions]="{ exact: route?.exact }" tabindex="0"
          >{{ route?.name }}&nbsp;
        </a>
        <app-expand-more-icon
          *ngIf="first && routes.length > 1 && ui.mobileView"
          [rotate]="isExpanded ? 0 : 180"
          class="toogle-arrow"
        ></app-expand-more-icon>
      </li>
      <li
        *ngIf="statisticsBeta"
        class="nav-li"
      >
        <a href="https://meta.talktoloop.org/public/dashboard/5708c729-6c87-4b9e-a064-624b2853c62d?age_group=&channel=&country=&disability=&feedback_type=&gender_group=&minority_group=&organization=&submission_date=&tab=4-overview&thematic_area=" target="_blank" tabindex="0"
          >{{ 'statistics.navigation.stories' | translate }}&nbsp;
        </a>
        <app-expand-more-icon
            *ngIf="first && routes.length > 1 && ui.mobileView"
            [rotate]="isExpanded ? 0 : 180"
            class="toogle-arrow"
          ></app-expand-more-icon>
      </li>
    </ul>
  </div>
</div>
