@import 'variables';
@import 'mixins';
@import 'loop-design-system/colors';

.sort-picker-container {
  padding: 0 6px;
}

.sort-picker {
  align-items: center;
  display: flex;

  &__prefix-text {
    color: $dark-grey;
    font-size: 1.125rem;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 0.875rem 0.625rem 0.938rem 0;
    text-align: left;
  }
}

:host ::ng-deep {
  .select__header {
    padding: 0 0 0.063rem;
  }

  .select-option {
    padding: 1.25rem 0.313rem;
  }
}
