<form class="email-section" [formGroup]="form">
  <h4 class="font-big semi-bold mb-0625">{{ 'newStoryV2.form.email.title' | translate }}</h4>
  <div class="new-story-v2__info-link">
    <app-lock-icon class="mr-0625"></app-lock-icon>
    <div *ngIf="isSensitive; else nonSensitive">
      <span class="input-description">{{ 'newStoryV2.form.email.sensitive.info' | translate }}</span>
    </div>

    <ng-template #nonSensitive>
      <span class="input-description">{{ 'newStoryV2.form.email.nonSensitive.info' | translate }}</span>
    </ng-template>
  </div>

  <loop-input
    cy="email-section-loop-input"
    data-testid="email-section-loop-input"
    formControlName="email"
    autocomplete="email"
    inputmode="email"
  ></loop-input>

  <div *ngIf="!isSensitive">
    <loop-info-link
      (clicked)="onModalOpen()"
      class="new-story-v2__explanation-link"
      [text]="'newStoryV2.form.name.explanation' | translate"
    ></loop-info-link>
  </div>
</form>
