@import 'variables';
@import 'mixins';

:host {
  ::ng-deep {
    loop-story-type-boxgroup {
      loop-checkbox-icon-square {
        min-width: unset !important;
        flex: 0 !important;
        background-color: $light-grey-6 !important;
      }

      .checkbox-block {
        flex-direction: row;
        width: unset;
        height: unset;
        min-height: unset;
        padding: 1rem 1.25rem;
        box-shadow: unset !important;
        border: solid 1px $header-purple;
        border-radius: 100px;
        background-color: inherit !important;

        &__content {
          flex-direction: row;
          word-break: normal !important;
        }

        .check-square {
          display: none !important;
        }

        .type-icon {
          @include margin-right(0.625rem, true);
          margin-bottom: 0 !important;

          .story-type-icon {
            display: flex;
            align-items: center;

            svg {
              width: 1.25rem !important;
              height: 1.25rem !important;
            }
          }
        }
      }
    }
  }
}

.new-story-info {
  margin-bottom: 2.5rem;
  padding: 1.875rem 1.275rem;
  border-radius: 8px;
  background-color: $light-grey-6;

  &.review {
    margin-bottom: 0;
  }

  ::ng-deep {
    .bx--checkbox-wrapper {
      input:not(:checked) + .bx--checkbox-label:before {
        background-color: white;
      }
    }

    .bx--checkbox-label {
      @include padding-left(1.875rem);

      &:before {
        width: 1.5rem;
        height: 1.5rem;
        border-width: 1px;

        @include mobile-up {
          width: 1.875rem;
          height: 1.875rem;
        }
      }

      &:after {
        top: 0.35rem;
        left: 0.4rem;
        width: 1.1rem;
        height: 0.5rem;
        border-bottom: 2px solid $light-grey-6;
        border-left: 2px solid $light-grey-6;

        @include mobile-up {
          top: 0.3rem;
          left: 0.55rem;
          width: 1.3rem;
          height: 0.7rem;
        }
      }

      &:hover {
        &:before {
          background-color: $color-purple-50 !important;
          border: none !important;
        }
        &:after {
          transform: scale(1) rotate(-45deg) !important;
        }
      }

      &-text {
        @include padding-left(1.25rem);
        margin-top: -0.3rem;
      }
    }
  }

  @include mobile-up {
    padding: 3.125rem;
  }

  &__title {
    @media screen and (min-width: $breakpoint-md-v2) and (max-width: $breakpoint-lg - 0.1) {
      font-size: 1.5rem;
    }

    @media screen and (min-width: $breakpoint-lg) and (max-width: 1219.9px) {
      font-size: 1.55rem;
    }

    @media screen and (min-width: 1220px) {
      font-size: 2rem;
    }
  }

  &__story-text {
    word-break: break-word;

    @include mobile-up {
      font-size: 1.125rem;
    }
  }

  &__visibility {
    color: $header-purple;
    margin: 1.25rem 0 0.625rem;
  }

  &__edit-story {
    color: $loop-interactive-01;
    margin: 1.25rem 0 1.875rem;
    cursor: pointer;

    @include mobile-up {
      margin: 1.25rem 0 2.5rem;
    }
  }

  &__type {
    &__value {
      margin-bottom: 1.813rem;

      loop-story-tag {
        display: flex;
        margin-bottom: 20px;
      }

      @include mobile-up {
        margin-bottom: 1.875rem;
      }
    }
  }

  &__story-by {
    .new-story-info__text-value {
      margin: 0;
    }
  }

  &__section-title {
    margin-bottom: 0.625rem;
    line-height: 1.5rem;
    color: $grey;
  }

  &__text-value {
    margin-bottom: 1.875rem;
    color: $dark-grey;

    @include mobile-up {
      font-size: 1.25rem;
    }
  }

  &__organisation-value {
    margin-bottom: 0.375rem;
    color: $dark-grey;

    @include mobile-up {
      font-size: 1.25rem;
    }

    &:last-of-type {
      margin-bottom: 1.875rem;
    }
  }

  &__consent-checkbox {
    &.ng-invalid.ng-touched {
      ::ng-deep {
        .bx--checkbox-label {
          color: $error;

          &::before {
            border-color: $error;
          }
        }
      }
    }
  }

  &__consent-text {
    font-size: 1rem;
    @include mobile-up {
      font-size: 1.25rem;
    }
  }

  &__submit-button {
    display: block;
    margin-top: 3.125rem;

    @include mobile-up {
      margin-top: 3.125rem;
    }

    ::ng-deep {
      .button {
        padding: 1.125rem 1.625rem;

        .content {
          width: 100%;
          display: block;
        }
      }
    }
  }

  &__submit-button-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.125rem;
  }
}

.section-separator {
  width: 100%;
  height: 1px;
  background-color: $ligh-grey-separator;
  margin: 1.875rem 0;

  @include mobile-up {
    margin: 2.5rem 0;
  }
}

.new-story-info-consent-checkbox-text {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
