<form [formGroup]="temporaryForm">
  <h4 class="font-big semi-bold">{{ 'newStoryV2.organisations.heading' | translate }}</h4>
  <p class="new-story-v2__info-link input-description">{{ 'newStoryV2.organisations.description' | translate }}</p>

  <div class="organisations-pills">
    <app-pill
      *ngFor="let organisation of temporaryForm?.get('acceptedOrganisations')?.value"
      (dismissed)="removeOrganisation(organisation)"
      [interactive]="true"
      [text]="getOrganisation(organisation)"
      class="organisations-pill"
      theme="moderator-pill"
      variant="new"
    ></app-pill>
  </div>

  <loop-organisation
    [openDropDownOnSuffixClick]="true"
    [placeholder]="'newStoryV2.organisations.inputPlaceholder' | translate"
    [selectedOrganizations]="getSelectedOrganisations()"
    [showAddOption]="true"
    [showAllWhenEmpty]="true"
    formControlName="currentOrganisation"
  ></loop-organisation>

  <div class="action-buttons">
    <loop-info-link
      (clicked)="onModalOpen()"
      class="new-story-v2__explanation-link"
      [text]="'newStoryV2.organisations.explanation' | translate"
    ></loop-info-link>

    <button *ngIf="addMoreOrganisationsEnable()" class="btn-clear add-organisation" (click)="addOrganisation()">
      <app-add-icon class="mr-0h"></app-add-icon>
      <span class="add-organisation__text">{{ 'newStoryV2.organisations.addNewLabel2' | translate }}</span>
    </button>
  </div>
</form>
