@import 'loop-design-system-v2/colors';
@import '_helpers';

$inputLabelSize: 16;
$inputLabelBottomMargin: 8;

@mixin defaultFontStyle {
  color: $neutral-500;
  font-size: pxToRem($inputLabelSize);
  font-weight: 700;
  line-height: pxToRem(24);
}

:host {
  ::ng-deep {
    .loop-input {
      padding: 0 !important;
    }
  }
}

.separator {
  display: block;
  height: 2px;
  width: 64px;
  margin: calc(#{$inputLabelSize}px + #{$inputLabelBottomMargin}px) 30px 0;
  background-color: $neutral-100;
}

.length-filter__title {
  display: block;
  @include defaultFontStyle;
  margin-bottom: pxToRem(12);
  color: $neutral-800;
}

.length-input {
  &__wrapper {
    max-width: 120px;
  }

  &__label {
    display: flex;
    justify-content: center;
    margin-bottom: pxToRem($inputLabelBottomMargin);
    @include defaultFontStyle;
  }
}

.length-flex {
  display: flex;
  justify-content: center;
  border: 1px solid $neutral-100;
  border-radius: 4px;

}
