@import 'variables';
@import 'mixins';

:host {
  min-width: 19rem;
  border-radius: 4px;
  border: 1px solid #e0e0e5;

  @media (max-width: 768px),
  (min-width: 769px) and (max-width: 900px),
  (min-width: 901px) and (max-width: 1024px),
  (min-width: 1025px) and (max-width: 1280px) {
    border: none;
  }

  ::ng-deep {
    .button:focus:not(.link):not(.link-2):not(.link-3) {
      box-shadow: none;
    }
  }
}

.group-wrapper {
  > * {
    width: 100%;
    display: block;
  }

  app-button {
    .text {
      font-size: 1.125rem;
      line-height: 1.56;
      text-align: left;
    }

    .count-container {
      display: inline-flex;

      .value {
        font-size: 0.875rem;
        color: white;
        background-color: $loop-interactive-01;
        padding: 0.25rem 0.65rem;
        margin: 0 0.5rem;
      }
    }

    app-expand-more-icon {
      &.forward {
        color: $loop-interactive-01;
      }
    }
  }
}
