<label
  [ngClass]="['checkbox', colorTheme, value ? 'checked' : '', isInvalid ? 'invalid' : '', readonly ? 'readonly' : '']"
  (blur)="handleCheckboxBlur()"
>
  <input
    [attr.id]="id"
    class="d-none"
    type="checkbox"
    [checked]="value"
    [value]="checkboxValue"
    tabindex="-1"
    (click)="handleCheckboxClick()"
  />

  <div
    class="checkbox__element"
    tabindex="0"
    (keydown.space)="handleCheckboxClick()"
    (blur)="handleCheckboxBlur()"
    [appInvalidFocusable]="isInvalid"
  >
    <img class="checkbox__checkmark" src="../../../../assets/icons/checkmark.svg" />
  </div>
  <span class="checkbox__content" (blur)="handleCheckboxBlur()">
    <ng-content></ng-content>

    <span *ngIf="isInvalid && requiredErrorText && formControl.hasError('required')" class="required-error">
      <app-red-error-icon></app-red-error-icon>
      <span>
        {{ requiredErrorText }}
      </span>
    </span>
  </span>
</label>
