@import 'variables';
@import 'mixins';

#post-preview-wrapper {
  background-color: $post-preview-bg;
  padding: $post-preview-padding;
  margin-bottom: $post-preview-gutter;
  transition: 0.2s linear;
  border-radius: 8px;

  @media screen and (max-width: $breakpoint-md - 0.1px) {
    padding: $post-preview-padding-mobile;
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid $entity-border-color;
  }

  .post-preview-top {
    padding-bottom: 0.25rem;

    h5 {
      display: inline-block;
    }

    h5,
    p {
      color: $text-secondary;
    }

    h4 {
      font-weight: 700;
      color: $text-black;
    }

    .reply-highlight {
      color: $post-highlight-color;
      font-weight: 600;
    }

    .reply-black {
      color: $text-secondary;
    }

    .reply-highlight,
    .reply-black {
      svg {
        @include margin-left(2px);
      }
    }
  }
}

:host {
  &.post-section {
    ::ng-deep {
      .card {
        padding-bottom: 1.25rem;
      }
    }
  }

  .post-heading-container {
    display: grid;
    grid-template-columns: 2fr 0fr 0fr;
    justify-items: start;
    gap: 10px;
  }
}

span.expand-link-container {
  line-height: 1rem;
  @include padding-left(0.2rem);

  .expand-link-more {
    font-size: 11px;
    line-height: 10px;
    text-decoration: none;
    color: $text-secondary;
    vertical-align: text-top;
  }
}

.post {
  &--interactive {
    &:hover {
      box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.25);
    }
  }

  &__content {
    display: block;
    margin-bottom: 1.563rem;
  }

  &__translations {
    display: block;
    margin-bottom: 2.5rem;
  }
}

.story-details{
  color: $grey;
  line-height: 1.5;
}
