@import 'mixins';
@import 'variables';
@import 'loop-design-system/helpers';

.select-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 1px transparent;
  transition: 0.2s linear;
  cursor: pointer;
  outline: none;

  &:focus {
    box-shadow: inset 0 0 0 1px $color-purple-90;
  }

  &--disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px $loop-interactive-01;
    background-color: #f6f6f9;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__prefix {
    @include margin-right(0.668rem);
  }

  &__suffix {
    @include margin-left(0.688rem);
  }

  &__content {
    color: $dark-grey;
    font-size: 1.125rem;
    line-height: 1.56;
    &.highlighted {
      font-weight: 700;
      ::ng-deep {
        > * {
          font-weight: 400;
        }
      }
    }
  }
}
