<h3>{{ 'admin.translationProcess.automaticTranslation' | translate }}</h3>
<mat-accordion multi>
  <ng-container *ngFor="let lang of machineTranslatedLanguages; trackBy: trackByFn">
    <mat-expansion-panel data-testid="post-translation-automatictranslation" [disabled]="lang.disabled || processing">
      <mat-expansion-panel-header>
        <div class="accordion-header d-flex-space-between-center">
          <div class="flex-center">
            <img
              class="pevents-visible status-indicator"
              [src]="'assets/icons/translation-status/' + lang.type + '_' + lang.status + '.svg'"
            />
            <span data-testid="post-translation-automatictranslation-item-text" class="status-text" [innerHTML]="getStatusString(lang)"></span>
          </div>
          <a
            class="retry-link"
            [class.disabled]="processing"
            href="javascript:void(0)"
            *ngIf="lang.status === STATUSES.ERROR"
            (click)="retryClicked(lang.language.code)"
          >
            <span>{{ 'admin.translationProcess.retry' | translate }}</span>
            <div class="retry-link__separator"></div>
            <app-info-icon *ngIf="!processing" class="pevents-visible d-flex"></app-info-icon>
          </a>
        </div>
      </mat-expansion-panel-header>
      <loop-textarea
      data-testid="post-translation-automatictranslation-loop-textarea"
        [theme]="'purple'"
        [attr.dir]="rtlService.getDirAttr(lang.language.code)"
        [placeholder]="'admin.pendingStoryReview.writeTranslation' | translate"
        [disabled]="!lang.editing"
        [(ngModel)]="lang.content"
      ></loop-textarea>
      <div class="buttons">
        <app-button
        data-testid="post-translation-automatictranslation-edit-btn"
          [loading]="false"
          [disabled]="false"
          variant="link"
          mode="v2"
          (clicked)="editClicked(lang.language.code)"
          *ngIf="!lang.editing; else editingTemplate"
        >
          <app-edit-pencil-icon></app-edit-pencil-icon>
          <span>{{ 'admin.translationProcess.editTranslation' | translate }}</span>
        </app-button>
        <app-button
        data-testid="post-translation-automatictranslation-delete-btn"
          *ngIf="lang.editing && !lang.content?.length"
          [loading]="false"
          [disabled]="false"
          variant="danger"
          mode="v2"
          (clicked)="deleteClicked(lang.language.code)"
        >
          <span>{{ 'admin.translationProcess.deleteTranslation' | translate }}</span>
        </app-button>
        <app-button
        data-testid="post-translation-automatictranslation-verify-btn"
          *ngIf="lang.content?.length"
          [loading]="false"
          [disabled]="false"
          variant="link"
          mode="v2"
          (clicked)="verifyClicked(lang.language.code)"
        >
          <loop-icon
            [isButton]="false"
            [isThemeReverted]="true"
            [name]="LoopIcon.Name.DoneCircle"
            [size]="20"
            [theme]="LoopIcon.Theme.Primary"
          ></loop-icon>
          <span>{{ 'admin.translationProcess.verifyTranslation' | translate }}</span>
        </app-button>
        <ng-template #editingTemplate>
          <app-button
          data-testid="post-translation-automatictranslation-cancel-btn"
            [loading]="false"
            [disabled]="false"
            variant="link"
            mode="v2"
            (click)="cancelClicked(lang.language.code)"
          >
            <span>{{ 'admin.translationProcess.cancel' | translate }}</span>
          </app-button>
        </ng-template>
      </div>
    </mat-expansion-panel>
  </ng-container>
  <p *ngIf="!machineTranslatedLanguages.length" class="text-gray no-translations">
    {{ 'admin.translationProcess.noTranslations' | translate }}
  </p>
</mat-accordion>

<h3>{{ 'admin.translationProcess.manualTranslation' | translate }}</h3>
<mat-accordion multi>
  <ng-container *ngFor="let lang of humanTranslatedLanguages; trackBy: trackByFn">
    <mat-expansion-panel [disabled]="lang.disabled || processing">
      <mat-expansion-panel-header>
        <div class="accordion-header flex-center-left">
          <img [src]="'assets/icons/translation-status/' + lang.type + '_' + lang.status + '.svg'" />
          <span data-testid="post-translation-humantranslation-item-text" class="status-text" [innerHTML]="getStatusString(lang)"></span>
        </div>
      </mat-expansion-panel-header>
      <mat-expansion-panel-body>
        <loop-textarea
        data-testid="post-translation-humantranslation-textarea"
          [attr.dir]="rtlService.getDirAttr(lang.language.code)"
          [placeholder]="'admin.pendingStoryReview.writeTranslation' | translate"
          [disabled]="!lang.editing"
          [(ngModel)]="lang.content"
        ></loop-textarea>
        <div class="buttons">
          <app-button
          data-testid="post-translation-humantranslation-verify-btn"
            *ngIf="lang.editing && lang.content?.length"
            [loading]="false"
            [disabled]="false"
            variant="link"
            mode="v2"
            (clicked)="verifyClicked(lang.language.code)"
          >
            <loop-icon codeRepresent [name]="LoopIcon.Name.DoneCircleIcon" [isThemeReverted]="true" [isButton]="false"></loop-icon>
            <span>{{ 'admin.translationProcess.verifyTranslation' | translate }}</span>
          </app-button>
          <app-button
          data-testid="post-translation-humantranslation-delete-btn"
            *ngIf="lang.editing && !lang.content?.length"
            [loading]="false"
            [disabled]="false"
            variant="danger"
            mode="v2"
            (clicked)="deleteClicked(lang.language.code)"
          >
            <span>{{ 'admin.translationProcess.deleteTranslation' | translate }}</span>
          </app-button>
          <app-button
          data-testid="post-translation-humantranslation-edit-btn"
            [loading]="false"
            [disabled]="false"
            variant="link"
            mode="v2"
            (clicked)="editClicked(lang.language.code)"
            *ngIf="!lang.editing; else editingTemplate"
          >
            <app-edit-pencil-icon></app-edit-pencil-icon>
            <span>{{ 'admin.translationProcess.editTranslation' | translate }}</span>
          </app-button>
          <ng-template #editingTemplate>
            <app-button
            data-testid="post-translation-humantranslation-cancel-btn"
              [loading]="false"
              [disabled]="false"
              variant="link"
              mode="v2"
              (click)="cancelClicked(lang.language.code)"
            >
              <span>{{ 'admin.translationProcess.cancel' | translate }}</span>
            </app-button>
          </ng-template>
        </div>
      </mat-expansion-panel-body>
    </mat-expansion-panel>
  </ng-container>
  <form>
    <loop-input
      *ngIf="!humanTranslatedLanguages.length"
      class="text-gray no-translations"
      name="placeholder"
      [ngModel]="null"
      [placeholder]="'admin.translationProcess.noTranslations' | translate"
      [disabled]="true"
    >
    </loop-input>
  </form>
</mat-accordion>
