<loop-modal cy="share-experience-modal" [title]="'newStoryV2.modals.shareExperience.title' | translate" class="new-story-v2">
  <p class="loop-modal__paragraph pb-125">{{ 'newStoryV2.modals.shareExperience.topParagraph' | translate }}</p>
  <ul>
    <li>
      <app-checkmark-round-icon class="checkmark"></app-checkmark-round-icon>
      <span>{{ 'newStoryV2.modals.shareExperience.list.one' | translate }}</span>
    </li>
    <li>
      <app-checkmark-round-icon class="checkmark"></app-checkmark-round-icon>
      <span>{{ 'newStoryV2.modals.shareExperience.list.two' | translate }}</span>
    </li>
    <li>
      <app-checkmark-round-icon class="checkmark"></app-checkmark-round-icon>
      <span>{{ 'newStoryV2.modals.shareExperience.list.three' | translate }}</span>
    </li>
  </ul>
  <div class="action-buttons" action-buttons>
    <app-button cy="share-experience-cancel-btn" (clicked)="onModalClose()" class="cancel-button" variant="secondary" mode="v2">{{
      'newStoryV2.modals.cancel' | translate
    }}</app-button>
    <app-button cy="share-experience-submit-btn" (clicked)="onConfirm()" variant="primary" mode="v2">{{
      'newStoryV2.modals.shareExperience.submitButton' | translate
    }}</app-button>
  </div>
</loop-modal>
