@import 'src/app/styles/loop-design-system/colors';
@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.story-translations {
  display: flex;
  flex-direction: column;
  color: $grey;
  line-height: 1.5;
  @include flex-gap(0.625rem);

  @include mobile-up {
    flex-direction: row;
    align-items: center;
  }

  &__translation-icon {
    width: 1.138rem;
    display: block;
    color: $loop-purple-100;
  }

  &__current-translation-icon {
    width: 1.313rem;
    color: $light-grey-3;
    @include margin-right(0.313rem);
  }

  &__expand-more-icon {
    color: $loop-green-100;
    width: 1.25rem;
  }

  &__separator {
    display: none;
    @include mobile-up {
      display: block;
    }
  }

  &__select-heading {
    font-size: 1rem;
    line-height: 1.5;
    color: $grey;
  }

  &__selector {
    ::ng-deep {
      .content {
        text-decoration: underline;
      }
    }
  }
}

:host ::ng-deep {
  app-button {
    .content {
      text-align: left;
    }
  }
}
