<app-main-template
  (actionClick$)="changeSubmit($event)"
  (backClick$)="backAction($event)"
  [actionText]="'auth.create.form.submitText' | translate"
  [backAction]="true"
  [headerText]="'auth.create.form.headerText' | translate"
  [submitting]="submitting"
>
  <form form [formGroup]="changeForm" class="create-form">
    <label class="label-container">
      <span class="label-content">
        {{ 'auth.create.form.password.label' | translate }}
      </span>

      <loop-input
        [showClearBtn]="true"
        [showCloseIcon]="true"
        formControlName="password"
        id="password"
        inputmode="password"
        type="password"
      ></loop-input>
    </label>

    <label class="label-container">
      <span class="label-content">
        {{ 'auth.create.form.confirmPassword.label' | translate }}
      </span>

      <loop-input
        [showClearBtn]="true"
        [showCloseIcon]="true"
        formControlName="confirmPassword"
        id="confirmPassword"
        inputmode="password"
        type="password"
      ></loop-input>
    </label>
  </form>
</app-main-template>
