<div *ngIf="title && !flat" class="filter-v2-container__section-title">
  <span class="filter-v2-container__section-title-name">{{ title }}</span>
  <div class="separator"></div>
</div>
<form class="checkbox-filter-wrapper" [class.wide]="wideStyle" [class.modal-view]="isModal">
  <ng-container *ngFor="let option of options; let i = index">
    <div *ngIf="flat && (i === 0 || options[i - 1].parentId !== option.parentId)" class="filter-v2-container__section-title">
      <div class="separator above"></div>
      <span class="filter-v2-container__section-title-name">{{ option.parentId | translate }}</span>
      <div class="separator"></div>
    </div>
    <app-checkbox
      cy="checkbox-wrapper-app-checkbox"
      data-testid="checkbox-wrapper-app-checkbox"
      (click)="onCheckboxClick($event)"
      [class.d-none]="option.hidden"
      [checked]="option.checked"
      (changed)="onCheckboxChanged($event)"
      [value]="option.id"
    >
      <div cy="checkbox-wrapper-name" class="checkbox-filter-wrapper__name" data-testid="checkbox-wrapper-name">
        <span *ngIf="noTranslation; else translation">{{ option.content || '' }}</span>
        <ng-template #translation>
          <span>{{ (strictTranslationCode ? option.code : 'filtersV2.' + option.code) | translate }}</span>
        </ng-template>
        <!-- TODO: Add count badge when backend ready -->
        <!-- <div class="checkbox-filter-wrapper__badge">5</div> -->
      </div>
    </app-checkbox>
    <app-button
      *ngIf="
        bulkActionVisible && flat && ((i < options.length - 1 && options[i + 1].parentId !== option.parentId) || i === options.length - 1)
      "
      (click)="onSelectAllClick($event, option.parentId)"
      [mode]="'v2'"
      [variant]="'secondary'"
      class="select-all"
    >
      {{ (allSelected(option.parentId) ? 'filtersV2.deselectAll' : 'filtersV2.selectAll') | translate }}
    </app-button>
  </ng-container>
</form>

<app-button *ngIf="bulkActionVisible && !flat" (click)="onSelectAllClick($event)" [mode]="'v2'" [variant]="'link'" class="select-all">
  {{ (allSelected() ? 'filtersV2.deselectAll' : 'filtersV2.selectAll') | translate }}
</app-button>
