@import 'variables';
@import 'mixins';
@import 'loop-design-system/helpers';

:host {
  @media (min-width: $breakpoint-md) and (max-width: 900px) {
    width: pxToRem(520);
  }

  ::ng-deep {
    .mat-tab {
      &-header {
        position: relative;
        margin-bottom: 0;
      }
    }
  }
}

.date-manual-filter {
  &__container {
    display: flex;
    flex-direction: column;
    gap: pxToRem(23);
    padding: pxToRem(10) pxToRem(20) pxToRem(20);
  }

  &__label {
    color: $dark-grey;
    display: block;
    font-family: Noto Sans;
    font-size: pxToRem(18);
    font-weight: 600;
    margin-bottom: pxToRem(8);
  }
}

.modal-filter {
  .date-manual-filter {
    &__container {
      flex-direction: row;
      flex-grow: 1;
      gap: pxToRem(24);
      padding: 0;
      margin-top: pxToRem(35);

      > div {
        $width: calc(50% - pxToRem(16));
        flex: 1 0 $width;
      }
    }

    &__label {
      margin-bottom: pxToRem(15);
    }
  }
}
