<div class="auth-container">
  <div [ngClass]="{ noWrap: noWrapHeader }" class="header-section">
    <div *ngIf="backAction" class="header-back-container">
      <app-button (clicked)="handlaBackClick($event)" class="header-back-button" mode="v2" variant="secondary">
        <app-arrow-previous-icon class="mr-0625"></app-arrow-previous-icon>
        {{ 'auth.back' | translate }}
      </app-button>
    </div>

    <h1 class="header-text">{{ headerText }}</h1>
    <ng-content select="[logout]"></ng-content>
  </div>

  <div class="form-section">
    <ng-content select="[form]"></ng-content>
  </div>

  <div *ngIf="actionText" class="action-section">
    <app-button (clicked)="handleActionClick($event)" [disabled]="submitting" [loading]="submitting" [bigPadding]="true" variant="primary">
      {{ actionText }}
    </app-button>
  </div>

  <ng-content select="[footer]"></ng-content>
</div>
