@import 'mixins';
@import 'variables';
@import 'loop-design-system/helpers';
@import 'loop-design-system-v2/colors';
@import 'loop-design-system-v2/animations';

.set-location {
  &__btn {
    @include padding-left(0);
    @include padding-right(0.75rem);
    padding-top: 0;
    padding-bottom: 4px;
    height: 32px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    background-color: transparent;
    color: $action-teal-500;
    transition: padding 0.3s ease-out;
    cursor: pointer;

    &:hover {
      @include padding-left(0.75rem);
      height: 32px;
      background-color: $action-teal-100;
      border-radius: 8px;
    }
  }
}

.location-selected-wrap {
  display: flex;
  justify-content: space-between;
  width: calc(55vw - 50px) !important;
  background: #f1f2f2;
  border: 1px solid #dbdbdb;

  @include mobile-up {
    width: 100% !important;
  }

  .selected-location {
    padding: 1rem;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    max-width: 440px;
  }

  .delete {
    padding: 0 0.5rem;
    cursor: pointer;
  }
}

.filter-dropdown {
  padding: 5px;
  border-radius: 8px;
  position: relative;
  z-index: $modal-zindex;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  background-color: white;

  @include mobile-only {
    top: 0;
    @include left(0);
    width: 100%;
    height: 100vh;
    position: fixed;
    border-radius: 0;
    z-index: 10000;
  }

  &.mounted {
    padding: unset;
    box-shadow: unset;
  }

  loop-input {
    width: calc(100% - 24px);
  }

  .wrap-back {
    width: auto;
  }

  .mobile-scroll {
    overflow: auto;
    border: 1px solid #e0e0e5;
    border-radius: 4px;
    max-height: 350px;

    @include mobile-only {
      overflow: scroll;
      height: fit-content;
      max-height: calc(110vh - 220px);
      @include disable-scrollbar;
    }

    .no-results {
      max-width: 265px;
      margin: 60px auto 0;
      text-align: center;

      @include mobile-up {
        height: 425px;
      }

      &__text {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 12px;
        color: $neutral-800;
      }

      &__btn {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        background: transparent;
        color: $action-teal-500;
        border: none;
        cursor: pointer;
      }
    }

    .form-wrapper {
      margin-top: 12px;

      .form-label {
        @include margin-left(0.9375rem);
        font-size: 14px;
        color: $neutral-500;

        label {
          line-height: 20px;
        }
      }

      .form-groups-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: auto;

        @include mobile-up {
          overflow: scroll;
          @include disable-scrollbar;
        }

        >* {
          &.order0 {
            order: 0;
          }

          &.order1 {
            order: 1;
          }

          order: 2;
        }

        .form-group-wrap {
          display: flex;
          align-items: center;
          margin: 0.8px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid transparent;

          &.checkboxes {
            border: 1px solid transparent;

            &.selected {
              background: #d9eeed !important;

              &:hover {
                border: 1px solid $menu-hover-color !important;
                transition: background-color 0.3s ease, border-color 0.3s ease;
              }
            }

            &:not(.selected) {
              &:hover {
                border: 1px solid $loop-interactive-01 !important;
                background: #f6f6f9;
                transition: background-color 0.3s ease, border-color 0.3s ease;
              }
            }
          }

          .form-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .form-check {
              flex-grow: 2;
              padding: 8px 0;
              @include padding-left(1rem);
              @include padding-right(0.75rem);
              cursor: pointer;

              &.cursor-disabled {
                cursor: default;
              }

              .radio__label {
                font-size: 18px;
                line-height: 24px;
                color: $neutral-800;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp: 2;
                line-clamp: 2;
              }
            }

            .wrap {
              display: flex;
              align-items: center;

              .pills-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2px 8px;
                height: 24px;
                min-width: 32px;
                background: $loop-green-100;
                border-radius: 24px;
                @include margin-right(0.5rem);

                &.selected {
                  background: #fff;
                }

                .pills-number {
                  font-weight: 700;
                  font-size: 14px;
                  color: $loop-purple-700;
                }
              }

              .pills-disabled {
                background: $neutral-100;
              }

              .arrow {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                color: $loop-purple-500;
                @include margin-right(0.75rem);
                cursor: pointer;

                &.selected,
                &:active {
                  background: $loop-purple-200;
                }

                &:hover {
                  background: $neutral-000;
                }
              }

              .arrow-disabled {
                color: $loop-purple-200;
                cursor: default;
              }
            }
          }

          &:hover {
            border-radius: 4px;

            .radio__label {
              color: $loop-purple-700 !important;
            }

            .radio__label.disabled {
              color: $neutral-400 !important;
            }

            .form-group {
              .wrap {
                .pills-wrap.pills-disabled {
                  background: $neutral-100;
                }
              }
            }
          }
        }
      }
    }
  }

  .button-wrap {
    position: relative;
    width: 100vw;
    background-color: transparent;

    @include mobile-up {
      position: relative;
      width: auto;
      padding-bottom: 0;
    }

    .shadow {
      position: absolute;
      top: -34px;
      @include left(0);
      height: 32px;
      width: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 59.37%);
    }

    .mobile-btns {
      @include mobile-up {
        display: none;
      }

      .apply-btn {
        display: block;
        border: 1px solid #e0e0e5;
        border-radius: 4px;

        &:last-child {
          margin-top: 1rem;
        }
      }
    }

    .desktop-btn {
      display: none;
      border: 1px solid #e0e0e5;
      border-radius: 4px;

      @include mobile-up {
        display: block;
      }
    }

    button {
      font-weight: 600;
      font-size: 18px;
      background: $neutral-300;
      border-radius: 8px;
      border: none;
      color: #fff;

      &:enabled {
        background-color: $action-teal-500;
        cursor: pointer;
      }
    }
  }
}

.disabled {
  color: $neutral-400 !important;
}

.radio {
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;

  &.cursor-disabled {
    cursor: default;
  }

  input[type='radio'] {
    display: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 1.375rem;
    min-width: 1.375rem;
    border: 1px solid $neutral-700;
    @include margin-right(1rem);
    border-radius: 50%;
    transition: background-color 0.3s linear;

    &.checked {
      border: 2px solid $header-purple;
    }

    &:after {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: transparent;
      transition: border 0.2s linear;

      @include mobile-up {
        height: 12px;
        width: 12px;
      }
    }

    @include mobile-up {
      height: 1.5rem;
      min-height: 1.5rem;
      min-width: 1.5rem;
      width: 1.5rem;
    }
  }

  &.checkbox {
    input {
      display: none;
    }

    .radio__icon {
      border-radius: 2px;

      &.checked {
        &:after {
          width: 100%;
          height: 100%;
          border-radius: 0;
          background-color: $header-purple;
        }
      }
    }
  }
}

.radio__icon.checked:after {
  background-color: $header-purple;
}

:host {
  ::ng-deep {
    .escape-info__tooltip {
      width: pxToRem(293);
      position: absolute;
      top: 8.5rem;
      @include left(108%);
      @include margin-right(1rem, true);

      * {
        color: white;
      }

      .custom-tooltip-arrow {
        @include left(pxToRem(-4));
        bottom: 50%;
        transform: translateY(-50%);
      }

      @include mobile-and-tablet-only {
        display: none;
      }
    }
  }
}

.got-it__submit-btn {
  width: fit-content;
  padding: 0;
  margin-top: 0.75rem;
  background: transparent;
  font-size: 1rem;
  font-weight: 600;
}

.semi-checked {
  position: relative;

  &:before {
    top: 9px;
    z-index: 1;
    left: 4px;
    width: 12px;
    content: '';
    height: 2.5px;
    position: absolute;
    background: #ffffff;

    @include mobile-and-tablet-only {
      top: 7px;
      left: 2px;
    }
  }
}
