@import 'variables';
@import 'mixins';

.routing-bar {
  background-color: white;

  @include mobile-up {
    padding: 0 1rem;
  }

  .stats-container {
    position: relative;
  }
}

.tab-controls-custom li {
  align-items: center;
  position: relative;

  @include margin-right(5rem);

  @include mobile-only {
    min-width: 100%;
    width: 100%;
  }

  a {
    align-items: center;
    border-bottom: 0.188rem solid transparent;
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    padding: 1.5rem 0;

    @include mobile-only {
      justify-content: space-between;
      padding: 1.5rem 3.5rem 1.5rem 1.3rem;
    }
  }

  .toogle-arrow {
    position: absolute;
    right: 0.997rem;
  }
}

.collapsed {
  display: none;
}

.blocked {
  cursor: not-allowed;

  a {
    pointer-events: none;
    color: #ccc;
  }
}

.circle-count {
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  @include margin-left(0.625rem);

  .value {
    font-size: 1rem;
    font-weight: bold;
  }
}
:host {
  a.tab-active {
    .circle-count {
      background-color: $header-green;

      .value {
        color: white;
      }
    }
  }

  a:not(.tab-active) {
    .circle-count {
      background-color: $color-green-10;
      .value {
        color: $header-purple;
      }
    }
  }
}

app-expand-more-icon {
  color: $filters-green;
}
