@import './_helpers/index';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'typography';
@import 'mixins';
@import '_carbon/base.scss';
@import '_carbon/rtl-overrides';
@import '_partials/base.scss';
@import 'loop-design-system/helpers';
@import 'loop-design-system/tags';
@import './node_modules/ngx-toastr/toastr';

body {
  min-width: 320px;
}

*,
body {
  @include standard-font-family;
  -webkit-tap-highlight-color: transparent;
}

#router-wrapper {
  padding-top: $content-top-padding;
}

.container-medium {
  max-width: 1200px !important;
}

.container-small {
  max-width: calc(600px + 4rem) !important;
}

svg.icon-flip {
  transform: rotateX(180deg);
}

svg.icon--white {
  fill: white;
}

svg.icon--black {
  fill: #000;
}

svg.icon--red {
  fill: #da1e28;
}

svg.icon--gray {
  fill: #525252;
}

svg.icon--mobile-menu {
  fill: #1c0f30;
}

svg.icon--green {
  fill: $loop-active-current-user;
}

svg.icon--blue {
  fill: $support-04;
}

svg.icon--highlight {
  fill: $post-highlight-color;
}

svg.icon--disabled {
  fill: $disabled-03;
}

.text-highlight {
  color: $post-highlight-color;
}

.text-highlight2 {
  color: $link-02;
}

.mid-span-small {
  @include padding-left(0.5rem, true);
}

.text-small {
  font-size: 0.75rem;
}

.text-regular {
  font-size: 1rem !important;
}

.text-support {
  color: $support-01;
}

.text-black {
  color: $text-black;
}

.text-secondary {
  $color: $text-secondary !important;
}

.text-gray {
  color: $text-gray;
}

.text--grayed {
  color: $text-grayed;
}

.text--grayed80 {
  color: $text-grayed80;
}

.c-accortion-title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: $post-preview-padding;
}

.text-content-wrapper {
  line-height: 1.375rem;
  padding-bottom: 1.375rem;
}

.post-container {
  margin-bottom: $post-preview-gutter;
}

.category-small {
  color: $text-gray-cat;
  font-size: 0.625rem;
  line-height: 1.5rem;
}

.form-btn {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.clickable {
  cursor: pointer;
}

.edit-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-basic-over {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.input-icon {
  fill: $icon-01-l;
  position: absolute;
  @include left(1rem, true);
}

.btn-slim {
  min-height: 1.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  min-width: 169px;
}

.username-01 {
  color: $loop-username;
  font-weight: 600;
}

.username-02 {
  color: $loop-active-current-user !important;
}

.loop-mobile {
  input,
  textarea,
  select {
    font-size: 16px;
  }
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 3rem;
  @include base-container($base-container-width);
}

.notification-container-inline {
  ibm-toast {
    margin-top: 0 !important;
    border-top: 1px solid rgba(5, 74, 218, 0.3);
    border-bottom: 1px solid rgba(5, 74, 218, 0.3);
    box-shadow: none !important;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .dialog-mw {
    .bx--modal-container {
      min-width: 576px !important;
      max-width: 650px !important;
    }
  }
}

.customized-select {
  color: $text-black;
  font-size: 1rem;

  .bx--select-input {
    background-color: transparent;
    border: none;
    width: 7rem;
    font-size: 1rem;
    color: $text-black;
    @include padding-left(0.5rem, true);
    @include padding-right(0.5rem, true);
    line-height: 2rem;
  }

  .bx--select-input__wrapper svg.bx--select__arrow {
    stroke-width: 1px;
    stroke: $loop-interactive-01;
  }

  .bx--select-input__wrapper svg.bx--select__arrow {
    stroke-width: 1px;
    stroke: $loop-interactive-01;
  }
}

#no-more-stories {
  padding-top: 2rem;
  color: $text-gray;
  font-size: 1rem;
}

.content-padded {
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-grow: 1;
  @include padding-left(2rem, true);
  @include padding-right(2rem, true);
}

app-search-bar {
  width: 100%;

  ibm-search {
    margin-bottom: 0 !important;
  }
}

ibm-sidenav#search-section-nav {
  width: 0;

  &.search-expanded {
    &.in-stories {
      width: 100%;
      max-width: 100%;
      background-color: transparent;

      .bx--side-nav__footer {
        flex: 0 0 100vh;
        background-color: rgba(248, 248, 249, 0.8);
      }

      .bx--side-nav__items {
        padding-top: 0;
      }
    }
  }
}

ibm-sidenav#filters-section-nav {
  width: 0;
  overflow: inherit;

  .bx--side-nav__footer {
    display: none;
  }

  .bx--side-nav__items {
    padding: 0;
  }

  &.mobile-expanded {
    width: 100%;
    max-width: 100%;
  }

  &.in-stories {
    max-width: 100%;

    @media screen and (min-width: $breakpoint-md) and (max-width: 871px) {
      width: 16.5rem;
      max-width: 16.5rem;
    }

    @media screen and (min-width: 872px) and (max-width: 1220px) {
      width: 21rem;
      max-width: 21rem;
    }

    @media screen and (min-width: 1221px) {
      width: 23rem;
      max-width: 23rem;
    }

    .filters-fx {
      @include padding-right(0.5rem, true);

      @media screen and (max-width: $breakpoint-md - 0.1px) {
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }
}

ibm-sidenav#side-menu-nav {
  .bx--side-nav__icon {
    display: none;
  }

  &.bx--side-nav--ux {
    width: 0;
  }

  .bx--side-nav__items {
    background-color: white;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
  }

  &.bx--side-nav--expanded {
    width: 100% !important;
    max-width: 100% !important;
    background-color: transparent;
  }

  .bx--side-nav__navigation {
    height: auto;

    li.s-nav-li {
      @include text-align-left;
      padding: 0.5rem 1rem 0.5rem 1rem;

      &:nth-child(n-1) {
        border-bottom: 1px solid $entity-border-color;
      }

      a {
        color: $text-secondary;
        font-size: 1rem;
        line-height: 2rem;
        text-decoration: none;
        font-weight: normal;
        width: 100%;
        display: block;
        text-transform: lowercase;

        &.s-nav-item-active {
          font-weight: bold;
          text-transform: uppercase;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .bx--side-nav__footer {
    flex: 0 0 100vh;
    background-color: rgba(248, 248, 249, 0.8);
  }
}

// Icons
.icon-small {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include margin-right(0.625rem, true);
}

.icon-primary {
  background-color: $loop-interactive-01;
  border-color: $loop-interactive-01;
}

.icon-gray {
  background-color: #eeeeee;
  border-color: #eeeeee;
}

.input-description {
  font-size: 1rem;
  line-height: 1.5;
  color: $grey;
  @include mobile-only {
    font-size: 0.875rem;
  }
}

.post__section-separator {
  width: calc(100% + 2 * #{$post-preview-padding-left});
  margin-bottom: 1.125rem;
  height: 0.063rem;
  background-color: #e9e9e9;
  @include margin-right(-$post-preview-padding-right, true);
  @include margin-left(-$post-preview-padding-left, true);
}

.post-author-date {
  display: block;
  margin-bottom: 0.125rem;

  @include mobile-up {
    margin-bottom: 0.938rem;
  }
}

.post__translations {
  display: block;
  margin-bottom: 1rem;

  @include mobile-up {
    margin-bottom: 2.5rem;
  }
}

.location-prompt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $location-overlay-zindex;
  cursor: pointer;

  img {
    @include margin-left(15%, true);
    margin-top: 20vh;
  }

  p {
    text-align: center;
    max-width: 28rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
    margin: -1rem auto;
    padding: 0 1rem;
  }
}

@media screen and (max-width: $breakpoint-md-v2 - 0.1) {
  html.v2 {
    font-size: 14.25px;
  }
}

.cdk-visually-hidden {
  display: none !important;
  visibility: hidden;
}

.story-review {
  max-width: calc(#{pxToRem(619)} * 2 + #{pxToRem(20)});
  width: 100%;

  @include mobile-only {
    @include padding-left(0);
    @include padding-right(0);
    margin-top: 0;
  }

  &__content {
    padding: 0 pxToRem(20) pxToRem(20);

    @include mobile-up {
      padding: pxToRem(30) pxToRem(60) pxToRem(60);
      width: 100%;
    }
  }

  .review-form {
    display: flex;
    gap: pxToRem(20);
    flex-direction: column;
    margin-top: pxToRem(50);

    @media screen and (min-width: $breakpoint-lg) {
      flex-direction: row;
      gap: pxToRem(20);
      align-items: flex-start;
    }

    &__type {
      text-transform: capitalize;
      margin-bottom: 0.75rem;
    }

    &__form {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background-color: #fff;

      @include mobile-up {
        flex-direction: row;
        flex: 1 1 50%;
        border-radius: pxToRem(15);
      }
    }

    &__header {
      display: block;
    }

    &__recipient-data {
      display: block;
      margin-bottom: 0.75rem;
    }
  }

  .story-details {
    background-color: #fff;
    flex: 1 1 100%;
    overflow: hidden;
    height: min-content;

    @include mobile-up {
      flex: 1 1 50%;
      border-radius: pxToRem(15);
    }

    &__top {
      transition: box-shadow 0.4s ease-in-out;
      padding: pxToRem(20) pxToRem(20) 0;

      @include mobile-up {
        padding: pxToRem(50) pxToRem(60) 0;
      }
      ::ng-deep {
        .tab-controls-custom {
          display: flex;
          font-size: 0.75rem;
          font-weight: 600;
          gap: pxToRem(20);
          margin-top: 0.5rem;
          @include margin-left(-1rem, true);

          @include mobile-up {
            gap: pxToRem(80);
          }

          li {
            width: auto;
            min-width: auto;

            @media screen and (min-width: $breakpoint-md) and (max-width: 900px) {
              font-size: 0.7rem;
            }

            a {
              font-family: Noto Sans;
              font-size: pxToRem(14);
              font-style: normal;
              font-weight: 600;
              letter-spacing: 0em;
              padding: pxToRem(18) 0 pxToRem(22);

              @include mobile-up {
                font-size: pxToRem(20);
                padding: pxToRem(26) 0 pxToRem(34);
              }

              &:not(.tab-active) {
                border-bottom: solid pxToRem(3) transparent;

                &:hover {
                  border-color: $color-purple-90;
                }
              }
            }
          }
        }
      }

      &--shadowed {
        box-shadow: 0 4px 20px 0 transparentize(#000, 0.85);
      }
    }

    &__content {
      padding: pxToRem(30) pxToRem(20) pxToRem(20);

      @include mobile-up {
        padding: pxToRem(30) pxToRem(60) pxToRem(60);
      }
    }

    &__text {
      color: $dark-grey;
      font-family: Noto Sans;
      font-size: pxToRem(16);
      font-style: normal;
      font-weight: 400;
      line-height: pxToRem(27);
      letter-spacing: 0;
      padding: pxToRem(20) 0 pxToRem(40);

      @include mobile-up {
        font-size: pxToRem(20);
      }
    }

    &__categories {
      border-top: solid 1px $light-grey-8;
      display: flex;
      flex-wrap: wrap;
      gap: pxToRem(10);
      margin: 0 pxToRem(-20);
      padding: pxToRem(40) pxToRem(20);

      @include mobile-up {
        margin: 0;
        padding: pxToRem(21) 0 0;
      }
    }

    &__category-icon {
      width: pxToRem(20);
      height: pxToRem(20);
      @include margin-right(pxToRem(10));
    }
  }
}

.community-guidelines-container {
  a {
    color: $loop-interactive-01;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-decoration: underline;
  }
}

app-inline-loading.overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.18);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: $page-loading-zindex;
}
.toast-top-right {
  top: 30px;
}

.highlight {
  font-weight: 700;
}
