@import 'loop-design-system-v2/colors';
@import 'mixins';

:host {
  display: block;

  .audio-recorder {
    height: 4rem;
    display: flex;
    position: relative;
    border-radius: 4rem;
    background: $neutral-050;
    transition: opacity 0.4s ease-in-out;
    border: $neutral-400 0.0625rem solid;
    padding: 0.6875rem 1.5rem 0.6875rem 0.6875rem;
    @include mobile-only {
      height: 3.5rem;
      padding: 0.5625rem 1.125rem 0.5625rem 0.5625rem;
    }

    &__button {
      top: calc(50% - 1.25rem);
      left: 0.625rem;
      z-index: 1;
      position: absolute;
      margin-right: 2.25rem;
      transition: all 0.4s ease-in-out;
      &.idle {
        top: calc(50% - 1.25rem);
        left: calc(50% - 1.25rem);
      }
      @include mobile-only {
        top: calc(50% - 1.125rem);
        margin-right: 1rem;
      }
      ::ng-deep button {
        font-size: 2.5rem;
        @include mobile-only {
          font-size: 2.25rem;
        }
      }
    }
    .control {
      flex: 1;
      display: flex;
      margin-left: 3.375rem;
      align-items: center;

      &__time {
        line-height: 1;
        font-size: 1.125rem;
        font-weight: 400;
        letter-spacing: 0;
        color: $action-teal-600;
        margin: 0 0.8rem;

        &:first-of-type {
          @include mobile-only {
            margin-right: 0.75rem;
          }
        }

        &:last-of-type {
          margin-left: 0.625rem;
          @include mobile-only {
            margin-right: 0.75rem;
          }
        }
      }

      &__delete {
        margin-left: 1.5rem;
      }

      &__wave {
        flex: 1;
        height: 1.125rem;
        overflow: hidden;
        width: 0.0625rem;
        margin-left: 1rem;

        .wave {
          position: relative;
        }
      }

      &__record-visualisation {
        margin: 0 -0.625rem;
      }

      &__progress-bar {
        flex: 1;
        overflow: visible;
        position: relative;

        ::ng-deep {
          mat-slider {
            padding: 0;
            width: 100%;
            height: 1rem;
            cursor: pointer;
            min-width: unset;
            @include mobile-only {
              height: 1rem;
            }
            .mat-slider-wrapper {
              top: 0.4375rem;
              .mat-slider-track-wrapper {
                .mat-slider-track-background {
                  background: $action-teal-300;
                }
                .mat-slider-track-fill {
                  background: $action-teal-500;
                }
              }
              .mat-slider-thumb-container {
                transition: transform 250ms linear 0s;
                &:hover {
                  .mat-slider-thumb {
                    background: $action-teal-400;
                  }
                }
                &:active {
                  background: $action-teal-600;
                }
                .mat-slider-thumb {
                  width: 1rem;
                  height: 1rem;
                  bottom: -0.5rem;
                  transform: unset;
                  border-radius: 50%;
                  background: $action-teal-500;
                  @include mobile-only {
                    width: 0.75rem;
                    height: 0.75rem;
                    bottom: -0.375rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.idle {
      opacity: 0;
    }
  }
}
