@import 'variables';
@import 'mixins';
@import 'loop-design-system/helpers';
@import 'loop-design-system-v2/colors';

.profile-form {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  @include mobile-only {
    margin-top: 1.25rem;
  }

  .label-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;

    &.organisation {
      margin-bottom: 8px;
    }

    .label-content {
      display: flex;
      flex: 1 1 65%;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 8px;
      color: $neutral-700;
      order: 1;

      @include mobile-only {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 4px;
      }
    }

    loop-input {
      order: 3;
      flex: 0 0 100%;

      @include mobile-only {
        order: 2;
      }
    }
  }
}

.slide {
  width: 100%;
  margin-top: -6px;
  margin-bottom: 16px;

  @include mobile-only {
    margin-top: -8px;
  }
}

.edit-button {
  width: fit-content;
  margin-top: 8px;

  loop-icon {
    @include margin-right(4px);
    position: relative;
    top: 4px;
  }
}

.organisation-toggles {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile-footer-container {
  border-top: 1px solid $light-grey-8;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-top: 2.5rem;

  @include mobile-only {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
  }
}

.action-link {
  @include margin-left(0.625rem);
  align-items: flex-start;
  color: $loop-interactive-01;
  cursor: pointer;
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin-left: pxToRem(10);
  text-align: end;
  text-decoration: underline;

  @include mobile-only {
    @include margin-left(0);
    font-size: 1rem;
    margin-top: pxToRem(3);
  }
}

.language__input {
  &-country-wrap {
    width: 100%;
    justify-content: space-between;
  }
  &-icon {
    color: $loop-purple-500;
  }

  &-icon-chevron {
    transition: 0.2s;
    transform: rotate(0);
    cursor: pointer;
  }

  &--open {
    .language__input-icon-chevron {
      transform: rotate(180deg);
    }
  }
}

.footer-option {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 0;

  &.plan {
    margin-bottom: 40px;

    @include mobile-only {
      margin-bottom: 32px;
    }

    .plan-label {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      color: $neutral-800;

      @include mobile-only {
        font-size: 16px;
        line-height: 24px;
      }

      .plan-remaining-days {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $neutral-500;

        @include mobile-only {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .label {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: $neutral-700;
  }
}
