<section class="organisations" *ngIf="story?.organisations?.length">
  <span class="organisations__label">{{ 'global.to' | translate }}</span>
  <app-pills>
    <app-pill *ngFor="let organisation of story.organisations" [text]="organisation.name"></app-pill>
  </app-pills>
</section>

<section>
  <app-pills>
    <app-pill
      *ngIf="story?.gender && !dismissed('gender', story?.gender)"
      [text]="genderMapping[story?.gender] | translate"
      [interactive]="editableTags"
      (dismissed)="dismissTag('gender', story?.gender)"
    ></app-pill>
    <app-pill
      *ngIf="story?.age && !dismissed('age', story?.age)"
      [text]="ageMapping[story?.age] | translate"
      [interactive]="editableTags"
      (dismissed)="dismissTag('age', story?.age)"
    ></app-pill>
    <app-pill
      *ngFor="let item of additionalInfo"
      [text]="item.title | translate"
      [interactive]="editableTags"
      (click)="dismissTag(item.type, item.id)"
    ></app-pill>
  </app-pills>
</section>
