@import 'loop-design-system-v2/colors';
@import 'loop-design-system/colors';
@import 'loop-design-system-v3/elements';
@import 'mixins';

:host {
  width: 760px;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 728px;
}

.table {
  &__content {
    display: grid;
    grid-template-columns: auto 208px 200px;
    border-bottom: 1px solid $neutral-050;
  }

  &__free {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: $loop-purple-100;
    color: $loop-purple-700;
    width: 200px;
    height: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 8px;

    h4 {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    div {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  &__premium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: $loop-purple-600;
    color: $neutral-000;
    width: 200px;
    height: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    box-sizing: border-box;

    h4 {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
    }

    div {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }

  &__premium-price {
    display: flex;
    align-items: center;

    h5 {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: $loop-purple-100;
    }

    div {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: $loop-purple-100;
    }
  }

  &__footer {
    display: flex;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;

  &__cancel {
    span {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

loop-icon {
  display: flex;
  justify-content: center;

  &.red {
    color: $loop-red-dark;
  }

  &.gray {
    color: $neutral-500;
  }

  &.spacing {
    padding-right: 8px;
  }
}

.subtext,
.text {
  padding: 8px;
}

.alternate {
  background: $neutral-050;
}
