<div>
  <label [ngClass]="{ 'label-disabled': disabled }" class="radio clickable">
    <input
      #radio
      (change)="handleValueChange()"
      (click)="handleClick($event)"
      [checked]="checked"
      [name]="name"
      [value]="value"
      type="radio"
    />
    <span
      tabindex="0"
      class="radio__icon d-inline-block"
      role="radio"
      [attr.aria-checked]="checked"
      (keydown.enter)="handleClick($event)"
    ></span>
    <span>{{ label }}</span>
  </label>
</div>
