@import 'variables';
@import 'mixins';
@import 'loop-design-system/colors';
@import 'loop-design-system/helpers';

.comment-entity {
  background-color: white;

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
  }

  ::ng-deep {
    .post-author {
      margin-bottom: 0.5rem;
    }
  }
}

.content {
  font-size: 0.875rem;
  padding: 0.5rem;
}

.comment-actions {
  ::ng-deep {
    button.bx--accordion__heading {
      background-color: white;
      border-bottom: 1px solid $entity-border-color;
    }

    .bx--accordion {
      background: transparent;
      position: relative;

      &__content {
        @include padding-right(0);
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
      }

      &__arrow {
        @include margin-right(1.5rem);
      }

      &__item {
        border-top: none;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.reply-thread {
  color: $post-highlight-color;
  position: absolute;
  @include left(1.5rem);
  top: 0.5rem;
  z-index: 1;
  font-size: 0.75rem;
  text-decoration: none;

  svg {
    @include margin-right(5px);
  }
}

.comment-reply-form-conainer {
  background-color: white;
  padding: 1rem 1rem 0 1rem;
  border-bottom: 1px solid $entity-border-color;
  position: relative;
}

.no-bl {
  @include border-left(none !important);
}

.subcomment-entity {
  position: relative;
}

.subcomment {
  margin-top: 1.5rem;

  .subcomment__icon {
    color: $loop-green-100;
    width: 1rem;
    margin-top: -0.5rem;
    @include margin-right(0.75rem);
    @include margin-left(-0.5rem);
    align-items: center;
  }

  &__header {
    display: flex;
  }
}

.comment-replies {
  margin-top: 0.938rem;

  &__reply {
    $margin-left: 2.5rem;
    $margin-bottom: 1rem;
    display: block;
    @include margin-left($margin-left);
    margin-bottom: $margin-bottom;
    position: relative;

    &:before {
      display: block;
      content: ' ';
      height: calc(100% + #{$margin-bottom});
      position: absolute;
      width: 0.125rem;
      background-color: $light-grey-2;
      @include left(calc(-#{$margin-left} / 2));
    }

    &:last-of-type {
      &:before {
        height: 100%;
      }
    }
  }
}
