<app-main-template [headerText]="'profile.header' | translate" [noWrapHeader]="true">
  <a logout (click)="logout()" class="action-link">
    {{ 'story.replyForm.signOut' | translate }}
  </a>

  <form form [formGroup]="profileForm" class="profile-form">
    <label class="label-container">
      <span class="label-content">
        {{ 'auth.registerIndividual.form.firstName' | translate }}
      </span>

      <loop-input
        [showClearBtn]="true"
        [showCloseIcon]="true"
        placeholder="--"
        formControlName="firstName"
        id="firstName"
        inputmode="text"
        type="text"
      ></loop-input>
    </label>

    <label class="label-container">
      <span class="label-content">
        {{ 'auth.registerIndividual.form.secondName' | translate }}
      </span>

      <loop-input
        [showClearBtn]="true"
        [showCloseIcon]="true"
        placeholder="--"
        formControlName="lastName"
        id="lastName"
        inputmode="text"
        type="text"
      ></loop-input>
    </label>
    <div class="slide">
      <app-slide-toggle [wide]="true" [inverted]="true" [checked]="profileForm.get('hideLastName').value" (changed$)="onHideLastNameChanged($event)"
        [text]="'profile.hideLastName' | translate">
      </app-slide-toggle>
    </div>

    <label class="label-container organisation">
      <span class="label-content">
        {{ 'newStoryV2.steps.info.organisation' | translate }}
      </span>

      <loop-input
        [showClearBtn]="true"
        [showCloseIcon]="true"
        placeholder="--"
        formControlName="organisation"
        id="organisation"
        inputmode="text"
        type="text"
      ></loop-input>
    </label>

    <div class="organisation-toggles" *ngIf="profileForm.get('organisation').value">
      <app-slide-toggle
        (changed$)="notificationChange($event, 'notifications')"
        [checked]="profileForm.get('notifications').value"
        [disabled]="switchDisabled"
        [inverted]="true"
        [text]="'profile.notification.on' | translate : { organisationName: profileForm.get('organisation').value }"
      ></app-slide-toggle>
      <app-slide-toggle
        (changed$)="notificationChange($event, 'reminders')"
        [checked]="profileForm.get('reminders').value"
        [disabled]="switchDisabled"
        [inverted]="true"
        [text]="'profile.reminders.on' | translate : { organisationName: profileForm.get('organisation').value }"
      ></app-slide-toggle>
    </div>

    <app-button class="edit-button" mode="v2" variant="link-4" (click)="onEditProfile()">
      <div class="edit-button__content">
        <loop-icon name="edit" [clickable]="true" [size]="20"></loop-icon>
        {{ 'profile.edit' | translate }}
      </div>
    </app-button>
  </form>
  <div footer class="profile-footer-container">
    <label class="footer-option plan" *ngIf="userProfile?.plan">
      <span class="label">
        {{ 'profile.plan.label' | translate }}
      </span>
      <div class="plan-label">
        {{ 'profile.plan.' + userProfile.plan | translate }}&nbsp;<span class="plan-remaining-days">{{
          'profile.plan.remainingDays' | translate : { validityTimeInDays: userProfile.validityTimeInDays }
        }}</span>
      </div>
    </label>
    <label class="footer-option">
      <span class="label">
        {{ 'global.language' | translate }}
      </span>
      <app-language-picker [select]="true"></app-language-picker>
    </label>
  </div>
</app-main-template>
