@import 'mixins';
@import 'variables';

.user-mr {
  @include margin-right(5px);
}

.post-author {
  &__username-organisation {
    @include flex-gap(0.625rem);
    flex-wrap: wrap;
    max-width: 525px;
    margin-bottom: 0.313rem;

    @include mobile-only {
      display: flex;
    }

    &__date-location {
      @include flex-gap(0.625rem);
    }

    .post-author__date-location {
      display: grid;
      grid-template-columns: auto auto 1fr;
    }
  }
}
