@import 'mixins';
@import 'loop-design-system/helpers';

.radio-group {
  &--2-columns {
    display: flex;
    flex-wrap: wrap;
    gap: pxToRem(6);

    > * {
      flex: 0 0 calc(50% - #{pxToRem(6)});
      max-width: calc(50% - #{pxToRem(6)});
    }

    .radio {
      margin-bottom: 0 !important;
    }
  }

  .radio {
    margin-bottom: 0.75rem;
  }

  loop-new-story-radio:last-child {
    .radio {
      margin-bottom: 0;
    }
  }
}
