<label [ngClass]="{ 'label-disabled': disabled }" class="switch" [class.switch--inverted]="inverted">
  <input (change)="handleClick($event)" [checked]="checked" [disabled]="disabled" type="checkbox" [id]="id" />

  <div class="slider-container">
    <div [style.background-color]="checked && !disabled ? enableColor : disableColor" data-testid="slider"
      class="slider">
      <div [ngClass]="{ 'hide': !checked, 'option-disabled': disabled }" class="option option-right">
        <app-done-icon [size]="12" [fillColor]="disabled ? disableIconColor : enableColor"></app-done-icon>
      </div>

      <div [ngClass]="{ 'hide': checked, 'option-disabled': disabled }" class="option option-left">
        <app-close-icon [size]="12" [fillColor]="disabled ? disableIconColor : disableColor"></app-close-icon>
      </div>
    </div>
  </div>

  <span *ngIf="text" [for]="id" class="slider-text" [class.slider-text--inverted]="inverted"
    [class.slider-text--wide]="wide">
    {{ text }}
  </span>
</label>