@import 'mixins';

:host {
  .stepper-navigation {
    display: grid;
    grid-template-columns: 50% 50%;
    outline: none;

    @include mobile-only {
      display: flex;
      flex-direction: column-reverse;
    }

    ::ng-deep {
      .back-button {
        button {
          height: 3.813rem;
          width: 9.375rem;
          @include mobile-only {
            width: 8.438rem;
          }
        }
      }

      .next-button {
        button {
          width: 19.313rem;
          @include mobile-only {
            width: 100%;
          }
        }
      }

      button {
        height: 3.813rem;
        @include mobile-only {
          height: 3.75rem;
        }
        padding: 1.125rem 1.625rem;

        .content {
          justify-content: space-between;
        }
      }
    }
  }
}
