<h3 [innerHtml]="chartTitle | translate: { value: data?.table[0]?.headerValue }"></h3>
<ng-container *ngIf="data">
  <div class="summary" *ngIf="data?.summary" [ngClass]="variant">
    <p class="summary-item" *ngFor="let item of data.summary">
      <ng-container *ngIf="variant === 'primary'; else secondary">
        <span class="value">{{ item.value }}{{ item.unit | translate }}</span
        ><span class="description">&nbsp;{{ item.text | translate }}</span>
      </ng-container>
      <ng-template #secondary><span [innerHTML]="getSecondaryHeaderText(item.text, item.value)"></span></ng-template>
    </p>
  </div>
  <div class="table" [ngClass]="variant">
    <p class="table-item" *ngFor="let item of data?.table | slice: 0:MAX_ITEMS; let i = index" [class.last-nb]="!hasBottomBorder(i)">
      <span class="heading" [class.pb-0h]="!!item.customContent" [class.heading-spacer]="extraHeadingSpace"
        >{{ item.header | translate }}<span class="extra-character">:</span>
      </span>
      <span class="value">
        <ng-container *ngIf="!item.customContent; else customText"
          >{{ item.value }}&nbsp;<span class="value__text">{{ item.text | translate }}&nbsp;</span>
        </ng-container>
        <ng-template #customText
          ><span class="value__text">{{ item.customContent }}&nbsp;</span>
        </ng-template>
        <span class="extra-text" *ngIf="item.extraText">{{ item.extraText }}</span></span
      >
    </p>
  </div>
</ng-container>
