<section>
  <div
    class="dropdown-header"
    [class.dropdown-enabled]="!isSensitive"
    (click)="toggleDropdown()"
    [style.cursor]="!isSensitive ? 'pointer' : 'default'"
  >
    <h4 class="font-big semi-bold mb-0625" style="margin-bottom: 0; flex: 1;">
      {{ 'newStoryV2.form.phone.title' | translate }}
    </h4>
    <app-pill
      *ngIf="step?.optional && !isSensitive"
      class="wizard__optional-pill"
      theme="outlined-purple"
      variant="new"
      [text]="'global.optional' | translate"
      size="small"
      style="margin-left: 16px;"
    ></app-pill>
  </div>

  <div class="dropdown-anim" [class.open]="dropdownOpen">
    <p class="new-story-v2__info-link">
      <app-lock-icon class="mr-0625"></app-lock-icon>
      <span class="input-description">{{ phoneInfoTextCode | translate }}</span>
    </p>
    <loop-phone-picker cy="phone-number-section-loop-phone" [formControl]="control"></loop-phone-picker>
    <div *ngIf="!isSensitive">
      <loop-info-link
        (clicked)="onModalOpen()"
        class="new-story-v2__explanation-link"
        [text]="'newStoryV2.form.phoneNumber.explanation' | translate"
      ></loop-info-link>
    </div>
  </div>
</section>
