<div
  #optionContainer
  class="select-option"
  [class.select-option--disabled]="disabled"
  role="option"
  [tabindex]="disabled ? -1 : 0"
  (click)="handleOptionClick($event)"
  (keydown.enter)="handleOptionClick($event)"
>
  <div class="select-option__wrap">
    <div *ngIf="prefix" class="select-option__prefix"><ng-content select="[prefix]"></ng-content></div>
    <div class="select-option__content" [class.highlighted]="highlightedPhrase" #content><ng-content></ng-content></div>
  </div>
  <div *ngIf="suffix" class="select-option__suffix"><ng-content select="[suffix]"></ng-content></div>
</div>
