<!-- <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="size" [attr.height]="size" viewBox="0 0 24 24" [style.fill]="fillColor">
  <path d="M0 0h24v24H0V0z" fill="none" />
  <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
</svg> -->

<svg [attr.width]="size" [attr.height]="size" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M6.65055 13.1487L17.6073 1L19.9517 3.61777L6.65055 18.3658L0 10.9918L2.34432 8.39243L6.65055 13.1487Z"
    [style.fill]="fillColor"
  />
</svg>
