<div
  *ngIf="ui.mobileView$ | async"
  [class.disable]="isProhibitedOnThisRoute"
  [class.hide]="(ui.scrollingDown$ | async) || preloadInProgress"
  [class]="currentRoute + '-mobile-bottom-nav'"
  class="bottom-bar"
>
  <ng-container *ngTemplateOutlet="navigationButton; context: { link: MAIN_ROUTES.STORIES }"></ng-container>
  <ng-container
    *ngTemplateOutlet="(profileService.isAdmin$ | async) ? navigationButton : navigationSeparator; context: { link: MAIN_ROUTES.INBOX }"
  ></ng-container>
  <ng-container *ngIf="isTestingEnv()">
    <!-- todo for testing purpose only -->
    <ng-container
      *ngTemplateOutlet="(profileService.isAdmin$ | async) ? navigationButton : noTemplate; context: { link: MAIN_ROUTES.OUTBOX }"
    ></ng-container>
  </ng-container>
  <!-- statistics visible only to admins -->
  <ng-container
    *ngTemplateOutlet="(profileService.isAdmin$ | async) ? navigationButton : noTemplate; context: { link: MAIN_ROUTES.STATISTICS }"
  ></ng-container>
</div>

<ng-template #noTemplate></ng-template>

<ng-template #navigationButton let-link="link">
  <div class="bottom-bar--button" [routerLink]="link" [class.active]="currentRoute?.startsWith(link)">
    <img class="icon-shaped" [src]="'assets/icons/navigation/' + link + '-1.svg'" [alt]="link" />
    <img class="icon-filled" [src]="'assets/icons/navigation/' + link + '-active-1.svg'" [alt]="link" />
    <span>{{ 'header.link.' + link | translate }}</span>
  </div>
</ng-template>

<ng-template #navigationSeparator>
  <div class="bottom-bar--new-story-button" [routerLink]="MAIN_ROUTES.NEW_STORY">
    <!-- built-in button-->
    <div class="image" [innerHTML]="navigationSvg"></div>
    <div class="button">
      <img src="assets/icons/navigation/plus.svg" alt="-" />
    </div>
  </div>
</ng-template>
<app-new-story-button
  *ngIf="shouldDisplayNewStoryButton(ui.mobileView$ | async, profileService.isAdmin$ | async, ui.tabletView$ | async)"
  [routerLink]="MAIN_ROUTES.NEW_STORY"
  cy="header-new-story-btn"
  [class.moderator]="profileService.isAdmin$ | async"
></app-new-story-button>
<!-- floating button -->
