@import 'mixins';

html[dir='rtl'] {
  .bx--side-nav {
    right: 0;
  }

  ibm-accordion {
    .bx--accordion__title {
      text-align: right;
      margin: 0 1rem 0 0;
    }

    .bx--accordion__content {
      @include carbon--breakpoint-up(480px) {
        padding-right: 1rem;
        padding-left: $carbon--spacing-09;
      }

      @include carbon--breakpoint-up(640px) {
        padding-left: 25%;
        padding-right: 1rem;
      }
    }

    .bx--accordion__arrow {
      margin: 2px 0 0 1px;
    }
  }

  .bx--select__arrow {
    right: auto;
    left: 1rem;
  }

  ibm-toast {
    .bx--toast-notification__close-button {
      @include margin-right(auto, true);
      @include margin-left(0, true);
    }
  }

  ibm-toggle {
    .bx--toggle__text--off,
    .bx--toggle__text--on {
      @include margin-right(3.5rem);
      @include margin-left(0);
    }
  }

  .arrow-image {
    transform: rotate(180deg);
  }

  .bx--tag__close-icon {
    margin: 0 0.125rem 0 0;
  }

  .bx--radio-button__appearance {
    margin: 0.125rem 0.125rem 0.125rem 0.5rem;
  }

  .bx--tag--filter {
    padding-right: 0.5rem;
    padding-left: 0;
  }
}
