@import 'variables';
@import 'mixins';
@import 'loop-design-system/helpers';
@import 'loop-design-system-v2/colors';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid $neutral-100;
  height: auto;
  margin: 56px;
  max-width: pxToRem(448);
  padding: pxToRem(24);

  @include mobile-only {
    margin: 24px 16px 80px 16px;
    padding: pxToRem(16);
  }

  .header-section {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .header-back-container {
      display: flex;
      flex: 0 0 100%;
      margin-bottom: 1rem;

      @include mobile-only {
        border-bottom: 1px solid $light-grey-7;
        margin-bottom: 2.5rem;
        padding-bottom: pxToRem(7);
      }
    }

    .header-text {
      font-size: pxToRem(35);
      font-style: normal;
      font-weight: bold;
      line-height: 3rem;
    }
  }

  .action-section {
    margin-top: 1.25rem;
  }
}

.noWrap {
  flex-wrap: nowrap !important;
}
