<div *ngIf="!isMobile" class="logo" [routerLink]="['/']" [innerHTML]="loopDesktopLogoSvg"></div>
<div class="wrapper" [class.wrapper--auto-height]="autoHeight">
  <div>
    <div class="wrapper__header">
      <app-button *ngIf="!showSignOutButton" class="wrapper__back-button" mode="v2" variant="link-4" (click)="onBack()">
        <div class="wrapper__back-button-content">
          <loop-icon name="arrow-left" [clickable]="true" [size]="12"></loop-icon>
          {{ 'auth.wrapper.back' | translate }}
        </div>
      </app-button>
      <app-button *ngIf="showSignOutButton" class="wrapper__back-button no-margin" mode="v2" variant="link-4" (click)="onSignOut()">
        <div class="wrapper__back-button-content">
          {{ 'story.replyForm.signOut' | translate }}
        </div>
      </app-button>
      <app-language-picker [v2]="true"></app-language-picker>
    </div>
    <div class="wrapper__current-step">{{ 'auth.wrapper.steps' | translate : { currentStep: currentStep, numberOfSteps: 3 } }}</div>
  </div>
  <ng-content></ng-content>
</div>
