<div class="header" *ngIf="header; else footerTemplate" [class.mobile]="mobile">
  <app-checkbox [checked]="allSelected" [v2]="true" (changed)="onSelectAllChanged()" [alwaysRenderCheckmark]="true">
    <span class="text"
      >{{ (allSelected ? 'pagination.deselectAll' : 'pagination.selectAll') | translate }}
      <span *ngIf="channelType">({{ (channelType | channel).toLowerCase() }})</span></span
    >
  </app-checkbox>
  <div class="pagination-info">
    <ng-container *ngIf="selectedItemsLength > 0">
      <button class="reject-button" (click)="onRejectStories()">
        <img src="assets/icons/trashcan.svg" />
        {{ 'pagination.reject' | translate : { count: selectedItemsLength } }}
      </button>

      <button class="assign-moderator-button" (click)="onAssignSelectedStories()">
        <img src="assets/icons/personal-info_icon_mobile.svg" height="20" width="20" />
        {{ 'pagination.assignModerators' | translate : { count: selectedItemsLength } }}
      </button>
      <div class="vertical-divider" *ngIf="!mobile"></div>
    </ng-container>
    <ng-container *ngIf="!mobile">
      {{ 'pagination.info' | translate : { firstVisibleItemNumber, lastVisibleItemNumber, totalItems } }}
      <div class="arrow" (click)="onPreviousPageClicked()"><img src="assets/icons/arrow-left.svg" /></div>
      <div class="arrow" (click)="onNextPageClicked()"><img src="assets/icons/arrow-right.svg" /></div>
    </ng-container>
  </div>
</div>
<ng-template #footerTemplate>
  <div class="divided">
    <div class="items-per-page">
      {{ 'pagination.itemsPerPage' | translate }}
      <app-items-per-page-select (itemsPerPageChanged$)="onItemsPerPageChanged($event)"></app-items-per-page-select>
    </div>
    <div class="divider"></div>
    {{ 'pagination.info' | translate : { firstVisibleItemNumber, lastVisibleItemNumber, totalItems } }}
    <div class="divider"></div>
    <div class="arrows">
      <div class="arrow" (click)="onPreviousPageClicked()"><img src="assets/icons/arrow-left.svg" /></div>
      <div class="arrow" (click)="onNextPageClicked()"><img src="assets/icons/arrow-right.svg" /></div>
    </div>
  </div>
</ng-template>
