@import 'mixins';

.base-chart {
  height: 370px;
  @include mobile-only {
    height: 350px;
    &.high {
      height: 400px;
      @media screen and (max-width: 340px) {
        height: 440px;
      }
    }
    &.very-high {
      height: 420px;
      @media screen and (max-width: 340px) {
        height: 460px;
      }
    }
  }

  &.horizontal {
    height: 320px;

    @include mobile-up {
      height: 400px;
    }
  }
}
