@import 'mixins';

:host {
  display: flex;
  gap: 6px;
}

.login-status {
  $self: &;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: normal;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s;
  outline: none;
  display: inline-flex;
  align-items: center;
  padding: 0.781rem 0.25rem;
  border-radius: 8px;
  border: solid 1px transparent;

  &:hover,
  &:focus,
  &--active {
    border: solid 1px #ffffff;
  }

  &__icon {
    display: none;
    @include margin-right(0.625rem);
    @media (max-width: 1400px) {
      display: flex;
      ::ng-deep svg {
        width: 1.381rem;
        height: 1.381rem;
      }
    }
  }

  @media (max-width: 1400px) {
    padding: 0.781rem 0.25rem;

    &__text {
      font-size: 0.875rem;
    }

    &:not(.show-text-on-mobiles) {
      #{$self}__text {
        display: none;
      }

      #{$self}__icon {
        margin: 0;
      }
    }
  }
  @include mobile-only {
    &:not(.show-text-on-mobiles) {
      position: absolute;
      left: 0;
      top: -0.8125rem;
      padding: 0.781rem;
    }
  }

  &--magic-link {
    @include mobile-only {
      &:not(.show-text-on-mobiles) {
        left: -3.75rem;
        padding: 0.7065rem;
      }
    }
  }
}
