<div>
  <div>
    <div class="header">
      <div class="header-top">
        <a class="header__back-arrow" [routerLink]="backUrl" *ngIf="backLabel">
          <img class="arrow-image" src="assets/icons/arrow_previous_green.svg" />
          <span>{{ backLabel }}</span>
        </a>
      </div>
      <div class="header-bottom">
        <h1 class="header__heading">{{ headingLabel }}</h1>
        <p class="header__subheading" *ngIf="subheadingLabel">{{ subheadingLabel }}</p>
      </div>
    </div>
  </div>
</div>

<div class="flex-right-end">
  <ng-container *ngTemplateOutlet="sideContent">z</ng-container>
</div>
