<article class="case-manager-message">
  <ng-container *ngIf="message$ | async as message">
    <div class="case-manager-message__quotes"><img src="assets/double-quotes.png" /></div>
    <div class="case-manager-message__content">
      <div cy="case-manager-message-text" class="case-manager-message__text">{{ message.text }}</div>
      <div class="case-manager-message__person-info">
        <img class="case-manager-message__avatar" [src]="message.avatar" />
        <p class="case-manager-message__nickname">{{ message.nickname }}</p>
        <span class="case-manager-message__role">{{ 'newStoryV2.caseManagerMessage.role' | translate }}</span>
      </div>
    </div>
  </ng-container>
</article>
