<app-main-template
  (actionClick$)="loginSubmit($event)"
  [actionText]="'auth.login.form.submitText' | translate"
  [headerText]="'auth.login.form.headerText' | translate"
  [submitting]="submitting"
>
  <form form [formGroup]="loginForm" class="login-form">
    <label class="label-container">
      <span class="label-content">
        {{ 'auth.login.form.username.label' | translate }}
      </span>

      <loop-input
        (keydown.enter)="loginSubmit($event)"
        [showClearBtn]="true"
        [showCloseIcon]="true"
        autocomplete="email"
        formControlName="email"
        id="email"
        inputmode="email"
        type="email"
      ></loop-input>
    </label>

    <label class="label-container">
      <span class="label-content">
        {{ 'auth.login.form.password.label' | translate }}
      </span>

      <a class="reset-password action-link">
        {{ 'auth.login.form.forgotPassword' | translate }}
      </a>

      <loop-input
        (keydown.enter)="loginSubmit($event)"
        [showClearBtn]="true"
        [showCloseIcon]="true"
        autocomplete="password"
        formControlName="password"
        id="password"
        inputmode="password"
        type="password"
      ></loop-input>
    </label>
  </form>

  <div footer class="login-footer-container">
    <span class="login-create-account-text">
      {{ 'auth.login.createAccount' | translate }}
    </span>

    <a class="action-link" [href]="createAccountLink">
      {{ 'auth.login.applyLink' | translate }}
    </a>
  </div>
</app-main-template>
