@import 'mixins';
@import 'loop-design-system-v2/colors';
@import 'variables';

$max-width: 78.625rem;
$padding-sides: 1rem;
$max-width: 78.625rem;
$padding-sides: 1rem;

.inbox,
.outbox {
  padding-bottom: 3rem;

  &__filters {
    @media (min-width: $breakpoint-md) and (max-width: $max-width + (2 * $padding-sides)) {
      display: block;
      padding: 0 1rem;
    }

    .filters-section {
      max-width: $max-width;
      margin: 0 auto;

      @include mobile-only {
        // TODO Delete important after successful ::ng-deep replacement
        margin: 0 -1rem !important;
        padding: 1.25rem 1rem !important;
      }
    }
  }

  &__content-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: visible !important;

    &.max-width {
      display: flex;
      justify-content: center;
      max-width: 850px;
    }

    @media screen and (max-width: $max-width + (2 * $padding-sides)) {
      &.padding-sides {
        padding: 0 1rem;
      }
    }
  }

  .routing-bar {
    background-color: white;
  }

  .stats-container {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;

    @include mobile-only {
      padding: 0;
    }
  }
}

.inbox-table,
.outbox-table {
  width: 100%;

  th,
  td {
    align-items: center;
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .no-wrap {
    height: 26px;
    width: 0.0625rem;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    top: calc(50% - 11px);
    text-overflow: ellipsis;
  }

  th {
    font-weight: 600;
    color: $color-green-80;
  }

  td {
    font-weight: 400;
  }

  tr {
    display: flex;
  }

  .mat-header-cell,
  .mat-cell {
    border: none;
    padding-right: 0.75rem;
  }

  .mat-row {
    background-color: white;
    border-radius: 8px;
    height: auto;
    margin-bottom: 5px;

    &:hover {
      box-shadow: 0 7px 20px 0 rgb(0 0 0 / 25%);
    }
  }

  .mat-header-row {
    background-color: transparent !important;
  }
}

.replies-table {
  .mat-row {
    height: 70px;
  }
}

.mat-cell {
  color: $grey;
  cursor: pointer;
}

.inbox-separator,
.outbox-separator {
  background-color: $light-grey-8;
  display: block;
  height: 1px;
  width: 100%;
}

.inbox-list-container,
.outbox-list-container {
  width: 100%;
  max-width: 850px;
  &__nav {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    @include mobile-only {
      margin: 1rem 0;
    }
  }

  &__header {
    font-size: 2.813rem;
    font-weight: bold;
    margin: 0 0 2.5rem;
  }

  &__loading,
  &__no-more-results {
    color: $grey;
    display: flex;
    font-size: 1.125rem;
    font-weight: normal;
    justify-content: center;
    width: 100%;
    margin-top: 5rem;
  }

  .status {
    align-items: center;
    display: flex;

    img {
      margin-right: 0.625rem;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.lastVisitedId {
  transition: unset;
  animation: blink 1s linear 1;
}
