@import 'variables';
@import 'mixins';
@import 'loop-design-system/colors';
@import 'loop-design-system-v2/colors';

.language-picker {
  transition: 0.3s;
  padding: 0.781rem 0.25rem;
  border: 1px solid transparent;
  cursor: pointer;
  background: none;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: normal;
  color: #ffffff;
  display: flex;
  align-items: center;
  outline: none;

  &:not(.language-picker--select) {
    @include mobile-only {
      padding: 0 0.781rem;
      font-size: 0.875rem;
      @include padding-right(0);
      @include padding-left(0.983rem);
    }
  }

  &:hover {
    border-radius: 8px;
    border: solid 1px #ffffff;
  }

  &--v2 {
    color: $action-teal-500;
  }

  &--select {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: $neutral-800;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border: 1px solid $neutral-700;

    &:hover {
      border-radius: 8px;
      border: 1px solid $neutral-700;
    }
  }

  &__chevron {
    @include mobile-only {
      width: 0.997rem;
    }
  }
}

:host {
  ::ng-deep {
    loop-select {
      .select {
        max-width: 13.25rem;
        padding: 0.625rem;
      }

      .select__options {
        margin: 0;
        max-height: 12.5rem;
      }

      .select-option {
        @include mobile-only {
          font-size: 0.875rem;
        }
      }
    }
  }
}

.language-label {
  &:after {
    content: '\200E‎';
  }
  &:before {
    content: '\200E‎';
  }
}

.wide {
  width: 100%;
  display: flex;
}
