<article class="review-form" #storyReviewContainer>
  <div class="story-details" #storyDetails>
    <div class="review-form__wrapper">
      <ng-container *ngIf="reply; else postSkeleton">
        <app-post-author-date-flat class="review-form__header" [post]="reply" [underlined]="false"></app-post-author-date-flat>
        <p class="story-details__paragraph">{{ reply.content }}</p>
        <app-audio-player *ngIf="audioSrc$" [audioSrc]="audioSrc$ | async"></app-audio-player>
        <div class="thread-preview__separator"></div>
        <p class="thread-preview mt-1h">
          <a href="javascript:void(0)" (click)="showStoryDetails($event)">{{ 'admin.comment.preview.title' | translate }}</a
          ><span class="thread-preview__language text-small text-gray ml-0-375" *ngIf="reply?.storyLanguage"
            >{{ 'admin.pendingReplyReview.originalStoryWrittenIn' | translate }}&nbsp;{{
              'languages.' + reply.storyLanguage | translate
            }}</span
          >
        </p>
      </ng-container>
    </div>
    <ng-template #postSkeleton>
      <div class="post-skeleton">
        <app-skeleton-text [lines]="5"></app-skeleton-text>
      </div>
    </ng-template>
  </div>
  <div class="story-review__content review-form__form overflow-hidden">
    <div class="f-column w-100">
      <div class="translations-controller mt-3125">
        <div class="d-flex f-column mb-1">
          <app-inline-loading *ngIf="switchingLanguage" class="d-flex flex-center"></app-inline-loading>
          <div class="flex-grow-1">
            <!-- THEMATIC AREA -->
            <app-form-section
              (apply)="handleThematicChange()"
              (dismiss)="dismissThematicArea($event)"
              (outsideClicked)="thematicAreaOutsideClick()"
              [heading]="'filters.thematic' | translate"
              [isValid]="!!this.reply?.thematics.length"
              [requiredValidationError]="isSubmitted"
              [required]="true"
              [selectedItems]="selectedThematics"
              class="form__section"
              dropdownWidth="auto"
            >
              <loop-checkbox-filter-wrapper-grouped
                *ngIf="thematicAreaDataNew$ | async as thematicAreaData"
                [filterData]="thematicAreaData"
                [form]="commentForm"
                [isModal]="false"
                [reset$]="resetThematics$"
                controlName="thematics"
                [className]="'reply_thematic_form__section__dropdown'"
              ></loop-checkbox-filter-wrapper-grouped>
              <div slot="helptext" *ngIf="!this.reply?.thematics.length" cy="pending-reply-review-language-error" class="review-form__form__error">
                {{ 'errors.thematicsNotEntered' | translate }}
              </div>
            </app-form-section>

            <!-- SOLUTION PROPOSED -->
            <div class="solution-proposed">
              <app-slide-toggle
              [checked]="solutionProposed"
              (changed$)="solutionProposedChanged($event)"
              [text]="'admin.comment.solutionProposedButton' | translate"
            ></app-slide-toggle>
            </div>

            <div class="thread-preview__separator"></div>

            <app-form-section
              [singleValue]="true"
              [heading]="'admin.pendingStoryReview.originalLanguage' | translate"
              [required]="true"
              [isValid]="!!this.reply.language"
              [selectedItems]="replyLanguagePill"
              [requiredValidationError]="isSubmitted"
              (dismiss)="handleLanguageDismiss()"
              (apply)="handleLanguageChange(languageControl.value)"
            >
              <loop-language-autocomplete
                *ngIf="reply"
                [placeholder]="'admin.pendingStoryReview.originalLanguagePlaceholder' | translate"
                [existingOptions]="languageOptions"
                [formControl]="languageControl"
              ></loop-language-autocomplete>
              <div slot="helptext" *ngIf="!this.reply?.language" cy="pending-reply-review-language-error" class="review-form__form__error">
                {{ 'errors.languageNotEntered' | translate }}
              </div>
            </app-form-section>
          </div>
        </div>
        <ng-container *ngIf="reply; else formSkeleton">
          <app-content-translation-step
            class="content-translation-step"
            *ngIf="!allTranslated"
            [processing]="processing"
            [languagesOptions]="translationOptions"
            [targetLanguage]="targetLanguage"
            [translatedText]="translatedText"
            [originalLanguage]="reply.language"
            (translatedTextChange)="translatedText = $event"
            (targetLanguageChange)="targetLanguage = $event"
            (submitTranslation)="submitTranslation()"
            (closeClicked)="closeClicked()"
          ></app-content-translation-step>
        </ng-container>
        <ng-template #formSkeleton>
          <div class="form-skeleton">
            <app-skeleton-text [lines]="2"></app-skeleton-text>
          </div>
        </ng-template>
        <app-post-translation-controller
          *ngIf="reply"
          [processing]="processing"
          [initialTranslations]="translations"
          [selectedLanguage]="targetLanguage"
          [selectedLanguageContent]="translatedText"
          [originalLanguage]="reply.language"
          (languagesChanged)="updatedLanguages($event)"
          (verifyTranslation)="verifyTranslation($event)"
          (deleteTranslation)="deleteTranslation($event)"
          (retryTranslation)="retryTranslation($event)"
        ></app-post-translation-controller>
      </div>
      <app-actions-footer
        [saveButtonLabel]="publishButtonLabel"
        [cancelButtonLabel]="rejectButtonLabel"
        [performingSaveAction]="publishing"
        [performingCancelAction]="rejecting"
        [disableSaveAction]="disablePublishAction"
        [showStepControls]="false"
        [noNextIcon]="true"
        (cancel)="handleRejectClick()"
        (save)="publishReply()"
      ></app-actions-footer>
    </div>
  </div>
</article>

<ng-template #storyPreview>
  <div class="panel-content">
    <div class="flex-right-end">
      <img
        (click)="hideDetailsPanel()"
        class="preview-heading-close"
        src="assets/icons/close_green.svg"
        alt="{{ 'admin.comment.preview.hide' | translate }}"
      />
    </div>
    <div class="d-flex-space-between preview-heading-box">
      <h2>{{ 'admin.comment.preview.title' | translate }}</h2>
    </div>
    <app-story-with-comments
      *ngIf="reply?.storyId"
      (loadingError)="previewLoadingError()"
      [id]="reply.storyId"
      [channel]="reply.storyChannel"
      [forceExpanded]="true"
      [embed]="true"
      [showActions]="true"
      [showForm]="false"
      [showReplies]="true"
      [forceInfoWithin]="true"
      [showStoryInfo]="false"
    >
    </app-story-with-comments>
  </div>
</ng-template>
