<div class="story-details">
  <div ibmRow>
    <div class="notification-container-inline"></div>
  </div>
  <div class="story-details-top">
    <app-button class="custom-back" variant="link-2" (clicked)="goToStories()">
      <app-arrow-previous-icon></app-arrow-previous-icon>
      <span class="font-1125" *ngIf="(ui.mobileView$ | async) === false || totalReplies < 1">{{
        'newStoryV2.heading.allStories' | translate
      }}</span>
    </app-button>
    <app-button *ngIf="totalReplies > 0" class="jump-to" variant="secondary" mode="v2" (clicked)="goToReplies()">
      <span class="fw-600">{{ 'story.details.jumpToReplies' | translate: { value: totalReplies } }}</span>
      <app-arrow-previous-icon class="r-m90"></app-arrow-previous-icon>
    </app-button>
  </div>
  <div class="story-details__content">
    <app-story-with-comments [id]="storyId" (totalReplies)="totalRepliesChanged($event)"></app-story-with-comments>
  </div>
</div>
