<form class="age-section d-flex f-column" [formGroup]="form">
  <h4 class="font-big bold">{{ 'newStoryV2.form.age.title' | translate }}</h4>
  <span class="new-story-v2__info-link">{{ 'newStoryV2.form.age.info' | translate }}</span>
  <app-radio-group cy="age-section-app-radio-group" formControlName="age">
    <loop-new-story-radio
      *ngFor="let age of agesAvailable"
      cy="age-section-loop-new-story-radio"
      data-testid="age-section-loop-new-story-radio"
      [checked]="age === form.get('age').value"
      [label]="ageMapping[age] | translate"
      [value]="age"
    ></loop-new-story-radio>
  </app-radio-group>
<!--  <loop-info-link-->
<!--    (clicked)="onModalOpen()"-->
<!--    class="new-story-v2__explanation-link"-->
<!--    [text]="'newStoryV2.form.age.explanation' | translate"-->
<!--  ></loop-info-link>-->
</form>
