@import 'variables';
@import 'mixins';
@import 'loop-design-system/helpers';
@import 'loop-design-system-v2/colors';

h3 {
  color: $text-black;
}

.main-panel {
  height: 100%;
  min-height: 100vh;

  &__list-item {
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 0.938rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

#home-top-wrapper {
  @include mobile-only {
    @include padding-left(pxToRem(26));
  }
}

.post-preview-placeholder {
  margin-bottom: $post-preview-gutter;
  background-color: $post-preview-bg;

  ::ng-deep {
    .bx--skeleton__text {
      background-color: $post-list-bg;
    }
  }
}

.inline-loader {
  margin-top: 1rem;
}

.list-heading-container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .list-heading {
    display: flex;
    align-items: center;

    h5 {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      color: $neutral-500;
      margin: 0 8px 0 4px;
    }

    .list-heading-stories {
      font-size: 1.125rem;
      font-weight: bold;
      color: black;

      @include mobile-up {
        font-size: 1.25rem;
      }
    }
  }
}

.list-count__badge {
  align-items: center;
  appearance: none;
  background-color: $color-green-stepper;
  border-radius: 0.9375rem;
  border: 0;
  box-sizing: border-box;
  color: $color-green-10;
  display: inline-flex;
  font-family: inherit;
  font-size: 0.75rem;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.32px;
  line-height: 1.34;
  margin: 0;
  max-width: 100%;
  min-height: 1.5rem;
  min-width: 2rem;
  padding: 0.25rem 0.5rem;
  vertical-align: middle;
  word-break: break-word;

  @include mobile-up {
    font-size: 0.875rem;
  }
}
