<loop-modal [title]="'newStoryV2.modals.whatNext.title' | translate" class="new-story-v2">
  <div class="what-next-modal">
    <p class="loop-modal__p pb-125">{{ 'newStoryV2.modals.whatNext.topParagraph' | translate }}</p>
    <p class="loop-modal__p pb-125">
      {{ 'newStoryV2.modals.whatNext.centerParagraph.part1' | translate }}
      <span (click)="onCommunityGuidelinesClick()" class="what-next-modal__community-guidelines">
        {{ 'newStoryV2.modals.whatNext.centerParagraph.part2' | translate }}
      </span>
      {{ 'newStoryV2.modals.whatNext.centerParagraph.part3' | translate }}
    </p>
    <p class="loop-modal__p">{{ 'newStoryV2.modals.whatNext.bottomParagraph' | translate }}</p>
  </div>
  <div action-buttons>
    <app-button (clicked)="onModalClose()" mode="v2" variant="primary">{{ 'newStoryV2.modals.ok' | translate }}</app-button>
  </div>
</loop-modal>
