@import 'loop-design-system/helpers';
@import 'mixins';

:host {
  ::ng-deep {
    .no-top-margin {
      margin-top: 0;
    }
  }
}

.story-translate__right-container {
  .translation-container {
    background: white;
    display: flex;
    flex-direction: column;
  }
}

.parent-container {
  display: flex;
  margin-top: 30px;
}
