@import 'variables';
@import 'mixins';
@import 'loop-design-system/colors';

.phone-picker {
  &__option {
    display: flex;
    align-items: center;
  }

  &__input {
    display: flex;
    align-items: center;
  }

  &__input-country {
    $input-country: &;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $input-disabled-bg;
    cursor: pointer;
    @include border-top-right-radius(0);
    @include border-bottom-right-radius(0);
    @include border-right(none);
    flex-basis: 7rem;
    flex-shrink: 0;

    @include mobile-only {
      flex-basis: 6.5rem;
    }

    &-flag {
      width: 2.125rem;
      height: 1.401rem;
      @include margin-right(0.625rem);

      @include mobile-only {
        width: 1.625rem;
        height: 1.071rem;
        @include margin-right(0.313rem);
      }
    }

    &-label {
      font-size: 1.125rem;
      line-height: normal;
      color: $dark-grey;

      @include mobile-only {
        font-size: 16px;
      }
    }

    &-dropdown {
      margin-bottom: -3px;
      color: $loop-green-100;
      transition: 0.1s;
      transform: rotate(0);
    }

    &--open {
      #{$input-country}-dropdown {
        transform: rotate(180deg);
      }
    }
  }

  &__phone-input {
    margin: 0;
    flex-grow: 1;
    @include border-bottom-left-radius(0);
    @include border-top-left-radius(0);
    min-width: 0;
    appearance: none;

    @include mobile-only {
      line-height: 22px;
    }
  }

  &__flag {
    height: 1.236rem;
    width: 1.875rem;
    object-fit: contain;
  }

  &__label {
    display: flex;
    @include margin-left(0.625rem);
    font-size: 1.125rem;
    line-height: normal;
    color: $dark-grey;
  }

  &__prefix {
    color: $grey;
    @include margin-left(0.25rem);
  }

  ::ng-deep {
    .select__header {
      padding: 0 0 0.063rem;
    }

    .select__options {
      padding-top: 0.063rem;
      margin: 0;
      max-height: 14.875rem;
    }

    .select-option {
      padding: 1.25rem 0.313rem;
    }
  }
}
