<form class="filters-section" *ngIf="form" [formGroup]="form">
  <div class="filters-section__left-panel">
    <ng-container *ngIf="ui.mobileView$ | async; else desktopView">
      <button (click)="onModalOpen()" class="filters-section__left-panel__mobile-button flex-center filtersV2-link-button font-bold">
        {{ 'filtersV2.mobileLink' | translate }}
        <app-expand-more-icon [rotate]="-90" class="filters-section__left-panel__mobile-button__icon font-bold"></app-expand-more-icon>
      </button>
    </ng-container>
  </div>
  <div class="filters-section__right-panel" *ngIf="(ui.mobileView$ | async) === false">
    <button
      *ngIf="showAllStoriesButton"
      (click)="showStories($event)"
      class="filters-section__right-panel__all-stories rounded-square-button font-bold"
    >
      {{ 'filtersV2.seeAllStories' | translate }} ({{ storiesCount || 0 }})
    </button>
  </div>

  <ng-template #desktopView>
    <div class="filter-pills__wrapper">
      <div
        [ngClass]="{
          'blur-background': dropdownOpen && !isScrolled && !isInboxOrOutbox,
          'scroll-blur-background': (dropdownOpen && isScrolled && !isInboxOrOutbox) ||
           (isInboxOrOutbox && dropdownOpen && isScrolled),
          'blur-offset': isInboxOrOutbox && dropdownOpen && !isScrolled
        }"
      ></div>
      <ng-container *ngFor="let singleConfig of searchTextFilterConfig; let i = index">
        <app-pills
          gap="medium"
          (appClickOutside)="onClickInside($event)"
          [filters]="filterCounter"
          [searchValue]="getSearchTermValue()"
          (searchSubmitted)="handleSearchSubmitted($event, singleConfig)"
          [isPillsVisible]="dropdownOpen"
          (pillsVisibleChange)="onPillsVisibleChange($event)"
          [dropdownVisible]="dropdownOpen"
        >
          <!-- Left block -->
          <ng-container *ngFor="let singleConfig of visibleConfig; let i = index">
            <loop-filter-pill
              (click)="onFilterClick(i)"
              [text]="getPillTranslationKey(singleConfig) | translate"
              [config]="singleConfig"
              [liveCounter]="true"
              [formData]="getForm(singleConfig)"
              [theme]="
                hasValue(singleConfig) || (dropdownOpen && currentPill?.internalName === singleConfig.internalName)
                  ? 'outlined-filter-button'
                  : 'filter-button'
              "
            ></loop-filter-pill>
          </ng-container>

          <!-- Right block -->
          <div right-container>
            <loop-filter-dropdown
              *ngIf="dropdownStates[currentPillIndex] && currentPill"
              [config]="currentPill.config"
              [form]="form"
              [internalName]="currentPill.internalName"
              [data]="currentPill.config.data"
              [isModal]="isModal"
              (confirm)="onFiltersChange()"
              (escapeClicked)="onClickOutside()"
              (appClickOutside)="onClickOutside()"
              (regionIdChanged)="onRegionIdChanged($event)"
              [isNotSticky]="true"
              appDropdown
              [sourceEl]="currentPill.nativeElementRef"
              [autoWidth]="true"
              [offset]="[0, 10]"
              [selectedFilterTitle]="currentFilterTitle"
              [resetFiltersEvent]="resetFiltersEvent"
            >
            </loop-filter-dropdown>
          </div>
        </app-pills>
      </ng-container>
      <!-- Clear button -->
      <loop-filter-pill *ngIf="filterCounter > 0" (click)="onFiltersClear()" theme="green-link" [customContent]="true" #clearAllPill>
        <app-remove-bin-icon class="filters-section__left-panel__clear-all__icon"></app-remove-bin-icon>
        {{ 'filtersV2.clearAll' | translate }}
      </loop-filter-pill>
    </div>
  </ng-template>
</form>

<ng-template #allStories (appClickOutside)="hideDetailsPanel()">
  <div class="all-stories__header d-flex-space-between">
    <span class="all-stories__header-title"
      >{{ 'global.Stories' | translate }} {{ list?.totalCount ? '(' + list.totalCount + ')' : '' }}</span
    >
    <button class="all-stories__header-button" (click)="hideDetailsPanel()">
      <app-close-icon></app-close-icon>
    </button>
  </div>
  <app-list #list [storiesHeaderVisible]="false" [infiniteScrollContainer]="'.aside'"></app-list>
</ng-template>
