//registry.npmjs.org/:_authToken=***REMOVED***
@ourloop:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=***REMOVED***
//gitlab.com/api/v4/projects/24487110/packages/npm/:_authToken=***REMOVED***
