@import 'src/app/styles/mixins';

.additional-story-info {
  &__heading {
    line-height: 1.688rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1.563rem;
  }

  app-additional-story-info-section {
    margin-bottom: 1.875rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__types {
    padding-top: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    @include flex-gap(0.625rem);
  }

  &__info {
    font-size: 1.25rem;
    line-height: normal;

    @include mobile-only {
      font-size: 1rem;
    }
  }
}
