<loop-card class="additional-story-info" [flat]="flat" [noPadding]="noPadding">
  <h4 class="additional-story-info__heading">{{ 'story.details.storyInformation.heading' | translate }}</h4>

  <app-additional-story-info-section [heading]="'story.details.storyInformation.type.label' | translate">
    <div class="additional-story-info__types">
      <app-pill
        *ngFor="let type of storyTypes"
        variant="new"
        theme="outlined-purple"
        customContent="true"
        prefixIcon="true"
        bold="true"
        [bigPadding]="true"
      >
        <app-story-category-icon prefixIcon [category]="type.category"></app-story-category-icon>
        <span>{{ type.name | translate }}</span>
      </app-pill>
    </div>
    <p *ngIf="!storyTypes?.length">
      {{ placeholderValue }}
    </p>
  </app-additional-story-info-section>

  <!-- AGE -->
  <app-additional-story-info-section [heading]="'story.details.storyInformation.age.label' | translate">
    <p class="additional-story-info__info">{{ storyAge | translate }}</p>
  </app-additional-story-info-section>

  <!-- GENDER -->
  <app-additional-story-info-section [heading]="'story.details.storyInformation.gender.label' | translate">
    <p class="additional-story-info__info">{{ storyGender | translate }}</p>
  </app-additional-story-info-section>

  <!-- DISABILITIES -->
  <app-additional-story-info-section [heading]="'story.details.storyInformation.disability.label' | translate">
    <p class="additional-story-info__info">{{ disabilities }}</p>
  </app-additional-story-info-section>

  <!-- CHANNEL -->
  <app-additional-story-info-section [heading]="'story.details.storyInformation.sentBy.label' | translate">
    <p class="additional-story-info__info">{{ storyChannel }}</p>
  </app-additional-story-info-section>

  <!-- THEMATIC AREA -->
  <app-additional-story-info-section [heading]="'story.details.storyInformation.thematic.label' | translate">
    <p class="additional-story-info__info">{{ thematicAreas | async }}</p>
  </app-additional-story-info-section>
</loop-card>
