<div class="community-guidelines-container">
  <section>
    <h1>
      {{ 'communityGuidelines.header.title' | translate }}
    </h1>

    <p [innerHtml]="'communityGuidelines.header.paragraph.main' | translate"></p>

    <span [innerHtml]="'communityGuidelines.header.paragraph.1' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.header.paragraph.2' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.header.paragraph.3' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.header.paragraph.4' | translate"> </span>
  </section>

  <section>
    <h2>1. {{ 'communityGuidelines.section.1.title' | translate }}</h2>

    <span [innerHtml]="'communityGuidelines.section.1.paragraph.1' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.1.paragraph.2' | translate"> </span>
  </section>

  <section>
    <h2>2. {{ 'communityGuidelines.section.2.title' | translate }}</h2>

    <span [innerHtml]="'communityGuidelines.section.2.paragraph.1' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.2.paragraph.2' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.2.paragraph.3' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.2.paragraph.4' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.2.paragraph.5' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.2.paragraph.6' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.2.paragraph.7' | translate"> </span>
  </section>

  <section>
    <h2>3. {{ 'communityGuidelines.section.3.title' | translate }}</h2>

    <span [innerHtml]="'communityGuidelines.section.3.paragraph.1' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.3.paragraph.2' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.3.paragraph.3' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.3.paragraph.4' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.3.paragraph.5' | translate"> </span>
  </section>

  <section>
    <h2>4. {{ 'communityGuidelines.section.4.title' | translate }}</h2>

    <span [innerHtml]="'communityGuidelines.section.4.paragraph.1' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.4.paragraph.2' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.4.paragraph.3' | translate"> </span>
  </section>

  <section>
    <h2>5. {{ 'communityGuidelines.section.5.title' | translate }}</h2>

    <span [innerHtml]="'communityGuidelines.section.5.paragraph.1' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.5.paragraph.2' | translate"> </span>
  </section>

  <section>
    <h1>
      {{ 'communityGuidelines.section.6.title' | translate }}
    </h1>

    <span [innerHtml]="'communityGuidelines.section.6.paragraph.1' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.6.paragraph.2' | translate"> </span>
    <span [innerHtml]="'communityGuidelines.section.6.paragraph.3' | translate"> </span>
  </section>
</div>
