@import 'variables';
@import 'mixins';
@import 'loop-design-system/helpers';

.community-guidelines-container {
  margin: pxToRem(90) auto;
  max-width: pxToRem(892);

  @include mobile-only {
    margin: pxToRem(40) pxToRem(20);
  }

  section {
    margin-bottom: pxToRem(60);

    &:last-of-type {
      margin-bottom: 0;
    }

    h1 {
      color: $dark-grey;
      font-size: pxToRem(35);
      font-style: normal;
      font-weight: bold;
      line-height: pxToRem(48);
      margin-bottom: pxToRem(50);

      @include mobile-only {
        font-size: pxToRem(30);
        line-height: pxToRem(41);
      }
    }

    h2 {
      color: $dark-grey;
      font-size: pxToRem(24);
      font-style: normal;
      font-weight: bold;
      line-height: pxToRem(25);
      margin-bottom: pxToRem(30);

      @include mobile-only {
        font-size: pxToRem(22);
        line-height: pxToRem(30);
      }
    }

    p {
      color: $dark-grey;
      font-size: pxToRem(26);
      font-style: normal;
      font-weight: normal;
      line-height: pxToRem(35);
      margin-bottom: pxToRem(40);

      @include mobile-only {
        font-size: pxToRem(18);
        line-height: pxToRem(25);
      }
    }

    span {
      color: $dark-grey;
      display: block;
      font-size: pxToRem(20);
      font-style: normal;
      font-weight: normal;
      line-height: pxToRem(27);
      margin-bottom: pxToRem(20);

      @include mobile-only {
        font-size: pxToRem(16);
        line-height: pxToRem(22);
      }
    }
  }
}

a {
  color: $loop-interactive-01;
  font-size: pxToRem(20);
  font-style: normal;
  font-weight: bold;
  line-height: pxToRem(27);
  text-decoration: underline;
}
