@import 'variables';
@import 'loop-design-system/colors';
:host {
  -webkit-tap-highlight-color: transparent;
}

.btn-switch {
  border-radius: 100px;
  background-color: $grey-1;
  border: none;
  padding: 0.7rem;
  cursor: pointer;

  > span {
    padding: 0.25rem 0.7rem;
    border-radius: 100px;
    color: $loop-purple-100;
    font-weight: 400;

    &.active {
      font-weight: 600;
      background-color: white;
      transition: background-color 0.3s linear;
    }
  }
}
