@import 'src/app/styles/variables';
@import 'mixins';

:host {
  z-index: 1;
  border-radius: 16px;
}

.select {
  $self: &;
  border-radius: 8px;
  background-color: #ffffff;
  width: 18.5rem;
  z-index: 10;
  max-width: calc(100vw - 40px);
  max-height: 300px;
  overflow: auto;
  padding: 0.281rem 0.625rem 0.45rem;
  box-shadow: 0 7px 20px 0 rgb(0 0 0 / 25%);

  &.full-width {
    height: max-content;
    max-width: 100%;
    width: auto;
    overflow-x: hidden;
  }

  &.flat {
    box-shadow: none;
    padding: 0;

    #{$self}__options {
      max-height: none;
    }

    ::ng-deep {
      .select-option {
        @include padding-left(0, true);
        @include padding-right(0, true);
      }
    }
  }

  &__header {
    padding: 0 0.625rem 0.781rem;
    position: relative;
  }

  &__header-separator {
    height: 0.063rem;
    background-color: #c4c4c4;
    position: absolute;
    left: -0.625rem;
    right: -0.625rem;
    bottom: 0;
  }

  &__options {
    margin: 0.938rem 0;

    ::ng-deep {
      loop-select-option {
        margin-bottom: 0.063rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
