@use 'sass:map';
@import 'loop-design-system-v2/colors';
@import 'mixins';
@import './icomoon/style';

:host {
  width: calc(100% + 1px);
  height: calc(100% + 1px);

  button {
    border: 0;
    padding: 0;
    background: unset;
    font-size: 2.5rem;
    color: inherit;

    @include mobile-only {
      font-size: 2.25rem;
    }

    &:focus:not(.link):not(.link-2):not(.link-3) {
      box-shadow: none;
    }
  }

  .loop-icon-padlock:before {
    color: inherit;
  }
}

@mixin path1() {

  // first path (usually background)
  .path1 {
    &:before {
      @content;
    }
  }
}

@mixin path2() {

  // secondary path (symbol)
  .path2 {
    &:before {
      @content;
    }
  }
}

@mixin icon($theme) {
  @include path1() {
    color: map.get($theme, '500'); // default state
  }

  @include path2() {
    color: $neutral-000;
  }

  &:before {
    color: map.get($theme, '500'); // default state
  }

  &.dark {
    &:before {
      color: map.get($theme, '600'); // default state
    }
  }

  &.button {
    cursor: pointer;

    &:hover,
    &:focus {
      @include path1() {
        color: map.get($theme, '400'); // hover / focus satte
      }
    }

    &:active {
      @include path1() {
        color: map.get($theme, '600'); // pressed state
      }
    }

    &:disabled {
      opacity: 0.3;
    }
  }

  &.clickable {
    cursor: pointer;
  }
}

@mixin icon-reverted($theme) {
  @include path1() {
    color: transparent; // default state
  }

  @include path2() {
    color: map.get($theme, '500'); // default state
  }

  &.button {
    cursor: pointer;

    &:hover,
    &:focus {
      @include path1() {
        color: map.get($theme, '100'); // default state
      }
    }

    &:active {
      @include path1() {
        color: map.get($theme, '200'); // default state
      }

      @include path2() {
        color: map.get($theme, '600'); // default state
      }
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}

@each $name, $theme in $loop-themes {
  .theme-#{$name} {
    @include icon($theme);
  }

  .theme-#{$name}-reverted {
    @include icon-reverted($theme);
  }
}