@import 'loop-design-system-v2/colors';
@import 'mixins';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $neutral-050;
}

.processing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 520px;

  img {
    @include mobile-only {
      width: 100px;
      height: 100px;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $neutral-800;
    text-align: center;

    @include mobile-only {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $neutral-500;
    padding: 0 80px;

    @include mobile-only {
      font-size: 16px;
      line-height: 24px;
      padding: 0 40px;
    }
  }
}
