<loop-autocomplete
  (addClicked)="handleOrganisationAdd($event)"
  (ngModelChange)="handleSelectedOrganizationChange($event)"
  (queryChanged)="handleQueryChange($event)"
  [addNewLabel]="'newStoryV2.organisations.addNewLabel'"
  [mobileTitle]="mobileTitle"
  [ngModel]="control.value"
  [openDropDownOnSuffixClick]="openDropDownOnSuffixClick"
  [options]="matchingOrganizations"
  [placeholder]="placeholder"
  [showAddOption]="!perfectMatch && showAddOption"
  [showAllWhenEmpty]="showAllWhenEmpty"
  [prefix]="prefix"
  [suffix]="true"
  [prefixTemplate]="prefixTemplate"
  [suffixTemplate]="suffixTemplate"
  [countryTemplate]="countryTemplate"
  [shouldRouteForMobile]="shouldRouteForMobile"
  [shouldSetTextBasedOnId]="true"
  cy="organisations-section-loop-autocomplete"
>
  <ng-template #prefixTemplate let-option="option">
    <ng-container *ngIf="option.usersCount || option.usersCount === 0">
      <div class="user-icon">
        <loop-icon
          [name]="option.usersCount > 0 ? LoopIcon.Name.Check : LoopIcon.Name.NoUser"
          [theme]="LoopIcon.Theme.Primary"
          [size]="option.usersCount > 0 ? 12 : 24"
          [isButton]="false"
        ></loop-icon>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #countryTemplate let-option="option">
    <div *ngIf="option.countryCode">{{ option.countryCode | country }}</div>
  </ng-template>
  <ng-template #suffixTemplate let-option="option">
    <div *ngIf="option.storiesCount || option.storiesCount === 0" class="pills-wrap">
      <span class="pills-number">{{ option.storiesCount }}</span>
    </div>
  </ng-template>
</loop-autocomplete>
