<div
  class="checkbox-block"
  [class.checked]="checked"
  (click)="handleClick($event)"
  tabindex="0"
  role="checkbox"
  [attr.aria-checked]="checked"
  (keydown.space)="$event.preventDefault(); handleClick($event)"
>
  <input [id]="id" class="d-none" type="checkbox" [checked]="checked" [value]="value" />
  <div class="check-square">
    <img src="assets/icons/checkmark.svg" />
  </div>
  <div class="checkbox-block__content">
    <ng-content></ng-content>
    <label [for]="id" (click)="$event.preventDefault(); handleClick($event)">
      <span>{{ label }}</span>
    </label>
  </div>
</div>
