@import 'variables';
@import 'mixins';
@import 'loop-design-system/helpers';

.translate-header {
  display: flex;
  flex-direction: column;
  margin-bottom: pxToRem(60);
  max-width: pxToRem(540);

  @include mobile-only {
    margin-bottom: pxToRem(24);
    max-width: 100%;
    padding: 0 pxToRem(16);
  }

  &__title {
    color: $dark-grey;
    font-size: pxToRem(35);
    font-style: normal;
    font-weight: bold;
    line-height: pxToRem(25);
    margin-bottom: pxToRem(35);

    @include mobile-only {
      font-size: pxToRem(22);
      line-height: pxToRem(32);
      margin-bottom: pxToRem(12);
    }
  }

  &__subTitle {
    color: $dark-grey-50;
    font-size: pxToRem(18);
    font-style: normal;
    font-weight: normal;
    line-height: pxToRem(24);

    @include mobile-only {
      font-size: pxToRem(18);
      line-height: pxToRem(24);
    }
  }
}
