@import 'loop-design-system/colors';
@import 'loop-design-system/helpers';
@import 'variables';
@import 'mixins';
@import 'loop-design-system/helpers';

.single-reply {
  ::ng-deep {
    .card {
      padding-bottom: 1.25rem;
    }
  }

  .reply-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .thematic_tags {
    color: $grey;
    line-height: 1.5;
  }
}
