@import 'mixins';
:host {
  position: relative;
  display: block;
  max-width: 100%;
  width: auto;

  ::ng-deep {
    .escape-info__tooltip {
      position: relative;
      top: 12px; // Adjust distance from the bottom as needed
      transform: translateX(-50%); // Center it horizontally

      * {
        color: white;
      }

      .got-it__submit-btn {
        background: transparent;
        margin-top: 12px;
        padding: 0;
        text-align: left;
        font-weight: 600;
        font-size: inherit;
      }

      .custom-tooltip-arrow {
        bottom: -4px;
        transform: translateX(-50%);
      }

      @include mobile-only {
        display: none;
      }
    }
  }
}