@import 'mixins';
@import 'variables';

.base-chart {
  height: 325px;

  @include mobile-only {
    height: 410px;
  }
}

loop-switch {
  position: absolute;
  top: 0;
  z-index: $chart-control-zindex;
}
