<app-inbox-outbox-styler>
  <main class="inbox">
    <ng-container *ngIf="isFiltersVisible">
      <loop-subnavigation-bar #subNavigationBar [routes]="inboxRoutes"></loop-subnavigation-bar>
      <loop-filter-section-v2
        class="inbox__filters"
        [config]="filtersConfig$ | async"
        [showAllStoriesButton]="false"
      ></loop-filter-section-v2>
    </ng-container>

    <div class="inbox__content-wrapper" [class.max-width]="setMaxWidth" [class.padding-sides]="ui.tabletView || ui.desktopView">
      <router-outlet></router-outlet>
    </div>
  </main>
</app-inbox-outbox-styler>
