<div class="slider">
  <div #wrapper class="d-flex slider-track-wrapper">
    <div #arrow class="arrow left" [class.disabled]="animating" (click)="changeSlide(false)">
      <app-expand-more-icon [rotate]="90" [rtl]="true"></app-expand-more-icon>
    </div>
    <div #viewport class="slider__viewport" [style.width.px]="wrapperWidth - 2 * arrow.clientWidth">
      <div #sliderTrack class="slider__track" [style.transform]="'translateX(' + translateX + 'px)'">
        <div [style.width.px]="viewport.clientWidth" class="slider__item" *ngFor="let slide of renderedSlides">
          <img
            src="assets/icons/statistics-cases/{{ slide.iconName }}.svg"
            [alt]="'statisticsCases.accountabilityProcess.slider.' + slide.titleTranslationKey + '.title' | translate"
          />
          <span class="bold">{{ slide.titleTranslationKey | translate }}</span>
          <span>{{ slide.descriptionTranslationKey | translate }}</span>
        </div>
      </div>
    </div>
    <div class="arrow right" [class.disabled]="animating" (click)="changeSlide()">
      <app-expand-more-icon [rotate]="-90" [rtl]="true"></app-expand-more-icon>
    </div>
  </div>
  <div class="slider__counter">
    <div class="slider__counter-number">
      {{ isRtl ? sliderOptions.length + '/' + currSlide : currSlide + '/' + sliderOptions.length }}
    </div>
  </div>
</div>
