@import 'variables';
@import 'mixins';

.loop-modal {
  &__paragraph {
    a {
      color: $loop-interactive-01;
      cursor: pointer;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__list-row {
    @include mobile-only {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    list-style-type: disc;
    padding-inline-start: 2rem;

    @include mobile-only {
      list-style-type: none;
      padding-inline-start: 0;
    }
  }

  &__list-label {
    font-weight: bold;
    @include mobile-only {
      padding-bottom: 0.188rem;
    }
  }
}
