@import 'loop-design-system-v2/colors';
@import 'mixins';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form-container {
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: $neutral-800;
    padding-right: 100px;
    margin-bottom: 16px;

    @include mobile-only {
      font-size: 22px;
      line-height: 32px;
      padding: 0;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: $neutral-500;

    @include mobile-only {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__form {
    margin-top: 32px;

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__label-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $neutral-500;

    @include mobile-only {
      font-size: 14px;
    }

    loop-input {
      width: 100%;
    }
  }

  &__label-content {
    font-size: 16px;
    line-height: 24px;
    color: $neutral-700;
    font-weight: 700;

    @include mobile-and-tablet-only {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__slide {
    margin: 8px 8px 0 0;
  }
}

.continue-button {
  height: 56px;

  @include mobile-only {
    height: 48px;
    margin-top: 32px;
  }
}
