<form class="what-is-your-name" [formGroup]="form">
  <h4 class="font-big semi-bold">{{ 'newStoryV2.form.name.title' | translate }}</h4>
  <p class="new-story-v2__info-link input-description">
    <span>{{ 'newStoryV2.form.name.info' | translate }}</span>
  </p>
  <loop-input
    cy="what-is-your-name-loop-input"
    data-testid="what-is-your-name-loop-input"
    formControlName="authorNickname"
    type="text"
    autocomplete="name"
    maxLength="100"
  ></loop-input>
  <loop-info-link
    (clicked)="onModalOpen()"
    class="new-story-v2__explanation-link"
    [text]="'newStoryV2.form.name.explanation' | translate"
  ></loop-info-link>
</form>
