<loop-modal class="rerecord">
  <div class="rerecord-title">You are about to re-record the audio</div>
  <div class="rerecord-text">
    By selecting to re-record the audio, you will remove this audio from the queue and the reply will go back to outbox.
  </div>
  <div class="rerecord-question">Do you wish to proceed?</div>
  <div action-buttons class="rerecord-action-buttons">
    <app-button cy="reject-form-app-button-cancel" class="reject-form__button" mode="v2" variant="outlined" (click)="onModalClose()">
      Cancel
    </app-button>
    <app-button mode="v2" variant="danger" (click)="onRerecordClick()"> Re-record audio </app-button>
  </div>
</loop-modal>
