@keyframes placeHolderShimmer {
  0% {
    transform: translateZ(0);
    background-position: -500px 0;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    background-position: 500px 0;
  }
}

.loader-line {
  will-change: transform;
  animation: placeHolderShimmer 1s linear infinite forwards;
  background: #e6e6e6;
  background: linear-gradient(90deg, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 1000px 100%;
  height: 100%;
  position: relative;
  width: 100%;
}

.small {
  height: 0.75rem;
}

.medium {
  height: 1rem;
}

.big {
  height: 1.5rem;
}
