@import 'variables';
@import 'mixins';
@import 'loop-design-system/colors';
@import 'loop-design-system-v2/colors';
@import 'loop-design-system/helpers';

.button {
  width: 100%;
  height: 100% !important;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s all linear !important;
  text-transform: inherit !important;

  &:focus {
    outline: none;
    &:not(.link):not(.link-2):not(.link-3) {
      box-shadow: 0 0 0 1px $purple-highlight;
    }
  }

  &[disabled] {
    $disabled-color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
    color: $disabled-color !important;

    .icon-primary {
      background-color: $disabled-color;
    }
  }

  &.no-padding {
    padding: 0;
  }

  &.big-padding {
    padding: pxToRem(17.5);
  }

  &.full-width {
    height: 100%;
    width: 100%;
  }

  .content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    justify-content: center;

    > * + * {
      @include margin-left(pxToRem(18), true);
    }

    &--hidden {
      visibility: hidden;
    }
  }

  .loader {
    position: absolute;
    width: auto;
    @include centerAbsoluteElement;
  }

  @mixin iconFill($color) {
    .content svg[icon] {
      fill: $color;
    }
  }

  @mixin buttonInteractions {
    &:not([disabled]):focus {
      @content;
    }
  }

  &.v3 {
    span {
      font-weight: 600;
      font-size: 18px;

      @include mobile-only {
        font-size: 16px;
      }
    }

    &.primary {
      background: $action-teal-500;
      height: 56px;

      &:hover {
        background-color: #107D79;
        border-color: #FFFFFF;
      }

      @include mobile-only {
        height: 48px;
      }

      @include buttonInteractions {
        background-color: darken($action-teal-500, 10%);
      }
    }
  }

  &.v2 {
    @include mobile-up {
      font-size: 1.125rem;
    }

    span {
      font-weight: 600;
    }

    &.primary {
      background-color: $color-green-stepper;
      border: 1px solid $loop-interactive-01;
      &:hover {
        background-color: #107D79;
        border-color: #FFFFFF;
      }
    }

    &.secondary {
      background: transparent;
      color: $loop-interactive-01;

      @include buttonInteractions {
        text-decoration: none;
        background-color: $light-grey-4;
      }

      &:focus {
        background-color: transparent !important;
        border: 1px solid $light-grey-4 !important;
        box-shadow: none !important;
      }
    }

    &.danger {
      background-color: $danger;

      @include buttonInteractions {
        background-color: darken($danger, 15%);
      }

      &[disabled] {
        background-color: lighten($danger, 10%);
      }
    }
  }

  &.v3 {
    @include mobile-up {
      font-size: 1.125rem;
    }

    span {
      font-weight: 600;
    }

    &.primary {
      border: 1px solid $loop-interactive-01;
    }

    &.secondary {
      background: transparent;
      color: $action-teal-500;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      padding: 0;

      @include buttonInteractions {
        text-decoration: none;
      }

      &:focus {
        background-color: none !important;
        border: none !important;
        box-shadow: none !important;
      }
    }

    &.danger {
      background-color: $danger;

      @include buttonInteractions {
        background-color: darken($danger, 15%);
      }

      &[disabled] {
        background-color: lighten($danger, 10%);
      }
    }
  }

  &.primary {
    color: #ffffff;
    background: $loop-interactive-01;
    @include iconFill(#ffffff);

    @include buttonInteractions {
      background-color: darken($loop-interactive-01, 10%);
    }

    &[disabled] {
      background: #eeeeee;
      color: $grey-25;
    }
  }

  &.secondary {
    color: $loop-purple-100;
    background: $light-grey;
    @include iconFill($loop-purple-100);

    @include buttonInteractions {
      text-decoration: underline;
    }
  }

  &.reject {
    background: #fff;
    border: 1px solid $light-grey-4;
    color: $destructive-red-500;

    @include buttonInteractions {
      background-color: #e3e6eb;
    }
  }

  &.outlined {
    border: solid 1px $loop-interactive-01;
    color: $loop-interactive-01;
    background: white;
    @include iconFill($loop-interactive-01);

    @include buttonInteractions {
      background: $loop-interactive-01;
      color: white;
    }

    &[disabled] {
      color: $grey-25;
      border-color: $grey-25;
    }
  }

  &.select-option {
    width: 100%;
    color: black;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.56;
    letter-spacing: normal;
    background: white;
    border: 1px solid transparent;
    @include iconFill($loop-purple-100);

    &:hover {
      background: #f6f6f9;
      border-color: $loop-interactive-01;
      border-radius: 4px;
    }

    .content {
      justify-content: space-between;
    }

    @include buttonInteractions {
      color: $loop-purple-100;
      border: 1px solid $loop-purple-100;

      .icon {
        color: $loop-purple-100 !important;
      }
    }

    &[disabled] {
      color: $grey-25;
      border-color: $grey-25;
    }
  }

  &.danger {
    background-color: $danger-red;
    color: #ffffff;
    @include iconFill(#ffffff);

    @include buttonInteractions {
      background-color: darken($danger-red, 15%);
    }

    &[disabled] {
      color: $grey-25;
      background-color: transparentize($danger-red, 0.4);
    }
  }

  &.destructive-outline {
    color: $danger-red;
    background: #ffffff;
    border: solid 1px #de222d;

    @include buttonInteractions {
      background-color: $danger-red;
      color: #ffffff;
    }
  }

  &.link,
  &.link-2,
  &.link-3,
  &.link-4,
  &.link-5 {
    color: $loop-interactive-01;
    background: transparent;
    border: 1px solid #e0e0e5;
    border-radius: 4px;
    @include iconFill($loop-interactive-01);

    .content {
      justify-content: flex-start;
    }
  }

  &.link {
    @include buttonInteractions {
      text-decoration: underline;
    }
  }

  &.link-2 {
    .content {
      text-decoration-line: underline;
      text-decoration-thickness: from-font;
      font-size: 1.25rem;
      font-weight: 600;
    }

    @include buttonInteractions {
      cursor: pointer;
      .content {
        text-decoration-thickness: auto;
      }
    }
  }

  &.link-3 {
    @include padding-right(0, true);

    .content {
      font-size: 18px;
      font-weight: 600;

      @include mobile-only {
        font-size: 16px;
      }
    }

    @include buttonInteractions {
      cursor: pointer;
      text-decoration: underline;
      outline: none;
      border: none;
    }
  }

  &.link-4 {
    @include padding-right(0, true);
    color: $action-teal-500;
    @include iconFill($action-teal-500);

    .content {
      font-size: 18px;
      font-weight: 600;

      @include mobile-only {
        font-size: 16px;
      }
    }

    @include buttonInteractions {
      cursor: pointer;
      text-decoration: underline;
      outline: none;
      border: none;
    }
  }

  &.link-5 {
    @include padding-right(0, true);
    color: $action-teal-500;
    padding: 0;
    @include iconFill($action-teal-500);

    .content {
      width: max-content;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }

    @include buttonInteractions {
      cursor: pointer;
      text-decoration: underline;
      outline: none;
      border: none;
    }
  }

  &.tertiary {
    background: #ffffff;
    color: $loop-green-100;

    @include buttonInteractions {
      background-color: #e3e6eb;
    }
  }

  &.tertiary-2 {
    background: $loop-purple-100;
    color: $loop-purple-800;

    @include buttonInteractions {
      background-color: $loop-purple-200;
    }

    @include mobile-only {
      background: $neutral-000;
      color: $loop-purple-700;
    }
  }
}
