<div class="action-footer">
  <app-button
    *ngIf="showStepControls && step < totalSteps"
    cy="actions-footer-app-button-next"
    [disabled]="disableButtons"
    mode="v2"
    variant="primary"
    [bigPadding]="true"
    [fullWidth]="true"
    (clicked)="handleNextStepClick()"
  >
    {{ 'global.nextStep' | translate }}
    <app-arrow-next-icon *ngIf="!noNextIcon" class="ml-0625"></app-arrow-next-icon>
  </app-button>

  <div class="reject-publish-wrapper">
    <app-button
      class="reject-button"
      cy="actions-footer-app-button-cancel"
      mode="v2"
      variant="reject"
      [bigPadding]="true"
      [fullWidth]="true"
      (clicked)="handleCancelClick()"
    >
      {{ cancelButtonLabel | translate }}
    </app-button>

    <app-button
      mode="v2"
      variant="primary"
      class="publish-button"
      [bigPadding]="true"
      [fullWidth]="true"
      *ngIf="showSaveAction"
      cy="actions-footer-app-button-save"
      (clicked)="handleSaveClick()"
      [loading]="performingSaveAction"
      [disabled]="checkPublishButtonDisabled"
    >
      {{ saveButtonLabel | translate }}
      <app-arrow-next-icon *ngIf="!noNextIcon" class="ml-0625"></app-arrow-next-icon>
    </app-button>
  </div>

  <app-button
    *ngIf="showStepControls && step >= 2"
    variant="outlined"
    [disabled]="disableButtons"
    (clicked)="handlePreviousStepClick()"
    [bigPadding]="true"
  >
    <app-arrow-previous-icon></app-arrow-previous-icon>
    <span>{{ 'global.previousStep' | translate | titlecase }}</span>
  </app-button>
</div>
