@import 'variables';
@import 'loop-design-system/colors';
@import 'loop-design-system-v2/colors';
@import 'mixins';

.loop-input {
  align-items: center;
  border-radius: 4px;
  border: 1px solid $neutral-400;
  display: flex;
  height: 55px;
  font-size: 1.125rem;
  line-height: 1.5rem;
  outline: 0;
  padding: 1rem 12px;
  transition: 0.2s;
  background-color: $neutral-000;
  box-sizing: border-box;

  @include mobile-only {
    font-size: 1rem;
    line-height: 1.375rem;
    padding: 1.063rem 1.25rem;
    height: 56px;
  }

  > * + * {
    @include margin-left(0.7rem);
  }

  &__error {
    margin-top: 0.125rem;
    display: none;
    color: $destructive-red-700;
    font-size: 14px;
    line-height: 20px;

    @include mobile-only {
      font-size: 0.85rem;
    }

    &.v2 {
      color: $destructive-red-700;
      margin-top: 12px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      @include mobile-only {
        font-size: 12px;
        line-height: 20px;
        margin-top: 8px;
      }
    }

    &--visible {
      display: flex;
      align-items: center;

      & > * {
        display: flex;
      }
    }
  }

  &__clear-btn {
    background: none;
    display: inline-flex;
    border: none;
    padding: 0.166rem;
    cursor: pointer;
  }

  input {
    border: none;
    outline: none;
    box-shadow: none;
    flex-grow: 1;
    padding: 0 0.9375rem;
    font-size: 1.125rem;
    line-height: normal;
    height: 32px;
    color: $neutral-800;
    width: 100%;
    @include mobile-only {
      font-size: 1rem;
    }
  }

  // &:hover {
  //   border: 2px solid $loop-purple-500;
  // }

  &:disabled,
  &.disabled {
    border-color: #c7cdd4;
    font-size: $grey;
    background-color: $input-disabled-bg;
    pointer-events: none;

    input {
      background-color: transparent;
      color: $grey;
    }
  }

  &.readonly {
    cursor: pointer;

    input {
      cursor: pointer;
    }
  }

  &.invalid {
    border-color: $destructive-red-500;
    border-width: 2px;

    // &:hover {
    //   border-color: $destructive-red-500;
    //   box-shadow: inset 0 0 1px 2px $destructive-red-500;
    // }

    // &:focus-within {
    //   box-shadow: inset 0 0 1px 2px $destructive-red-500;
    // }
  }

  &.solid-placeholder {
    input::placeholder {
      color: $neutral-400;
    }
  }

  &.small {
    padding: 1rem 1.188rem 1.063rem;

    input {
      font-size: 1rem;
      line-height: normal;
    }
  }

  &.v2 {
    &.invalid {
      border: 2px solid $destructive-red-500;

      &:hover {
        border-color: $destructive-red-500;
        box-shadow: inset 0 0 1px 2px $destructive-red-500;
      }

      &:focus-within {
        box-shadow: inset 0 0 1px 2px $destructive-red-500;
      }

      input {
        color: $destructive-red-700;
      }
    }
  }
}
