@import 'variables';
@import 'mixins';

:host {
  -webkit-tap-highlight-color: transparent;
}

.pin-to-story {
  cursor: pointer;
  font-size: 1rem;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0;
  font-style: normal;
  line-height: 1;
  color: $color-purple-90;
  > span {
    @include margin-left(0.53125rem);
  }
  &--not-hovered {
    min-width: 138px;
    display: inline-block;
  }
  &--hover {
    display: none;
    min-width: 138px;
    text-decoration: underline;
  }
  &:hover {
    @include mobile-up {
      .pin-to-story--not-hovered {
        display: none;
      }
      .pin-to-story--hover {
        display: inline-block;
      }
    }
  }
}
