@import 'loop-design-system/colors';
@import 'mixins';

:host {
  position: sticky;
  top: 0.625rem;
}

.our-loop-promise {
  background: $color-green-very-light;
  border-radius: 0.5rem;
  padding: 3.125rem;

  @include mobile-only {
    padding: 1.875rem 1.25rem;
  }

  &--sensitive {
    background: $color-green-medium;
  }

  &__heading {
    font-size: 1.25rem;
    font-weight: 600;
    color: $color-green-stepper;
    margin-bottom: 1.25rem;
  }

  &__content {
    color: $color-green-stepper;
    font-size: 1.125rem;
  }
}
