<h3 class="chart-subtitle">{{ this.settings.title | translate }}</h3>
<div *ngIf="chartOption" echarts (chartInit)="onChartInit($event)" [options]="chartOption" class="base-chart"></div>
<div class="chart-extra" *ngIf="chartOption">
  <div class="chart-x-axis" *ngIf="summaryVisible && extraSummary?.value > 0">
    <div class="axis-item" *ngFor="let stack of settings.stacks; let i = index">
      <img *ngIf="!(i % 2)" src="assets/statistics/icons/arrow-down.svg" />
    </div>
  </div>
  <div class="chart-summary" *ngIf="summaryVisible" [class.blurred]="seriesHovered" [style.background]="getBackgroundGradient()">
    <span [style.backgroundColor]="settings.colorPalette[extraSummary.index]"
      >{{ getCategoryName(extraSummary.code) }}: {{ extraSummary.value }}</span
    >
  </div>
  <div class="chart-x-axis draw-axis">
    <div class="axis-item axis-flex" *ngFor="let stack of settings.stacks; let i = index">
      <span class="legend-label" (click)="stackClicked(i)" (mouseenter)="stackClicked(i)" (mouseleave)="stackMouseLeave(i)">{{
        getStackName(stack)
      }}</span>
      <img
        appTooltip
        [tooltipOffset]="tooltipOffset"
        [tooltipPlacement]="tooltipPlacement"
        [tooltipPadding]="tooltipPadding"
        [tooltipDelay]="tooltipDelay"
        [lockTooltipMobile]="lockTooltipMobile"
        [maxWidth]="tooltipWidth"
        [tooltipContent]="tooltipContent"
        class="info-circle--legend"
        src="assets/icons/info-circle.svg"
      />
      <ng-template #tooltipContent>
        <div class="axis-tooltip">
          <p class="tooltip-title">{{ 'statisticsCases.howResponsiveWeAreByStep.tooltip.' + stack + '.title' | translate }}</p>
          <p class="tooltip-content">{{ 'statisticsCases.howResponsiveWeAreByStep.tooltip.' + stack + '.content' | translate }}</p>
          <hr />
          <p class="tooltip-details">
            <span>{{ 'statisticsCases.howResponsiveWeAreByStep.tooltip.overdueAfter' | translate }}:</span>
            <span>{{ 'statisticsCases.howResponsiveWeAreByStep.tooltip.' + stack + '.overdueAfter' | translate }}</span>
          </p>
          <hr />
          <p class="tooltip-details">
            <span>{{ 'statisticsCases.howResponsiveWeAreByStep.tooltip.unresponsiveAfter' | translate }}:</span>
            <span>{{ 'statisticsCases.howResponsiveWeAreByStep.tooltip.' + stack + '.unresponsiveAfter' | translate }}</span>
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
