@import 'mixins';

.base-chart {
  height: 370px;

  @include mobile-only {
    height: 350px;
  }
}

.chart-extra {
  margin: 0 2% 0 4%;

  .chart-summary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 8px;
    opacity: 0.9;
    cursor: pointer;
    transition: 0.2s opacity linear;

    &:hover,
    .hover {
      opacity: 1;
    }

    span {
      border-radius: 100px;
      padding: 10px 15px;
      color: #31135e;
      font-weight: 600;
    }

    &.blurred {
      opacity: 0.7;
    }
  }

  .chart-x-axis {
    display: flex;
    flex-direction: row;
    flex: 1 0 20%;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 16px;

    &.draw-axis {
      border-top: 1px solid #1a1a1a;
    }

    > * {
      flex: 1;
      text-align: center;
      max-width: 165px;

      .legend-label {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #656565;
        cursor: pointer;
        padding: 4px 18px;
        margin-bottom: 15px;

        @include mobile-only {
          font-size: 10px;
          line-height: 14px;
          padding: 2px 8px;
        }
        &:hover,
        &.hover {
          font-weight: 600;
          color: #1a1a1a;
          background: #e6eaed;
          border-radius: 100px;
        }
      }
    }

    .axis-flex {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;

      @include mobile-only {
        word-break: break-all;
      }
    }

    .info-circle--legend {
      cursor: pointer;
      width: 18px;
      height: 18px;
    }
  }
}

.axis-tooltip {
  .tooltip-title {
    font-weight: 600;
    font-size: 1.125rem;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .tooltip-content,
  .tooltip-details {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }

  .tooltip-content {
    margin-bottom: 20px;
  }

  hr {
    height: 1px;
    border-top: 1px solid #3e3e3e;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
}
