$standardFontFamily: 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
$content-top-padding: 3rem;
$post-list-bg: #dadada;
$white: #ffffff;
$post-preview-bg: white;
$light-gray-bg: #f4f4f4;
$post-preview-padding-left: 2.344rem;
$post-preview-padding-right: 1.063rem;
$post-preview-padding: 2.5rem $post-preview-padding-right 1.25rem $post-preview-padding-left;
$post-preview-padding-mobile: 1rem 1rem 0.5rem 1rem;
$post-padding-bottom: 1rem;
$post-preview-gutter: 2px;
$post-highlight-color: #570f85;
$color-purple-90: #31135e;
$color-purple-60: #988aae;
$color-purple-50: #9889af;
$color-purple-10: #f5f3f7;
$color-purple-light: #4b35bc;
$color-purple-very-light: #866ab0;
$color-purple-stepper: #4a2b7a;
$color-green-100: #052804;
$color-green-90: #0d3d0b;
$color-green-80: #1f6b1e;
$color-green-70: #358a34;
$color-green-60: #6d9a6e;
$color-green-50: #89a88f;
$color-green-40: #9fc8a6;
$color-green-30: #aad6b3;
$color-green-20: #c9e9d1;
$color-green-10: #f3f7f3;
$color-green-stepper: #107D79;
$color-green-medium: #addaaf;
$color-green-light: #3AB098;
$color-green-very-light: #EDFFFC;
$grey-1: #d6d0df;
$support-01: #da1e28;
$error: #ee232f;
$text-black: #161616;
$text-secondary: #393939;
$text-grayed: #525252;
$text-grayed80: #8f8b8b;
$text-gray-cat: #6d7278;
$ui-background-gray: #f8f8f9;
$border: #e8e7ea;
$entity-border-color: #1c0f3021;
$loading-bg: rgb(0 0 0 / 18%);
$support-04: #0043ce;
$loop-username: #198038;
$loop-active-current-user: #24a148;
$warm-gray-10-color: #f7f3f2;
$warm-gray-20-color: #e5e0df;
$heading-1-color: #1c0f30;
$heading-2-color: #32074d;
$heading-3-color: #2f2735;
$mobile-icon-color: #1c0f30;
$state-disabled-02: #c6c6c6;
$link-02: #5601b2;
$header-purple: #31135e;
$header-green: #107d79;
$purple-light: #cbc4d7;
$purple-background-light: #dcd5e7;
$loop-interactive-01: #107d79;
$loop-interactive-01-opacity: rgba(16, 125, 121, 0.3);
$filters-green: #056763;
// Breakpoints

$breakpoint-s: 375px;
$breakpoint-sm: 420px;
$breakpoint-md: 768px;
$breakpoint-lg: 1080px;
$breakpoint-xl: 1275px;

$breakpoint-md-v2: 820px;

$header-height: 4.375rem;
$header-height-v2: 4.375rem;
$state-selected-ui: #e0e0e0;
$c-left-padding: 1.5rem;
$menu-active-color: #3AB098;
$menu-hover-color: #3AB098;
$tab-inactive-color: #89af93;
$line-color: #d0dfd2;
$border-gray: #cccccc;
$text-gray: #808080;
$base-container-width: 81.124rem;
$header-underline-height: 0.313rem;

// Moderator review sections
$footer-height: 4rem;
$topbar-height: 10.5rem;
$stepper-height: 6.7rem;

// New Story flow / story details variables
$grey: #656565;
$light-grey-2: #b1b4b6;
$light-grey-3: #b4b4b4;
$light-grey-4: #cfd3d8;
$light-grey-5: #d9e0e7;
$light-grey-6: #f1f2f2;
$light-grey-7: #c4c4c4;
$light-grey-8: #e9e9e9;
$light-grey-9: #e6eaed;
$ligh-grey-separator: #c0c0c0;
$dark-grey: #1a1a1a;
$dark-grey-50: rgb(26, 26, 26, 0.5);
$border-grey: #c7cdd4;
$light-purple: #eaeaea;
$input-disabled-bg: #f4f6f8;
$error-2: #de222d;
$danger: #c9304d;
$previous-pill-color: #718d6f;
$tooltip-grey: #ababab;
$light-green: #cfe5e466;

$filters-modal-header-zindex: 10000;
$modal-zindex: 9999;
$location-overlay-zindex: 9001;
$header-aside-zindex: 8002;
$header-aside-background-zindex: 8001;
$header-zindex: 8000;
$navigation-zindex: 8000;
$page-loading-zindex: 7001;
$tooltip-zindex: 7000;
$new-story-content-state-zindex: 500;
$filter-dropdown-zindex: 100;
$modal-top-indicator-zindex: 51;
$modal-top-indicator-background-zindex: 51;
$chart-zindex: 1;
$chart-control-zindex: 2;

$slide-toggle-disabled-option-background: #dddddd;

$toast-info-background-color: white;
$toast-info-title-color: #494949;
$toast-info-message-color: #422c00;
$toast-info-button-color: #6c4e99;

$toast-success-background-color: #d9eeed;
$toast-success-title-color: #004542;
$toast-success-message-color: #013230;
$toast-success-button-color: #016965;

$toast-warning-background-color: #fff1d5;
$toast-warning-title-color: #6b4700;
$toast-warning-message-color: #422c00;
$toast-warning-button-color: #cc8f14;

$toast-error-background-color: #f5d5db;
$toast-error-title-color: #730015;
$toast-error-message-color: #450611;
$toast-error-success-color: #d9eeed;
$toast-error-button-color: #b21d39;

$toast-close-button-color: #730015;
