@use 'sass:map';
@import 'loop-design-system-v2/colors';
@import 'loop-design-system/helpers';
@import 'mixins';

.story-review-tabs-container {
  background: white;
  display: flex;
  flex-direction: column;

  .tabs-menu {
    display: flex;
    overflow-x: auto;

    &__item {
      color: map.get($loop-greens, '400');
      cursor: pointer;
      font-size: pxToRem(20);
      font-style: normal;
      font-weight: 700;
      line-height: pxToRem(24);
      padding-bottom: pxToRem(27);
      white-space: nowrap;
      @include margin-right(pxToRem(50));

      @include mobile-only {
        font-size: pxToRem(14);
        line-height: pxToRem(20);
        padding-bottom: pxToRem(11);
        @include margin-right(pxToRem(0));
      }

      @include small-mobile-only {
        font-size: pxToRem(12);
      }

      &:last-of-type {
        @include margin-right(0);
      }
    }

    &__item-selected {
      border-bottom: 4px solid map.get($loop-greens, '600');
      color: map.get($loop-greens, '600');
    }

    &__separator {
      @include mobile-only {
        flex: 1;
        max-width: 24px;
      }
    }
  }
}