<form class="sensitive-story-content-section" [formGroup]="form">
  <h4 class="font-big semi-bold mb-0625">{{ 'newStoryV2.form.sensitiveStoryContactConsent.title' | translate }}</h4>
  <div>
    <loop-checkbox
      [formControl]="form"
      formControlName="sensitiveStoryContactConsent"
      [requiredErrorText]="'newStoryV2.steps.info.consentInfoError' | translate"
      cy="contact-consent-chkbox"
    >
      <p [innerHtml]="'newStoryV2.form.sensitiveStoryContactConsent.info' | translate" class="contact-consent-checkbox-text"></p>
    </loop-checkbox>
  </div>
</form>
