<div class="accountability-process" *ngIf="visible; else invisible">
  <span class="accountability-process__title">{{ 'statisticsCases.accountabilityProcess.title' | translate }}</span>
  <div class="accountability-process__wrapper">
    <div class="accountability-process__description">
      <p class="accountability-process__description-text">
        {{ 'statisticsCases.accountabilityProcess.description' | translate }}
      </p>
      <app-button (clicked)="handleSeeProcessClick()" class="accountability-process__more-button main" variant="secondary" mode="v2">
        {{ 'statisticsCases.accountabilityProcess.stepByStepBtn' | translate }}
      </app-button>
    </div>
    <div class="accountability-process__slider">
      <loop-slider></loop-slider>
    </div>
  </div>
  <app-close-icon (click)="visibilityChange(false)" class="accountability-process__close-icon"></app-close-icon>
</div>
<ng-template #invisible>
  <div class="accountability-process--hidden">
    <span class="accountability-process__title">{{ 'statisticsCases.accountabilityProcess.title' | translate }}</span>
    <app-button (clicked)="visibilityChange(true)" class="accountability-process__more-button" variant="secondary" mode="v2">
      <app-add-icon class="mr-0625"></app-add-icon>
      {{ 'statisticsCases.accountabilityProcess.seeMore' | translate }}
    </app-button>
  </div>
</ng-template>
