<div [ngClass]="[bannerTheme]" class="banner">
  <div *ngIf="prefixIcon" class="banner-prefix-icon">
    <loop-icon [name]="prefixIcon" [theme]="iconTheme" [size]="20"></loop-icon>
  </div>

  <div class="banner-main-content">
    <div role="alert" aria-live="polite" class="banner-message" [attr.aria-label]="text">
      {{ text }}
    </div>
  </div>

  <div class="banner-suffix-icon">
    <loop-icon (click)="close$.emit()" [name]="LoopIcon.Name.Close" [theme]="iconTheme" [size]="14" class="close-icon"></loop-icon>
  </div>
</div>
