@import 'src/app/styles/variables';

:host {
  display: block;
}

.additional-story-info-section {
  &__heading {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.875rem;
    color: $grey;
  }
}
