@import 'mixins';
@import 'loop-design-system/colors';
@import 'variables';

:host {
  ::ng-deep {
    @include mobile-up {
      .radio-group {
        display: flex;
        gap: 0.625rem;

        loop-new-story-radio {
          flex: 1;
        }
      }
    }

    .checkbox-filter-wrapper {
      gap: 0.313rem;
      grid-gap: 0.313rem;
      margin: 0;

      .checkbox {
        min-height: 3.5rem;
        border: 1px solid $light-grey-2;

        @include mobile-up {
          min-height: 4.063rem;
        }

        &.checked {
          border-color: $header-purple;
        }
      }
    }
  }
}

.send-story-to-case-manager-form {
  $self: &;

  &__heading {
    color: #000000;
    font-size: 1.375rem;
    font-weight: 700;
    padding-bottom: 1.25rem;

    @include mobile-up {
      font-size: 2.188rem;
      padding-bottom: 2.5rem;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  &__button {
    flex: 1;
    min-height: 3.125rem;

    @include mobile-up {
      min-height: 4.375rem;
    }
  }
}

.section-title {
  font-size: 0.875rem;
  font-weight: 600;

  @include mobile-up {
    font-size: 1.25rem;
  }

  &--small {
    font-size: 0.875rem;
    font-weight: 600;

    @include mobile-up {
      font-size: 1rem;
    }
  }
}
