@import '../../../styles/loop-design-system/colors';
@import '../../../styles/loop-design-system/helpers';
@import 'src/app/styles/variables';
@import 'src/app/styles/mixins';

.checkbox {
  $self: &;
  display: flex;
  position: relative;

  &__element {
    height: 1.875rem;
    width: 1.875rem;
    border-radius: pxToRem(4);
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    @include margin-right(1.25rem);
    margin-top: pxToRem(4);
    cursor: pointer;

    @include mobile-only {
      font-size: 1.5rem;
    }
  }

  &__checkmark {
    display: none;
  }

  &__content {
    ::ng-deep {
      font-size: 1.25rem;
      line-height: normal;
      color: $dark-grey;

      @include mobile-only {
        font-size: 1rem;
      }
    }
  }

  &.primary {
    #{$self}__element {
      border: 1px $grey-100 solid;
    }
  }

  &.invalid {
    #{$self}__element {
      border-color: $error;
    }
  }

  &:hover {
    #{$self}__element {
      background: $color-green-50;
      border-color: $color-green-50;
    }

    #{$self}__checkmark {
      @include left(50%);
      @include translateXY(-50%, -50%);
      display: block;
      position: absolute;
      top: 50%;
      width: 80%;
    }
  }

  &.checked {
    #{$self}__element {
      background: $color-green-90;
      border-color: $color-green-90;
    }

    #{$self}__checkmark {
      @include translateXY(-50%, -50%);
      @include left(50%);
      display: block;
      position: absolute;
      top: 50%;
      width: 80%;
    }
  }

  .required-error {
    align-items: center;
    color: $error;
    display: flex;
    font-size: 0.875rem;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 0.313rem;

    app-red-error-icon {
      @include margin-right(0.625rem);
      display: flex;
    }
  }

  &.readonly {
    pointer-events: none;
  }
}