<div class="audio-recorder__button" (click)="click$.emit()" [class.idle]="isIdle()">
  <loop-icon [name]="getIconName()" [theme]="getIconTheme()" [isButton]="true"></loop-icon>
</div>
<div class="audio-recorder" [class.idle]="isIdle()">
  <div class="audio-recorder__control control">
    <div class="control__time">
      {{ currentTime | duration }}
    </div>
    <div *ngIf="status === AudioRecorderStatus.Playing" class="control__progress-bar">
      <mat-slider
        draggable="true"
        min="0"
        max="1"
        step="0.01"
        [value]="this.getProgress()"
        (mousedown)="click$.emit()"
        (mouseup)="click$.emit()"
        (change)="onChange($event)"
      ></mat-slider>
    </div>
    <div *ngIf="status === AudioRecorderStatus.Recording" class="control__record-visualisation">/</div>
    <div class="control__time">
      {{ duration | duration }}
    </div>
    <div (click)="delete$.emit()" *ngIf="status === AudioRecorderStatus.Playing" class="control__delete">
      <loop-icon
        [isButton]="true"
        [isThemeReverted]="true"
        [name]="LoopIcon.Name.AudioPlayerDelete"
        [theme]="LoopIcon.Theme.Danger"
      ></loop-icon>
    </div>
    <div *ngIf="status === AudioRecorderStatus.Recording" class="control__wave">
      <div class="wave" #wave>
        <canvas [width]="canvasWidth" height="20px" #canvas *ngIf="analyzer"></canvas>
      </div>
    </div>
  </div>
</div>
