@import 'mixins';
@import 'helpers';
@import 'loop-design-system/colors';

.h1 {
  font-weight: bold;
  font-size: pxToRem(30);
  line-height: pxToRem(41);

  @include mobile-only {
    font-size: pxToRem(30);
    line-height: pxToRem(41);
  }
}

.h2 {
  font-size: pxToRem(35);
  line-height: pxToRem(48);
  font-weight: bold;

  @include mobile-only {
    font-size: pxToRem(22);
    line-height: pxToRem(30);
  }
}

.h3 {
  font-weight: bold;
  font-size: pxToRem(24);
  line-height: pxToRem(25);

  @include mobile-only {
    font-size: pxToRem(18);
    line-height: pxToRem(25);
  }
}

.h4 {
  font-weight: bold;
  font-size: pxToRem(20);
  line-height: pxToRem(27);

  @include mobile-only {
    font-size: pxToRem(18);
    line-height: pxToRem(25);
  }
}

.h5 {
  font-weight: 600;
  font-size: pxToRem(18);
  line-height: pxToRem(25);

  @include mobile-only {
    font-size: pxToRem(16);
    line-height: pxToRem(22);
  }
}

.copy-xl {
  font-size: pxToRem(20);
  line-height: pxToRem(27);

  @include mobile-only {
    font-size: pxToRem(16);
    line-height: pxToRem(22);
  }
}

.copy-l {
  font-size: pxToRem(18);
  line-height: pxToRem(25);

  @include mobile-only {
    font-size: pxToRem(16);
    line-height: pxToRem(22);
  }
}

.copy-m {
  font-size: pxToRem(16);
  line-height: pxToRem(22);

  @include mobile-only {
    font-size: pxToRem(14);
    line-height: pxToRem(19);
  }
}

.copy-s {
  font-size: pxToRem(14);
  line-height: pxToRem(19);

  @include mobile-only {
    font-size: pxToRem(12);
    line-height: pxToRem(16);
  }
}

.copy-xs {
  font-size: pxToRem(12);
  line-height: pxToRem(16);

  @include mobile-only {
    font-size: pxToRem(10);
    line-height: pxToRem(14);
  }
}

.link-large {
  font-weight: 600;
  font-size: pxToRem(20);
  line-height: pxToRem(27px);
  text-decoration-line: underline;
  color: $loop-green-100;

  @include mobile-only {
    font-size: pxToRem(16);
    line-height: pxToRem(22);
  }
}

.link-medium {
  font-weight: 600;
  font-size: pxToRem(18);
  line-height: pxToRem(25);
  text-decoration-line: underline;
  color: $loop-green-100;

  @include mobile-only {
    font-size: pxToRem(14);
    line-height: pxToRem(19);
  }
}

.link-small {
  font-weight: 600;
  font-size: pxToRem(16);
  line-height: pxToRem(22);
  text-decoration-line: underline;
  color: $loop-green-100;

  @include mobile-only {
    font-size: pxToRem(14);
    line-height: pxToRem(19);
  }
}
