<div class="story-review">
  <app-review-header
    [title]="'story.details.review.other.header.title' | translate"
    [subTitle]="'story.details.review.other.header.subTitle' | translate"
  ></app-review-header>

  <div class="story-review__details-container" #storyReviewContainer>
    <!-- Left container -->
    <div class="story-review__left-container" #storyDetails>
      <div class="background">
        <app-story-header></app-story-header>

        <app-case-manager-note
          *ngIf="storyDetailsService.getCaseManagerNote()"
          [note]="storyDetailsService.getCaseManagerNote()"
        ></app-case-manager-note>

        <app-story-details-tabs [tabs]="reviewTabs" class="story-details-tabs__header">
          <ng-container firstTab>
            <app-conversation
              [id]="storyDetailsService.story.id"
              [storyMessages]="storyDetailsService.story.messages"
              (switchPinMessageToStory$)="storyDetailsService.switchPinMessageToStory($event)"
              [contactAccepted]="storyDetailsService.story.contactAccepted"
              [channel]="storyDetailsService.story.channel"
            ></app-conversation>
          </ng-container>

          <ng-container secondTab>
            <app-story-content></app-story-content>

            <app-divider class="full-width__divider"></app-divider>
          </ng-container>
        </app-story-details-tabs>
      </div>
    </div>

    <!-- Right container -->
    <div class="story-review__right-container">
      <div class="background">
        <app-story-details-tabs [tabs]="rightSectionTabs" class="story-details-tabs__header">
          <ng-container firstTab>
            <app-story-review-form class="d-block mt-1"></app-story-review-form>
          </ng-container>

          <ng-container secondTab>
            <app-story-information></app-story-information>
          </ng-container>
        </app-story-details-tabs>

        <app-story-review-action-buttons></app-story-review-action-buttons>
      </div>

      <div *ngIf="submittingError" class="story-review__validation-banner">
        <loop-banner
          [bannerTheme]="BannerTheme.ERROR"
          [prefixIcon]="LoopIcon.Name.Info"
          [text]="'story.details.review.form.toast.error.reviewError' | translate"
        ></loop-banner>
      </div>
    </div>
  </div>
</div>
