@import 'loop-design-system/colors';
@import 'loop-design-system/helpers';
@import 'mixins';
@import 'variables';

:host {
  width: 100%;
}

.details-container {
  margin: 0 auto;
  max-width: 78.625rem;
  width: 100%;
}

.details-header {
  border-bottom: 0.063rem solid $light-grey-4;
  margin-bottom: pxToRem(20);
  padding: pxToRem(16) pxToRem(24);

  @include mobile-up {
    border-bottom: none;
    margin-bottom: pxToRem(0);
    padding: pxToRem(44) 0 pxToRem(47);
  }

  &__back-arrow {
    align-items: center;
    color: $loop-green-125;
    display: flex;
    font-size: pxToRem(14);
    font-style: normal;
    font-weight: 600;
    gap: pxToRem(10);
    letter-spacing: 0;
    text-decoration: none;

    @include mobile-up {
      font-size: pxToRem(18);
    }

    img {
      margin: 0;
      @include margin-right(0.25rem);
    }
  }
}
