@import 'mixins';
@import 'loop-design-system/colors';

.story-details {
  padding: 1.5rem 1rem;
  border-radius: 8px;
  background-color: #ffffff;

  &__header {
    margin-bottom: 0.844rem;
  }

  &__comments-count {
    color: $loop-green-100;
    font-size: 1.25rem;
    font-weight: bold;

    @include mobile-only {
      font-size: 1rem;
    }
  }

  &__components-header {
    margin-bottom: 1.875rem;

    @include mobile-only {
      margin: 0 1.25rem 1.25rem 1.25rem;
    }
  }

  &__content {
    font-size: 0.875rem;
  }

  &__translations {
    display: block;
    margin-top: 1.25rem;
  }
}

.comments {
  margin-top: 1.5rem;
}

.story-with-comments {
  @include mobile-up {
    display: grid;
    grid-template-columns: minmax(0, 44.375fr) minmax(0, 21.563fr);
    gap: 1.25rem;
  }

  &.one-column {
    grid-template-columns: 1fr;
  }

  &__extra-info {
    &--within {
      display: block;

      @include mobile-up {
        display: none;
      }
    }
  }

  &__form-separator {
    margin-top: 1.125rem;
  }

  ::ng-deep {
    @include mobile-only {
      loop-card {
        .card {
          padding: 1.25rem;
        }
      }

      .post__section-separator {
        width: calc(100% + 2 * 1.25rem);
        @include margin-left(-1.5rem);
        @include margin-right(-1.5rem);
      }

      .comments-action,
      .post-actions {
        @include margin-right(0);
      }
    }
  }
}