<app-details-container #detailsContainer [backUrl]="backUrl" [backToText]="'outbox.details.backToOutbox' | translate">
  <div class="record-details-container" *ngIf="recordings && details && storyDetails" [style.min-height.px]="minContainerHeight">
    <!-- HEADER -->
    <div class="record-details-header" #recordDetailsHeader>
      <h1 class="record-details-header__title">{{ 'outbox.details.title' | translate }}</h1>

      <p class="record-details-header__subtitle">
        {{ 'outbox.details.subtitle' | translate }}
      </p>
    </div>

    <!-- STORY DETAILS EXPANDER -->
    <div class="story-details-container">
      <div #expandButton class="expand" (click)="expandStoryDetails()">
        <div class="expand__header">
          <app-menu-icon></app-menu-icon>
          {{ 'outbox.details.originalStoryInformation' | translate }}
          <app-expand-more-icon [rotate]="isStoryDetailsExpanded ? 180 : 0"></app-expand-more-icon>
        </div>
      </div>
      <app-short-story-information #storyInfo [storyDetails]="storyDetails" *ngIf="isStoryDetailsExpanded"></app-short-story-information>
    </div>

    <!-- INTRO TEXT -->
    <div class="record-details-content">
      <h3 class="record-details-content__title">
        {{ 'outbox.details.introAudio' | translate }}
        <span class="record-details-content__subtitle">
          {{ 'outbox.details.preRecorder' | translate }}
        </span>
        <div class="expand" (click)="isIntroExpanded = !isIntroExpanded">
          <div class="expand__header">
            <app-menu-icon></app-menu-icon>
            {{ (isIntroExpanded ? 'global.hideText' : 'global.showText') | translate }}
            <app-expand-more-icon [rotate]="isIntroExpanded ? 180 : 0"></app-expand-more-icon>
          </div>
          <app-divider *ngIf="ui.mobileView"></app-divider>
        </div>
      </h3>
      <div class="p-rel">
        <div class="record-details-content__text" *ngIf="isIntroExpanded" [innerHTML]="getTextWithNewLines(recordings.intro.text)"></div>
      </div>
      <app-audio-player [audioSrc]="recordings.intro.audio"></app-audio-player>
    </div>

    <!-- REPLY CONTENT -->
    <div class="record-details-content record-details-content--recorder">
      <app-tooltip *ngIf="isInfoActive" class="escape-info__tooltip">
        <!-- todo create component -->
        <p>{{ 'outbox.details.startHere' | translate }}</p>
        <button (click)="onInfoSubmit()" class="button got-it__submit-btn">{{ 'got.it' | translate }}</button>
      </app-tooltip>
      <h3 class="record-details-content__title">
        {{ 'outbox.details.audioToRecord' | translate }}
        <div class="expand" (click)="isReplyExpanded = !isReplyExpanded">
          <div class="expand__header">
            <app-menu-icon></app-menu-icon>
            {{ (isReplyExpanded ? 'global.hideReply' : 'global.showReply') | translate }}
            <app-expand-more-icon [rotate]="isReplyExpanded ? 180 : 0"></app-expand-more-icon>
          </div>
          <app-divider *ngIf="ui.mobileView"></app-divider>
        </div>
      </h3>
      <div class="p-rel">
        <div *ngIf="isReplyExpanded" class="record-details-content__text record-details-content__text--reply">
          {{ getRecordInStoryLanguage() }}
        </div>
      </div>
      <div #recorder class="audio-recorder" [class.sticky]="!isRecorderInViewPort && !isInProgress">
        <app-audio-recorder *ngIf="!isInProgress" (record)="recordBlob = $event"></app-audio-recorder>
        <app-audio-player *ngIf="isInProgress" [audioSrc]="this.s3fileUrl"></app-audio-player>
      </div>
    </div>

    <!-- OUTRO TEXT -->
    <div class="record-details-content">
      <h3 class="record-details-content__title">
        {{ 'outbox.details.outroAudio' | translate }}
        <span class="record-details-content__subtitle">
          {{ 'outbox.details.preRecorder' | translate }}
        </span>
        <div class="expand" (click)="isOutroExpanded = !isOutroExpanded">
          <div class="expand__header">
            <app-menu-icon></app-menu-icon>
            {{ (isOutroExpanded ? 'global.hideText' : 'global.showText') | translate }}
            <app-expand-more-icon [rotate]="isOutroExpanded ? 180 : 0"></app-expand-more-icon>
          </div>
          <app-divider *ngIf="ui.mobileView"></app-divider>
        </div>
      </h3>
      <div class="p-rel">
        <div *ngIf="isOutroExpanded" class="record-details-content__text" [innerHTML]="getTextWithNewLines(recordings.outro.text)"></div>
      </div>
      <app-audio-player [audioSrc]="recordings.outro.audio"></app-audio-player>
    </div>

    <!-- FOOTER -->
    <div class="record-details-footer">
      <app-button
        class="record-details-footer__review-button"
        mode="v2"
        [variant]="isInProgress ? 'danger' : 'primary'"
        (click)="isInProgress ? openDeleteRecordPopup() : uploadIvrrFile()"
      >
        <span>{{ (isInProgress ? 'comment.reRecordReply' : 'outbox.details.sendThreeMessages') | translate }}</span>
        <app-arrow-next-icon></app-arrow-next-icon>
      </app-button>
    </div>
  </div>
</app-details-container>
