@import 'variables';
@import 'mixins';
@import 'loop-design-system/colors';

:host {
  &.no-checked-border {
    .checkbox-block.checked {
      border: none;
    }
  }
}

.checkbox-block {
  cursor: pointer;
  min-height: 8.375rem;
  max-height: 9.75rem;
  width: 100%;
  height: 10.313rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 0.625rem;
  border-radius: 2px;
  border: 1px solid $light-grey-2;
  background-color: #ffffff;
  transition: background-color 0.2s linear;

  @include mobile-up {
    padding: 0 0.625rem;
    min-height: 10.313rem;
    max-height: 11.875rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    word-break: break-word;
  }

  .check-square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.625rem;
    @include right(0.625rem);
    width: 1.563rem;
    height: 1.563rem;
    border-radius: 2px;
    border: solid 2px $dark-grey;
    background-color: #ffffff;
    align-self: flex-end;

    @media screen and (max-width: $breakpoint-lg - 0.1px) {
      width: 1.375rem;
      height: 1.375rem;
    }
  }

  ::ng-deep {
    .type-icon {
      width: auto;
      height: auto;
      margin-bottom: 0.625rem;
      justify-content: center;

      > * {
        width: auto;
      }

      svg {
        color: $grey;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  label,
  label span {
    margin: auto 0;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    line-height: normal;

    @include mobile-up {
      font-size: 1.125rem;
    }
  }

  &:hover {
    border: solid 1px $color-green-90;

    label,
    label span {
      color: $color-green-50;
    }

    ::ng-deep {
      svg {
        color: $loop-green-50;
      }
    }

    .check-square {
      background-color: $loop-green-50;
      border: none;
    }
  }

  &.checked {
    background-color: $color-green-20;
    border: 1px solid $loop-green-100;

    label,
    label span {
      color: $loop-green-100;
    }

    ::ng-deep {
      svg {
        color: $loop-green-100;
      }
    }

    .check-square {
      background-color: $loop-green-100;
      border: none;
    }
  }
}
