@import 'loop-design-system/helpers';
@import 'mixins';
@import 'variables';

.toast-content {
  border-radius: 8px;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin-bottom: 1.563rem;
  max-width: 90vw;
  min-height: 4.5rem;
  pointer-events: all;
  position: relative;
  width: 25rem;
  @include right(pxToRem(18));
  @include padding(#{pxToRem(28)}, #{pxToRem(32)}, #{pxToRem(28)}, #{pxToRem(64)});

  .toast-icon {
    position: absolute;
    top: 30px;
    @include left(26px);
  }

  .toast-title {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .toast-message {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5rem;
  }

  .toast-clickable {
    cursor: pointer;
  }

  .toast-buttons-content {
    display: flex;
    margin-top: 1.625rem;

    .toast-action-button {
      cursor: pointer;
      font-size: 1rem;
      font-style: normal;
      font-weight: bold;
      line-height: 1.5rem;
    }
  }

  .toast-close-button {
    align-items: center;
    background: $white;
    border-radius: 28px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.25);
    color: $toast-close-button-color;
    display: flex;
    height: 2.5rem;
    justify-content: center;
    padding: 0.5rem;
    position: absolute;
    top: -20px;
    width: 2.5rem;
    @include right(-20px);

    &:hover {
      color: $toast-close-button-color;
      opacity: 1;
    }
  }
}

:host {
  &.toast-info {
    .toast-content {
      background: $white;
    }
    .toast-icon {
      color: $toast-info-button-color;
    }
    .toast-title {
      color: $toast-info-title-color;
    }
    .toast-message {
      color: $toast-info-message-color;
    }
    .toast-action-button {
      color: $toast-info-button-color;
      &:hover {
        color: $toast-info-title-color;
      }
    }
  }

  &.toast-success {
    .toast-content {
      background: $toast-success-background-color;
    }
    .toast-icon {
      color: $toast-success-button-color;
    }
    .toast-title {
      color: $toast-success-title-color;
    }
    .toast-message {
      color: $toast-success-message-color;
    }
    .toast-action-button {
      color: $toast-success-button-color;
      &:hover {
        color: $toast-success-title-color;
      }
    }
  }

  &.toast-warning {
    .toast-content {
      background: $toast-warning-background-color;
    }
    .toast-icon {
      color: $toast-warning-button-color;
    }
    .toast-title {
      color: $toast-warning-title-color;
    }
    .toast-message {
      color: $toast-warning-message-color;
    }
    .toast-action-button {
      color: $toast-warning-button-color;
      &:hover {
        color: $toast-warning-title-color;
      }
    }
  }

  &.toast-error {
    .toast-content {
      background: $toast-error-background-color;
    }
    .toast-icon {
      color: $toast-error-button-color;
    }
    .toast-title {
      color: $toast-error-title-color;
    }
    .toast-message {
      color: $toast-error-message-color;
    }
    .toast-action-button {
      color: $toast-error-button-color;
      &:hover {
        color: $toast-error-title-color;
      }
    }
  }
}
