<div class="toast-content">
  <app-info-icon class="toast-icon"></app-info-icon>

  <div class="toast-main-content">
    <div *ngIf="title" [class]="options.titleClass" [attr.aria-label]="title" class="toast-title">
      {{ title }}
    </div>
    <div *ngIf="message" role="alert" aria-live="polite" class="toast-message" [class]="options.messageClass" [attr.aria-label]="message">
      {{ message }}
    </div>
  </div>

  <div *ngIf="options?.buttons?.length" class="toast-buttons-content">
    <a *ngFor="let button of options.buttons" class="toast-action-button" (click)="action(button)">
      {{ button.title }}
    </a>
  </div>

  <a *ngIf="options?.closeButton" (click)="removeToast($event)" class="toast-close-button">
    <app-close-icon [size]="14" [fillColor]="'#730015'"></app-close-icon>
  </a>
</div>
