<div *ngIf="title" class="filter-v2-container__section-title">
  <span class="filter-v2-container__section-title-name">{{ title }}</span>
  <div class="separator"></div>
</div>
<div class="location-filter-container" [formGroup]="form" [class.modal-filter]="isModal">
  <div>
    <span class="filter-v2-container__label">{{ 'filtersV2.country.label' | translate }}</span>
    <loop-country-filter [formControlName]="countryControlName"></loop-country-filter>
  </div>
  <div *ngIf="!isCases">
    <span class="filter-v2-container__label">{{ 'filtersV2.location.label' | translate }}</span>
    <loop-location-filter
      [initValue]="lastLocationQuery"
      (locationQueryChanged)="locationQueryChanged.emit($event)"
      [userCountry]="form.get(countryControlName).value"
      [formControlName]="locationControlName"
    ></loop-location-filter>
  </div>
</div>
<button class="select-all filtersV2-link-button clear-all" (click)="onClearClicked()">
  {{ 'filtersV2.clear' | translate }}
</button>
