<div class="mt-2">
    <ng-container *ngIf="otherStoriesSameRecipient?.length;else noHistory">
        <div 
            class="feedback-item" 
            *ngFor="let feedback of otherStoriesSameRecipient"
            [class.clickable]="feedback.url"
            [attr.role]="feedback.url ? 'link' : null"
            [attr.tabindex]="feedback.url ? 0 : null"
            (click)="feedback.url && navigateToStory(feedback.url, $event)"
            (keydown.enter)="feedback.url && navigateToStory(feedback.url, $event)"
            (keydown.space)="feedback.url && navigateToStory(feedback.url, $event)">
            <span class="feedback-status">{{ 'story.status.' + feedback.status | translate | titlecase}}</span>
            <span class="feedback-date">{{ feedback.createdAt | date:'dd MMMM yy'}}</span>
        </div>

    </ng-container>
    <ng-template #noHistory>
        <div class="no-history">
            {{ 'story.details.review.other.noHistory' | translate }}
        </div>
    </ng-template>
</div>