<div class="story-review-form-container form">
  <!-- STORY TYPE -->
  <app-form-section [heading]="'StoryType'" [isValid]="isAnyCategorySelected()" [onlyContent]="true" [required]="true"
    [requiredValidationError]="submittingError" class="form__section">
    <div class="form__checkbox-wrapper">
      <app-checkbox *ngFor="let category of categories" (changed)="handleCategoryChange($event, category)"
        [checked]="isSelectedCategory(category.id)" [value]="category.id" class="form__checkbox">{{ 'category.' +
        category.code | translate }}</app-checkbox>
    </div>

    <div class="sensitive-story-type-container">
      <loop-moderator-tag *ngIf="storyDetailsService.story.age === AGE_VALUE_EXTENDED.BETWEEN_0_AND_13"
        [category]="StoryCategory.CONCERN" [tagSize]="TagSize.LARGE"></loop-moderator-tag>
      <br>
      <app-slide-toggle (changed$)="handleIsSensitiveChange()" [checked]="storyDetailsService.story.isSensitive"
        [disabled]="storyDetailsService.story.age === AGE_VALUE_EXTENDED.BETWEEN_0_AND_13"
        [text]="'This is a sensitive feedback'"></app-slide-toggle>

      <div class="sensitive-story-type-info">
        <loop-icon [name]="LoopIcon.Name.Padlock" [theme]="LoopIcon.Theme.Neutral" [size]="17"
          [isButton]="false"></loop-icon>
        <span class="sensitive-story-type-info__text">{{ 'story.details.review.form.sensitiveLabel' | translate }}
        </span>
      </div>
    </div>
  </app-form-section>

  <h3 class="story-review-form-section-title">{{ 'story.details.review.form.demographicalInfo' | translate }}</h3>

  <!-- Author name -->
  <app-form-section [required]="true" [heading]="'Author name'" [onlyContent]="true" class="form__section"
    [isValid]="isAuthorNameValid()" [requiredValidationError]="submittingError">
    <loop-input [showClearBtn]="true" [showCloseIcon]="true"
      [placeholder]="'story.review.authorName.placeholder' | translate"
      [(ngModel)]="storyDetailsService.story.authorNickname" id="authorName" inputmode="text" type="text"></loop-input>
  </app-form-section>

  <!-- AGE -->
  <app-form-section [required]="true" [heading]="'global.age' | translate" [onlyContent]="true" class="form__section"
    [isValid]="isAgeValid()" [requiredValidationError]="submittingError">
    <app-radio-group name="age" [(ngModel)]="storyDetailsService.story.age" [columns]="ui.tabletView ? 1 : 2"
      (ngModelChange)="onAgeChange($event)">
      <loop-new-story-radio *ngFor="let ageOption of ageOptions"
        [checked]="ageOption.value === storyDetailsService.story.age" [label]="ageOption.content | translate"
        [value]="ageOption.value">
      </loop-new-story-radio>
    </app-radio-group>
  </app-form-section>

  <!-- GENDER -->
  <app-form-section [required]="true" [heading]="'global.gender' | translate" [onlyContent]="true" class="form__section"
    [isValid]="isGenderValid()" [requiredValidationError]="submittingError">
    <app-radio-group name="gender" [(ngModel)]="storyDetailsService.story.gender" [columns]="ui.tabletView ? 1 : 2">
      <loop-new-story-radio *ngFor="let genderOption of genderOptions"
        [checked]="genderOption.value === storyDetailsService.story.gender" [label]="genderOption.content | translate"
        [value]="genderOption.value"></loop-new-story-radio>
    </app-radio-group>
  </app-form-section>

  <!-- DISABILITY -->
  <app-form-section [required]="true" [heading]="'Does the author have any disability?'" [onlyContent]="true"
    class="form__section" [isValid]="isDisabilityValid()" [requiredValidationError]="submittingError">
    <app-radio-group name="disability" [(ngModel)]="hasDisabilities" (ngModelChange)="handleDisabilitiesChange()"
      [columns]="ui.tabletView ? 1 : 2">
      <loop-new-story-radio *ngFor="let disabilityOption of disabilityOptions"
        [label]="disabilityOption.content | translate" [value]="disabilityOption.value"></loop-new-story-radio>
    </app-radio-group>

    <div *ngIf="hasDisabilities" class="form__checkbox-wrapper space-above-wrapper">
      <app-checkbox *ngFor="let difficulty of difficulties" (changed)="handleDifficultyChange($event, difficulty)"
        [checked]="isSelectedDifficulty(difficulty.id)" [value]="difficulty.id" class="form__checkbox">
        <span class="form__checkbox-text">{{ difficulty.code | translate }}</span>
      </app-checkbox>
    </div>

    <div *ngIf="hasDisabilities && isOtherDifficultySelected" class="form__text-field-wrapper space-above-wrapper">
      <label class="form__label">{{ 'newStoryV2.form.condition.other.label' | translate }}</label>
      <loop-textarea [(ngModel)]="storyDetailsService.story.disabilitiesOtherExplanation"
        [placeholder]="'newStoryV2.form.condition.other.placeholder' | translate" [maxLength]="500"></loop-textarea>
    </div>
  </app-form-section>

  <!--  IS MINORITY-->
  <app-form-section [required]="true" class="form__section" [heading]="'global.isMinority' | translate"
    [onlyContent]="true" [isValid]="isMinorityValid()" [requiredValidationError]="submittingError">
    <app-radio-group name="minority" [columns]="ui.tabletView ? 1 : 2">
      <loop-new-story-radio *ngFor="let option of minorityOptions"
        [checked]="storyForm.get('isMinority').value === option.value" (change)="updateMinorityStatus(option.value)"
        [label]="option.content | translate" [value]="option.value">
      </loop-new-story-radio>
    </app-radio-group>
  </app-form-section>

  <h3 class="story-review-form-section-title">{{ 'story.details.review.form.geographicalInfo' | translate }}</h3>

  <!-- Country -->
  <!-- <app-form-section
    [heading]="'filters.country' | translate"
    [isValid]="isCountrySelected()"
    [onlyContent]="true"
    [required]="true"
    [requiredValidationError]="submittingError"
    [selectedItems]="selectedCountry"
    [singleValue]="true"
    class="form__section"
  >
    <loop-country-filter [formControl]="storyForm.get('countryControl')"></loop-country-filter>
  </app-form-section> -->

  <!-- LOCATION -->
  <app-form-section [required]="true" [isValid]="!!storyDetailsService.story.countryId"
    [requiredValidationError]="submittingError" [heading]="'admin.pendingStoryReview.location' | translate"
    [onlyContent]="true" [selectedItems]="selectedPlace" [singleValue]="true" class="form__section">
    <app-location [place]="storyDetailsService.story.place" (data$)="onRegionDataChange($event)"
      [countryCode]="storyDetailsService.story.country"
      [countryId]="storyDetailsService.story.countryId"></app-location>
  </app-form-section>

  <h3 class="story-review-form-section-title">{{ 'story.details.review.form.otherInfo' | translate }}</h3>

  <!-- ORIGINAL LANGUAGE -->
  <app-form-section [heading]="'admin.pendingStoryReview.originalLanguage' | translate" [isValid]="isLanguageSelected()"
    [onlyContent]="true" [required]="true" [requiredValidationError]="submittingError"
    [selectedItems]="originalStoryLanguage" [singleValue]="true" class="form__section">
    <loop-autocomplete (queryChanged)="handleLanguageQueryChange($event)"
      [formControl]="storyForm.get('languageControl')" [openDropDownOnSuffixClick]="true" [options]="matchingLanguages"
      [placeholder]="'admin.pendingStoryReview.originalLanguagePlaceholder' | translate"
      [showErrorIcon]="true"></loop-autocomplete>
  </app-form-section>

  <!-- ORGANISATIONS -->
  <app-form-section (apply)="handleOrganisationAdd()" (dismiss)="dismissOrganisation($event)"
    (outsideClicked)="organisationsOutsideClick()" [heading]="'admin.organisationsLabel'" [onlyContent]="true"
    [singleValue]="false" class="form__section">
    <div *ngIf="selectedOrganisations.length" class="organisation-list" data-testid="organisation-list">
      <loop-simple-tag *ngFor="let organisation of selectedOrganisations" (close$)="removeOrganisation(organisation.id)"
        [closeButton]="true" [tagSize]="TagSize.MEDIUM" [tagTheme]="SimpleTagTheme.LOOP"
        [text]="getOrganisationLabel(organisation)" [country]="organisation?.country" [leftIcon]="true">
        <ng-container left-icon *ngIf="organisation.usersCount > 0; else noUser">
          <loop-icon [name]="LoopIcon.Name.Check" [theme]="LoopIcon.Theme.Primary" [size]="12"
            [isButton]="false"></loop-icon>
        </ng-container>
        <ng-template left-icon #noUser>
          <svg width="16" height="16" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.64989 3.82006C8.35989 2.72006 9.59989 2.00006 10.9999 2.00006C13.2099 2.00006 14.9999 3.79006 14.9999 6.00006C14.9999 7.40006 14.2799 8.64006 13.1799 9.35006L7.64989 3.82006ZM18.9999 15.1701C18.9799 14.0701 18.3699 13.0601 17.3899 12.5501C16.8499 12.2701 16.2599 12.0101 15.6199 11.7901L18.9999 15.1701ZM20.1899 19.1901L1.80989 0.810059L0.389893 2.22006L9.27989 11.1101C7.46989 11.3401 5.88989 11.9001 4.60989 12.5601C3.60989 13.0701 2.99989 14.1001 2.99989 15.2201V18.0001H16.1699L18.7799 20.6101L20.1899 19.1901Z"
              fill="#6C4E99" />
          </svg>
        </ng-template>
      </loop-simple-tag>
    </div>
    <loop-organisation [ngClass]="{ 'has-organisations': selectedOrganisations.length }"
      [formControl]="storyForm.get('organisationControl')" [openDropDownOnSuffixClick]="true"
      [placeholder]="'newStory.form.organisations.placeholder' | translate" [runRequestOnAdd]="true"
      [selectedOrganizations]="selectedOrganisations" [showAddOption]="true" [showAllWhenEmpty]="true"
      class="form__selector" name="organisations">
    </loop-organisation>

    <div class="invitation">
      <button (click)="openInvitation()" class="invitation__btn">{{ 'organisation.invitation.title' | translate
        }}</button>
    </div>

    <ng-container *ngIf="invites.length">
      <p class="invite-info">{{ 'newStory.form.organisations.invitations' | translate }}</p>

      <ul>
        <li *ngFor="let invite of invites; let i = index; trackBy">
          <div class="invitation-selected-wrap">
            <div class="selected-invitation">
              <div class="wrap">
                <div class="selected-organisation">
                  {{ getOrganisationProperty(invite.organisationId, 'name') }}
                </div>
                <div class="selected-lang">
                  {{ getOrganisationProperty(invite.organisationId, 'country') | country }}
                </div>
              </div>
              <div class="selected-email">
                {{ invite.email }}
              </div>
            </div>
            <div class="delete" (click)="removeSelectedInvitation(i)">
              <loop-icon [name]="LoopIcon.Name.AudioPlayerDelete" [theme]="LoopIcon.Theme.Danger"
                [isThemeReverted]="true" [isButton]="true"></loop-icon>
            </div>
          </div>
        </li>
      </ul>
    </ng-container>
  </app-form-section>

  <!-- THEMATIC AREA -->
  <app-form-section (apply)="handleThematicChange()" (dismiss)="dismissThematicArea($event)"
    (outsideClicked)="thematicAreaOutsideClick()" [heading]="'filters.thematic' | translate"
    [isValid]="selectedThematics.length" [required]="true" [requiredValidationError]="submittingError"
    [selectedItems]="selectedThematics" class="form__section" dropdownWidth="auto">
    <loop-checkbox-filter-wrapper-grouped [filterData]="thematicAreaData" [form]="storyForm" [isModal]="false"
      [reset$]="resetThematics$" controlName="thematics"></loop-checkbox-filter-wrapper-grouped>
  </app-form-section>

  <!-- VULNERABILITY FACTORS -->
  <app-form-section (dismiss)="dismissVulnerabilityFactor($event)"
    [heading]="'filtersV2.vulnerabilityFactors.label' | translate" [selectedItems]="selectedVulnerabilityFactors"
    [fabButtonSize]="'small'" [isStaticDropdown]="true" class="form__section" dropdownWidth="auto">
    <div class="form__checkbox-wrapper">
      <app-checkbox *ngFor="let factor of vulnerabilityFactors"
        (changed)="handleVulnerabilityFactorChange($event, factor)" [checked]="isSelectedVulnerabilityFactor(factor.id)"
        [value]="factor.id" class="form__checkbox">
        <span class="form__checkbox-text">{{ factor.code | translate }}</span>
      </app-checkbox>
    </div>
  </app-form-section>

  <!-- IS URGENT -->
  <app-form-section class="form__section" [heading]="'global.isUrgent' | translate" [onlyContent]="true">
    <app-radio-group name="urgent" [columns]="ui.tabletView ? 1 : 2">
      <loop-new-story-radio *ngFor="let option of urgentOptions"
        [checked]="storyForm.get('isUrgent').value === option.value" (change)="updateUrgentStatus(option.value)"
        [label]="option.content | translate" [value]="option.value">
      </loop-new-story-radio>
    </app-radio-group>
  </app-form-section>
</div>