<app-inline-loading *ngIf="!listInitialized" [diameter]="50" class="overlay"></app-inline-loading>

<div id="home-wrapper" class="opacity-transition" [ngClass]="!listInitialized ? 'opacity-0' : 'opacity-1'">
  <loop-filter-section-v2 [config]="filtersConfig$ | async" [showAllStoriesButton]="false"></loop-filter-section-v2>
  <div class="stories-container">
    <div id="stories-section" [class.s-mobile]="ui.mobileView$ | async">
      <div class="stories-container">
        <app-list (listLoaded)="listLoaded()" [scrollToId]="getLastStory"></app-list>
      </div>
    </div>
  </div>
</div>