@import 'variables';
@import 'mixins';

#stories-section {
  min-height: 100vh;

  &.s-mobile {
    @include padding-left(0);
    @include padding-right(0);
  }
}

.stories-container {
  max-width: 44.375rem;
  margin: 0 auto;
}

#filters-wrapper {
  background-color: white;
}

#filters-section {
  max-width: 480px;
  margin: 0 auto;
  overflow-y: auto;

  @media screen and (max-width: $breakpoint-md - 0.1) {
    display: none;
  }
  ::ng-deep {
    ibm-search.bx--form-item {
      margin-bottom: 0;
    }

    h1 {
      margin-top: 0.5rem;
    }
  }
}
