<div class="reply-form">
  <app-skeleton-text *ngIf="skeleton; else replyFormBlock" [lines]="12"> </app-skeleton-text>
  <ng-template #replyFormBlock>
    <form [formGroup]="replyForm">
      <div class="reply-form__header">
        <app-chat-reply-icon class="reply-form__header-icon"></app-chat-reply-icon>
        <span class="reply-form__header-text">{{ 'story.replyForm.header.text' | translate }}</span>
      </div>
      <ng-container *ngIf="!successMessageShown; else successMessage">
        <section class="reply-form__section">
          <loop-textarea
            [infoTooltip]="story?.channel === CHANNEL_CONSTANTS.SMS ? ('story.replyForm.text.smsTooltip' | translate) : ''"
            [maxLength]="story?.channel === CHANNEL_CONSTANTS.SMS ? smsReplyCharactersLimit : otherReplyCharactersLimit"
            [placeholder]="'story.replyForm.text.content.placeholder' | translate"
            [small]="true"
            formControlName="content"
          ></loop-textarea>
          <p *ngIf="!userProfile" class="subtext-textarea">{{ 'story.replyForm.text.warningSignIn' | translate }}</p>
        </section>
        <section *ngIf="!userProfile?.nickname" class="reply-form__section">
          <h4 class="reply-form__section-heading">{{ 'story.replyForm.text.name.label' | translate }}</h4>
          <p class="reply-form__section-text">{{ 'story.replyForm.text.name.info' | translate }}</p>
          <loop-input class="reply-form__section-input" formControlName="nickname" [small]="true"></loop-input>
        </section>
        <section *ngIf="!userProfile?.email" class="reply-form__section">
          <h4 class="reply-form__section-heading">{{ 'story.replyForm.text.email.label' | translate }}</h4>
          <p class="reply-form__section-text">{{ 'story.replyForm.text.email.nonSensitive.info' | translate }}</p>
          <loop-input class="reply-form__section-input" formControlName="email" [small]="true"></loop-input>
        </section>
        <section>
          <loop-checkbox *ngIf="!userProfile" formControlName="termsAgree">
            {{ 'story.replyForm.text.checkbox' | translate }}
          </loop-checkbox>
        </section>

        <section class="reply-form__actions">
          <app-button class="reply-form__submit-button" mode="v2" variant="primary" [disabled]="submitted" (clicked)="submitComment()">
            <span>{{ (submitted ? 'story.replyForm.text.submitting' : 'story.replyForm.text.submit') | translate }}</span>
            <app-arrow-next-icon></app-arrow-next-icon>
          </app-button>
          <!--          hidden for now as we are lacking design-->
          <div class="d-none mb-1-mobile" *ngIf="userProfile">
            <div class="text-small t-medium text-right">
              <span class="text-grayed">{{ 'story.replyForm.replyingAs' | translate }}&nbsp;</span>
              <span class="username-01">{{ userProfile.nickname }}</span>
            </div>
            <div class="text-small t-medium text-right">
              <a class="text-highlight2 link-basic-over" (click)="logout()" href="javascript:void(0)">
                {{ 'story.replyForm.signOut' | translate }}
              </a>
            </div>
          </div>
        </section>
      </ng-container>
    </form>
    <ng-template #successMessage>
      <article class="reply-form__success-message">
        <app-checkmark-round-icon class="reply-form__success-message-icon"></app-checkmark-round-icon>
        <h3 class="reply-form__success-message-text">
          {{ 'story.replyForm.success.text.line1' | translate }}<br />{{ 'story.replyForm.success.text.line2' | translate }}
        </h3>
        <app-button variant="link-2" noPadding="true" (click)="successMessageShown = false">{{
          'story.replyForm.success.action' | translate
        }}</app-button>
      </article>
    </ng-template>
  </ng-template>
</div>
