<div class="organisation-filter">
  <div *ngIf="title" class="filter-v2-container__section-title">
    <span class="filter-v2-container__section-title-name">{{ title }}</span>
    <div class="separator"></div>
  </div>
  <div>
    <loop-input
      [showClearBtn]="false"
      [showCloseIcon]="false"
      [placeholder]="getPlaceholder()"
      [formControl]="searchOrganisation"
      class="flex-grow-1"
      cy="autocomplete-loop-input"
      autocomplete="off"
      [solidPlaceholder]="true"
    >
      <app-search-icon prefix class="autocomplete__icon autocomplete__search-icon"></app-search-icon>
    </loop-input>
    <div class="scrollable-organization-list">
      <div *ngFor="let organization of matchingOrganizations; trackBy: trackByFn" class="organization-item">
        <!-- Click for all area -->
        <div
          class="form-group-wrap"
          [class.checked]="isOrganizationSelected(organization)"
          (click)="toggleOrganizationSelection(organization)"
        >
          <!-- Mark and text -->
          <div class="form-check">
            <app-check-square
              [checked]="isOrganizationSelected(organization)"
              [tabIndex]="0"
              class="new"
              [compact]="true"
              [attr.aria-checked]="isOrganizationSelected(organization)"
              (clicked)="toggleOrganizationSelection(organization); onFilterChange()"
              [class.checked]="isOrganizationSelected(organization)"
            ></app-check-square>
            <span class="checkbox__label">{{ organization.name }}</span>
          </div>
          <div class="wrap">
            <div class="pills-wrap">
              <span class="pills-number">{{ organization.storiesCount }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!title" class="apply-btn">
    <div class="mobile-btns">
      <app-button
        class="apply-btn"
        [mode]="'v2'"
        [disabled]="false"
        (click)="submitForm()"
      >
      <span>
        {{ 'filtersV2.apply' | translate }}
        {{ currentFiltersCount() > 0 ? ' (' + currentFiltersCount() + ')' : '' }}
      </span>
      </app-button>
    </div>
  </div>

</div>
